[package]
name = "vizia_winit"
version = "0.1.0"
authors = ["George Atkinson"]
edition = "2021"
license = "MIT"
repository = "https://github.com/vizia/vizia"
description = "Winit backend for vizia"
rust-version = "1.60"

[features]
x11 = ["winit/x11", "glutin?/x11", "glutin-winit/x11"]
wayland = ["winit/wayland", "winit/wayland-dlopen", "winit/wayland-csd-adwaita", "glutin-winit/wayland", "copypasta?/wayland"]
clipboard = ["copypasta"]

[dependencies]
vizia_input = { path = "../vizia_input" }
vizia_core = { path = "../vizia_core" }
vizia_id = { path = "../vizia_id" }
vizia_window = { path = "../vizia_window" }

accesskit = "0.12"
winit = { version = "0.29", default-features = false }
femtovg = "0.8.2"
glutin = { version = "0.31", default-features = false, optional = true }
copypasta = {version = "0.10", optional = true, default-features = false }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
accesskit_winit = "0.18"
glutin = { version = "0.31", default-features = false }
femtovg = "0.8.2"
glutin-winit = { version = "0.4", default-features = false, features = ["egl", "glx", "wgl"] }
raw-window-handle = "0.5"

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = { version = "0.2" }
web_sys = { version = "0.3", package = "web-sys", features = ["console", "WebGlContextAttributes"] }
console_error_panic_hook = "0.1.5"

[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3.9", default-features = false, features = ["minwindef", "dwmapi"] }
