.container {
    padding: 0px;
}

scrollview.widgets > scroll-content {
    padding: 20px;
    alignment: top-center;
    vertical-gap: 15px;
}

tabview.widgets > scrollview > scroll-content {
    padding: 8px;
}

tabview.widgets tabheader label.tab-name {
    width: 220px;
}

tabview.widgets tabheader:checked label.tab-name {
    corner-radius: 4px;
    background-color: #51afef;
}

vstack.panel {
    height: auto;
    width: 3s;
    min-width: 500px;
    max-width: 700px;
}

label.title {
    font-size: 30;
    font-weight: bold;
    bottom: 20px;
}

label.header {
    font-size: 20;
    font-weight: bold;
    bottom: 6px;
    top: 24px;
}

label.paragraph {
    width: 1s;
    text-wrap: true;
    bottom: 12px;
}

demo-region {
    /* padding: 40px; */
    /* padding-left: 1s;
    child-right: 1s; */
    height: auto;
}

demo-region > .region {
    corner-radius: 4px;
    height: auto;
    padding: 30px;
    alignment: top-center;
    border-width: 1px;
    border-color: var(--border);
}

demo-region .region-title {
    height: auto;
    width: auto;
    padding: 8px;
    font-size: 16px;
    color: var(--muted-foreground);
}

markdown {
    padding: 0px;
}
