[package]
name = "vizia"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "A Rust GUI Framework"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = ["core", "glutin", "baseview", "derive", "run-wasm"]

[[example]]
name = "button"
path = "examples/controls/button.rs"


[[example]]
name = "slider"
path = "examples/controls/slider.rs"

[[example]]
name = "knob"
path = "examples/controls/knob.rs"

[[example]]
name = "checkbox"
path = "examples/controls/checkbox.rs"

[[example]]
name = "radiobutton"
path = "examples/controls/radiobutton.rs"

[[example]]
name = "zstack"
path = "examples/controls/zstack.rs"

[[example]]
name = "picker"
path = "examples/controls/picker.rs"

[[example]]
name = "popup"
path = "examples/controls/popup.rs"

[[example]]
name = "dropdown"
path = "examples/controls/dropdown.rs"

[[example]]
name = "textbox"
path = "examples/controls/textbox.rs"

[[example]]
name = "number_input"
path = "examples/controls/number_input.rs"

[[example]]
name = "widget_gallery"
path = "examples/controls/widget_gallery.rs"

[[example]]
name = "list"
path = "examples/lists/list.rs"

[[example]]
name = "selectable_list"
path = "examples/lists/selectable_list.rs"

[[example]]
name = "editable_list"
path = "examples/lists/editable_list.rs"

[[example]]
name = "multiselectable_list"
path = "examples/lists/multiselectable_list.rs"

[[example]]
name = "sortable_list"
path = "examples/lists/sortable_list.rs"

[[example]]
name = "static_list"
path = "examples/lists/static_list.rs"

[[example]]
name = "image"
path = "examples/controls/image.rs"

[[example]]
name = "menu"
path = "examples/controls/menu.rs"


[[example]]
name = "7guis_counter"
path = "examples/7GUIs/counter.rs"

[[example]]
name = "7guis_temperature_converter"
path = "examples/7GUIs/temperature_converter.rs"

[[example]]
name = "7guis_flight_booker"
path = "examples/7GUIs/flight_booker.rs"

[[example]]
name = "7guis_crud"
path = "examples/7GUIs/crud.rs"

[[example]]
name = "focus_order"
path = "examples/accessibility/focus_order.rs"

[features]
default = ["glutin", "clipboard"]
clipboard = ["vizia_core/clipboard"]
glutin = ["vizia_glutin"]
baseview = ["vizia_baseview"]
meadowlark = ["glutin", "vizia_core/meadowlark"]


[dependencies]
vizia_core = { version = "0.1.0", path = "core"}
vizia_glutin = { version = "0.1.0", path = "glutin", optional = true }
vizia_baseview = { version = "0.1.0", path = "baseview", optional = true }

[dev-dependencies]
english-numbers = "0.3.3"
lazy_static = "1.4.0"
chrono = "0.4.19"
image = { version = "0.24.0", default-features = false, features = ["png"] }
reqwest = { version = "0.11.9", features = ["blocking"] }
