
/* Filled Button */
button {
    background-color: #2000AA;
    width: auto;
    height: 30px;
    border-radius: 3px;
    child-space: 1s;
    child-left: 5px;
    child-right: 5px;
}

button label {
    color: white;
    background-color: #00000000;
    child-space: 1s;
}

button:over {
    background-color: #2000DD;
}

button.outlined {
    background-color: #00000000;
    border-color: #2000AA;
    border-width: 1px;
}

button.outlined label {
    color: #2000AA;
}

button.outlined:over {
    background-color: #202000AA;
}

button.text {
    background-color: #00000000;
}

button.text label {
    color: #2000AA;
}

button.text:over {
    background-color: #202000AA;
}

label.icon {
    font: "icon";
}


label {
    width: auto;
    height: auto;
    child-space: 1s;
}

hstack {
    width: 1s;
    height: 1s;
}

vstack {
    width: 1s;
    height: 1s;
}

zstack>* {
    position-type: self-directed;
}

checkbox {
    border-width: 1px;
    border-color: black;
    font: icons;
    child-space: 1s;
}

checkbox:checked {
    
}