/* * {
    border-width: 1px;
    border-color: red;
} */

button {
    background-color: #2000AA;
    width: auto;
    height: 30px;
    border-radius: 3px;
    child-space: 1s;
    child-left: 5px;
    child-right: 5px;
}

button label {
    color: white;
    background-color: #00000000;
    child-space: 1s;
}

button:over {
    background-color: #2000DD;
}

button.outlined {
    background-color: #00000000;
    border-color: #2000AA;
    border-width: 1px;
}

button.outlined label {
    color: #2000AA;
}

button.outlined:over {
    background-color: #202000AA;
}

button.text {
    background-color: #00000000;
}

button.text label {
    color: #2000AA;
}

button.text:over {
    background-color: #202000AA;
}

label.icon {
    font: "icon";
}


textbox {
    width: auto;
    height: auto;
    overflow: hidden;
    color: black;
    border-width: 1px;
    border-color: #9e9e9e;
    child-top: 1s;
    child-bottom: 1s;
    height: 30px;
    border-radius: 3px;
}

textbox:over {
    border-color: black;
}

textbox:checked {
    border-color: #4c00ff;
}

textbox .caret {
    background-color: #ff0000;
}

textbox .selection {
    background-color: #6464c888;
}


label {
    width: auto;
    height: auto;
    child-space: 1s;
    overflow: visible;
}

label.h1 {
    font-size: 18;
    bottom: 10px;
}

label:disabled {
    color: gray;
}

checkbox {
    /* color: black; */
}

hstack {
    width: 1s;
    height: 1s;
}

vstack {
    width: 1s;
    height: 1s;
}

zstack>* {
    position-type: self-directed;
}

checkbox {
    border-width: 1px;
    border-color: black;
    font: icons;
    child-space: 1s;
}

checkbox:disabled {
    color: gray;
    border-color: gray;
}

radiobutton {
    width: 20px;
    height: 20px;
    border-width: 6%;
    right: 4px;
    color: black;
    border-color: black;
}

dropdown .title {
    background-color: white;
    border-width: 1px;
    border-color: black;
}

radiobutton:checked {
    color: #003080;
    border-color: #003080;
}

dropdown .title {
    background-color: #FFFFFF;
    height: 30px;
    width: 100px;
    child-space: 1s;
    child-left: 5px;
}

dropdown>popup {
    background-color: #AAAAAA;
    outer-shadow: 0 3 5 #55000000;
}

dropdown>popup>list {
    width: 1s;
}

dropdown list label {
    width: 1s;
    height: 30px;
    child-left: 6px;
}

dropdown vstack {
    child-space: auto;
}

list {
    width: auto;
    height: auto;
}
