/* * {
    border-width: 1px;
    border-color: red;
} */

button {
    background-color: white;
    width: auto;
    height: 30px;
    border-radius: 3px;
    child-space: 1s;
    child-left: 10px;
    child-right: 10px;
    border-width: 1px;
    border-color: #e5e5e5;
    outer-shadow: 0 1 1 #00000055;
    overflow: visible;
}

button label {
    color: #1a1a1a;
    background-color: #00000000;
    child-space: 1s;
}

button:over {
    background-color: #f6f6f6;
}

button:active {
    overflow: hidden;
}

button:active label {
    color: #5d5d5d;
}

button.accent {
    background-color: #005a9e;
    border-width: 0px;
    border-color: #3076ae;
    outer-shadow: 0 1 0 #00365f;
}

button.accent label {
    color: white;
}

button.accent:over {
    background-color: #1969a7;
}

button.accent:active {
    background-color: #3178af;
}

button.accent:active label {
    color: #c2d7e7;
}

checkbox {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #838383;
    color: #ffffff00;
    background-color: #ffffff00;
    child-space: 1s;
    transition: background-color 0.1 0.0;
    transition: color 0.1 0.0;
    transition: color 0.1 0.0;
}

checkbox:hover {
    background-color: #e5e5e5;
    transition: background-color 0.05 0.0;
}

checkbox:active {
    border-color: #b6b6b6;
    background-color: #dcdcdc;
    transition: background-color 0.1 0.0;
}

checkbox:checked {
    background-color: #005a9e;
    border-color: #005a9e;
    color: #f5f5f5;
    transition: background-color 0.1 0.0;
    transition: color 0.1 0.0;
}

label.icon {
    font: "icons";
}


textbox {
    width: auto;
    height: auto;
    overflow: hidden;
    color: black;
    border-width: 1px;
    border-color: #e5e5e5;
    background-color: white;
    child-top: 1s;
    child-bottom: 1s;
    child-left: 5px;
    height: 30px;
    border-radius: 3px;
}

textbox:hover {
    background-color: #f6f6f6;
}

textbox:checked {
    border-color: #4c00ff;
}

textbox .caret {
    background-color: #ff0000;
}

textbox .selection {
    background-color: #6464c888;
}

textbox:disabled {
    color: gray;
    border-color: gray;
}

codeview {
    width: auto;
    height: auto;
    overflow: hidden;
    color: black;
    border-width: 1px;
    border-color: #9e9e9e;
    child-top: 1s;
    child-bottom: 1s;
    height: 30px;
    border-radius: 3px;
}

codeview:over {
    border-color: black;
}

codeview:checked {
    border-color: #4c00ff;
}

codeview .caret {
    background-color: #ff0000;
}

codeview .selection {
    background-color: #6464c888;
}


label {
    width: auto;
    height: auto;
    child-space: 1s;
}

label.h1 {
    font-size: 18;
    bottom: 10px;
}

label:disabled {
    color: gray;
}

image {
    width: auto;
    height: auto;
}

hstack {
    width: 1s;
    height: 1s;
}

vstack {
    width: 1s;
    height: 1s;
}

zstack>* {
    position-type: self-directed;
}

radiobutton {
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-radius: 50%;
    border-color: #888888;
    background-color: white;
    child-space: 1s;
}

radiobutton:checked {
    border-color: #005a9e;
    background-color: #005a9e;
    transition: background-color 0.1 0.0;
}

radiobutton .inner {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    display: none;
}

radiobutton:checked .inner {
    display: flex;
    width: 12px;
    height: 12px;
    transition: width 0.1 0.0;
    transition: height 0.1 0.0;
}

dropdown .title {
    child-space: 1s;
    child-left: 5px;
}

dropdown>popup {
    outer-shadow: 0 3 5 #00000055;
}

dropdown>popup>list {
    width: 1s;
}

dropdown list label {
    width: 1s;
    height: 30px;
    child-left: 6px;
}

dropdown vstack {
    child-space: auto;
}

slider {
    height: 5px;
    top: 1s;
    bottom: 1s;
    width: 1s;
    background-color: #868686;
    border-radius: 3px;
}

slider.vertical {
    top: auto;
    bottom: auto;
    height: 1s;
    width: 10px;
}

slider track {
}

slider .active {
    background-color: #005a9e;
    border-radius: 4.5px;
}

slider .thumb {
    background-color: white;
    top: 1s;
    bottom: 1s;
    border-radius: 14.5px;
    border-color: #cccccc;
    border-width: 1px;
    width: 26px;
    height: 26px;
    child-space: 1s;
}

slider .thumb>.inner {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #005a9e;
    transition: width 0.1 0.0;
    transition: height 0.1 0.0;
}

slider .thumb:hover>.inner {
    width: 18px;
    height: 18px;
    transition: width 0.1 0.0;
    transition: height 0.1 0.0;
}

slider:active .thumb>.inner {
    width: 10px;
    height: 10px;
    transition: width 0.1 0.0;
    transition: height 0.1 0.0;
}

scrollbar {
    background-color: #9e9e9e;
    border-radius: 7px;
    child-space: 2px;
}

scrollbar>.thumb {
    background-color: #5d5d5d;
    border-radius: 6px;
    min-width: 12px;
    min-height: 12px;
}

scrollview {
    overflow: hidden;
}

scrollview>.scroll_content {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position-type: self-directed;
}

scrollview>scrollbar.horizontal {
    left: 0px;
    width: 1s;
    right: 14px;

    top: 1s;
    height: 14px;
    bottom: 0px;
}

scrollview>scrollbar.vertical {
    top: 0px;
    height: 1s;
    bottom: 0px;

    left: 1s;
    width: 14px;
    right: 0px;
}

list {
    width: auto;
    height: auto;
}

popup {
    display: none;
    opacity: 0.0;
}

popup:checked {
    display: flex;
    opacity: 1.0;
    transition: opacity 0.1 0.0;
}
menucontroller {
    width: 0px;
    height: 0px;
    overflow: visible;
}

menustack {
    width: auto;
    height: auto;
    background-color: #dddddd;
    border-color: #aaaaaa;
    border-width: 1px;
    color: black;
    overflow: visible;
}

menu {
    overflow: visible;
    child-space: 3px;
}

menubutton {
    child-space: 3px;
}

menu:selected {
    background-color: #00264f;
    color: white;
}

menubutton:selected {
    background-color: #00264f;
    color: white;
}

menustack.vertical {
    layout-type: column;
}

menustack.horizontal {
    layout-type: row;
}

menu>menustack {
    position-type: self-directed;
    z-index: 1000;
    display: none;
}

menu:selected>menustack {
    display: flex;
}

menustack.vertical>menu>menustack {
    left: 100%;
}

menustack.horizontal>menu>menustack {
    top: 100%;
}

.menu_arrow {
    display: none;
}

menustack.vertical>menu>hstack>.menu_arrow {
    display: flex;
    font: "material";
    left: 1s;
    top: 1s;
    bottom: 1s;
}
