/* * {
    border-width: 1px;
    border-color: red;
} */

button {
    background-color: white;
    width: auto;
    height: 30px;
    border-radius: 3px;
    child-space: 1s;
    child-left: 5px;
    child-right: 5px;
    border-width: 1px;
    border-color: #e5e5e5;
    outer-shadow: 0 1 1 #00000055;
    overflow: visible;
}

button label {
    color: #1a1a1a;
    background-color: #00000000;
    child-space: 1s;
}

button:over {
    background-color: #f6f6f6;
}

button:active {
    /* outer-shadow: 0 0 0 #00000055; */
    overflow: hidden;
}

button:active label {
    color: #5d5d5d;
}

button.accent {
    background-color: #005a9e;
    border-width: 0px;
    /* border-color: #3076ae */
    border-color: #3076ae;
    outer-shadow: 0 1 0 #00365f;
}

button.accent label {
    color: white;
}

button.accent:over {
    background-color: #1969a7;
}

button.accent:active {
    background-color: #3178af;
}

button.accent:active label {
    color: #c2d7e7;
}

checkbox {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-color: #838383;
}

checkbox:hover {
    background-color: #e5e5e5;
}

checkbox:active {
    border-color: #b6b6b6;
    background-color: #dcdcdc;
}

label.icon {
    font: "icons";
}


textbox {
    width: auto;
    height: auto;
    overflow: hidden;
    color: black;
    border-width: 1px;
    border-color: #9e9e9e;
    child-top: 1s;
    child-bottom: 1s;
    child-left: 5px;
    height: 30px;
    border-radius: 3px;
}

textbox:hover {
    border-color: black;
}

textbox:checked {
    border-color: #4c00ff;
}

textbox .caret {
    background-color: #ff0000;
}

textbox .selection {
    background-color: #6464c888;
}

textbox:disabled {
    color: gray;
    border-color: gray;
}

codeview {
    width: auto;
    height: auto;
    overflow: hidden;
    color: black;
    border-width: 1px;
    border-color: #9e9e9e;
    child-top: 1s;
    child-bottom: 1s;
    height: 30px;
    border-radius: 3px;
}

codeview:over {
    border-color: black;
}

codeview:checked {
    border-color: #4c00ff;
}

codeview .caret {
    background-color: #ff0000;
}

codeview .selection {
    background-color: #6464c888;
}


label {
    width: auto;
    height: auto;
    child-space: 1s;
    overflow: visible;
}

label.h1 {
    font-size: 18;
    bottom: 10px;
}

label:disabled {
    color: gray;
}

image {
    width: auto;
    height: auto;
}

checkbox {
    /* color: black; */
    width: 20px;
    height: 20px;
}

hstack {
    width: 1s;
    height: 1s;
}

vstack {
    width: 1s;
    height: 1s;
}

zstack>* {
    position-type: self-directed;
}

checkbox {
    border-width: 1px;
    border-color: black;
    font: icons;
    child-space: 1s;
}

checkbox:disabled {
    color: gray;
    border-color: gray;
}

radiobutton {
    width: 20px;
    height: 20px;
    border-width: 6%;
    right: 4px;
    color: black;
    border-color: black;
}

dropdown .title {
    background-color: white;
    border-width: 1px;
    border-color: black;
}

radiobutton:checked {
    color: #003080;
    border-color: #003080;
}

dropdown .title {
    background-color: #FFFFFF;
    height: 30px;
    width: 100px;
    child-space: 1s;
    child-left: 5px;
}

dropdown>popup {
    background-color: #AAAAAA;
    outer-shadow: 0 3 5 #00000055;
}

dropdown>popup>list {
    width: 1s;
}

dropdown list label {
    width: 1s;
    height: 30px;
    child-left: 6px;
}

dropdown vstack {
    child-space: auto;
}

list {
    width: auto;
    height: auto;
}

menucontroller {
    width: 0px;
    height: 0px;
    overflow: visible;
}

menustack {
    width: auto;
    height: auto;
    background-color: #dddddd;
    border-color: #aaaaaa;
    border-width: 1px;
    color: black;
    overflow: visible;
}

menu {
    overflow: visible;
    child-space: 3px;
}

menubutton {
    child-space: 3px;
}

menu:selected {
    background-color: #00264f;
    color: white;
}

menubutton:selected {
    background-color: #00264f;
    color: white;
}

menustack.vertical {
    layout-type: column;
}

menustack.horizontal {
    layout-type: row;
}

menu>menustack {
    position-type: self-directed;
    display: none;
}

menu:selected>menustack {
    display: flex;
}

menustack.vertical>menu>menustack {
    left: 100%;
}

menustack.horizontal>menu>menustack {
    top: 100%;
}

.menu_arrow {
    display: none;
}

menustack.vertical>menu>hstack>.menu_arrow {
    display: flex;
    font: "material";
    left: 1s;
    top: 1s;
    bottom: 1s;
}
