* {
    color: #ffffff;
    border-color: blue;
}

.main {
    background-color: #181818;
}

spinbox {
    background-color: #242424;
    border-radius: 4px;
    border-width: 1px;
    border-color: #2f2f2f;
}

spinbox.horizontal {
    height: 32px;
}

spinbox.vertical {
    width: 32px;
}

spinbox .spinbox-button {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;

    height: 24px;
    child-space: 1s;
    color: #888888;
}

spinbox.horizontal .spinbox-button {
    width: 24px;
}

spinbox.vertical .spinbox-button {
    width: 1s;
}

spinbox .spinbox-button:hover {
    color: #ffffff;
}

spinbox .spinbox-value {
    top: 4px;
    bottom: 4px;

    height: 24px;
    child-space: 1s;
    color: #ffffff;
}

spinbox.vertical .spinbox-value {
    left: 4px;
    right: 4px;
}

switch {
    width: 24px;
    height: 16px;
    border-radius: 8px;
    border-width: 2px;
    border-color: #888888;
    background-color: transparent;
    child-space: 1s;
    transition: border-color 0.1 0;
}

.switch-handle-container {
    left: 2px;
    top: 2px;
    width: 16px;
    height: 8px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.1 0;
}

.switch-handle {
    width: 8px;
    height: 8px;
    background-color: #888888;
    border-radius: 4px;
    transition: background-color 0.1 0;
}

switch:hover .switch-handle-container .switch-handle {
    background-color: #51afef;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
}

switch:active {
    border-color: #404040;
    background-color: #dcdcdc;
}

switch:checked {
    border-color: #51afef;
}

switch:checked .switch-handle-container {
    background-color: #51afef40;
}

switch:checked .switch-handle-container .switch-handle {
    background-color: #51afef;
    left: 8px;
}

switch:checked:hover .switch-handle-container .switch-handle {
    background-color: #9fd5fb;
}

switch:disabled {
    border-color: #404040;
}

switch:disabled .switch-handle-container .switch-handle {
    background-color: #404040;
}

switch:hover:disabled {
    background-color: transparent;
}

switch:hover:disabled .switch-handle-container .switch-handle {
    background-color: #404040;
}

switch:checked:disabled .switch-handle-container {
    background-color: #40404040;
}

switch:checked:disabled .switch-handle-container .switch-handle {
    background-color: #404040;
}

datepicker {
    background-color: #242424;
    width: 285px;
    height: 324px;

    border-radius: 4px;

    child-top: 8px;
    child-bottom: 8px;
    child-left: 16px;
    child-right: 16px;

    row-between: 8px;
}

.datepicker-header {
    width: 1s;
    height: auto;

    col-between: 4px;
}

.datepicker-header spinbox {
    width: auto;
}

.datepicker-divisor {
    width: 1s;
    height: 1px;
    background-color: #2f2f2f;
}

.datepicker-calendar {
    left: 1s;
    right: 1s;
}

.datepicker-calendar-header {
    child-space: 1s;
    width: 32px;
    height: 32px;
}

.datepicker-calendar-day {
    width: 32px;
    height: 32px;
    color: #888;
    child-space: 1s;
}

.datepicker-calendar-day:checked {
    color: #181818;
    background-color: #51afef;
    border-radius: 4px;
}

.datepicker-calendar-day-disabled {
    width: 32px;
    height: 32px;
    color: #404040;
    child-space: 1s;
}

.datepicker-selected-date {
    left: 1s;
    right: 1s;
    color: #b0b0b0;
}

.datepicker-actions-container {
    left: 1s;
    right: 1s;
    col-between: 4px;
}

.datepicker-cancel {
    border-width: 2px;
    border-color: #ef5151;
    border-radius: 4px;
    height: auto;
    width: auto;
}

.datepicker-cancel label {
    top: 2px;
    bottom: 2px;
    right: 8px;
    left: 8px;
    color: #ef5151;
}

.datepicker-apply {
    border-width: 2px;
    border-color: #51afef;
    background-color: #51afef;
    border-radius: 4px;
    height: auto;
    width: auto;
}

.datepicker-apply label {
    top: 2px;
    bottom: 2px;
    right: 8px;
    left: 8px;
    color: #181818;
}

tabview {
    width: 1s;
    height: 1s;
}

.tabview-tabheader-wrapper {
    height: 32px;
    child-space: 4px;
    col-between: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #323232;
}

tabheader {
    width: auto;
    height: 32px;
    border-radius: 4px;
    color: #fff;
    background-color: #323232;
}

tabheader label {
    top: 4px;
    bottom: 4px;
    left: 8px;
    right: 8px;
}

tabheader:disabled {
    background-color: transparent;
}

tabheader:disabled label {
    color: #888;
}

.tabview-content-wrapper {
    width: 1s;
    height: 1s;
    background-color: #121212;
}
