/* General */

* {
    color: #ffffff;
    border-color: blue;
    /* border-width: 1px; */
}

.icon {
    font-size: 20px;
}

root {
    background-color: #1d1d1d;
    width: 1s;
    height: 1s;
    /* child-space: 1s; */
}

.container {
    width: auto;
    height: auto;
    row-between: 8px;
    col-between: 8px;
}

/* Backgrounds */

.bg-default {
    background-color: #343434;
}

.bg-lighter {
    background-color: #404040;
}

.bg-darker {
    background-color: #1d1d1d;
}

/* Button  */

button {
    border-radius: 4px;
    background-color: #484848;
    transition: background-color 0.1 0;
}

button label {
    color: #fff;
}

button:over {
    background-color: #666;
    transition: background-color 0.1 0;
}

button:active {
    background-color: #323232;
}

button.accent {
    background-color: #51afef;
    transition: background-color 0.1 0;
}

button.accent label {
    color: #181818;
}

button.accent:over {
    background-color: #80caff;
    transition: background-color 0.1 0;
}

button.accent:active {
    background-color: #3995d6;
}

button:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

button:disabled {
    background-color: transparent;
}

button:disabled label {
    color: #888;
}

button.icon {
    background-color: transparent;
}

button.icon:over {
    background-color: #ffffff11;
}

button.icon:over label {
    color: #fff;
}

button.icon:active {
    background-color: transparent;
}

/* Checkbox */

checkbox {
    border-radius: 4px;
    border-width: 2px;
    border-color: #888;
    background-color: transparent;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
    font: "icons";
}

checkbox:hover {
    border-color: #51afef;
    background-color: transparent;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

checkbox:checked {
    background-color: #51afef;
    border-color: #51afef;
    color: #181818;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox:disabled {
    border-color: #404040;
}

checkbox:hover:disabled {
    background-color: transparent;
}

checkbox:checked:hover {
    background-color: #80caff;
    border-color: #80caff;
    color: #181818;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox:checked:disabled {
    background-color: #404040;
    border-color: #404040;
    color: #181818;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

/* Chip */

chip {
    border-radius: 16px;
}

/* Color Picker */

/* Datepicker */

datepicker {
    background-color: #343434;
    border-radius: 4px;
    child-space: 8px;
    row-between: 8px;
}

.datepicker-divisor {
    background-color: #2f2f2f;
}

.datepicker-calendar {
    width: auto;
    height: auto;
    left: 1s;
    right: 1s;
}

.datepicker-calendar-day {
    color: #888;
    cursor: hand;
}

.datepicker-calendar-day:checked {
    color: #181818;
    background-color: #51afef;
    border-radius: 4px;
}

.datepicker-calendar-day-disabled {
    color: #585858;
    cursor: arrow;
}

.datepicker-selected-date {
    color: #b0b0b0;
}

.datepicker-cancel {
    border-width: 2px;
    border-color: #ef5151;
    border-radius: 4px;
}

.datepicker-cancel label {
    color: #ef5151;
}

.datepicker-apply {
    border-radius: 4px;
    border-width: 2px;
    border-color: #51afef;
    background-color: #51afef;
}

.datepicker-apply label {
    color: #181818;
}

/* Date Time Picker */

datetimepicker {
    border-radius: 4px;
    background-color: #343434;
}

datetimepicker tabheader label {
    font: "icons";
}

datetimepicker tabheader:checked label {
    color: #51afef;
}

datetimepicker tabheader .indicator {
    background-color: #2f2f2f;
}

datetimepicker tabheader:checked .indicator {
    background-color: #51afef;
}

/* Dropdown */

dropdown {
    background-color: #282828;
    border-radius: 4px;
}

dropdown .title:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

dropdown popup {
    background-color: #282828;
    border-radius: 4px;
}

dropdown list label {
    color: #888;
    cursor: hand;
}

dropdown list label:checked {
    color: #fff;
}

dropdown list label:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

dropdown list label:hover {
    background-color: #51afef11;
}

/* Element */

/* Image */

/* Knob */

knob {
    background-color: #1d1d1d;
    border-radius: 100px;
}

knob .knob-track {
    background-color: #51afef;
}

knob:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

.knob-head {
    background-color: #343434;
    border-width: 2px;
    border-color: #1d1d1d;
    border-radius: 100px;
    /* outer-shadow: 0 4 4 #00000088; BUGGY */
}

.knob-tick {
    background-color: #fff;
    border-radius: 1px;
}

/* Label */

/* List */

/* Menu */

menucontroller {
    background-color: #323232;
}

menustack {
    border-radius: 4px;
    background-color: #323232;
}

menustack.vertical {
    border-top-left-radius: 0px;
    border-width: 1px;
    border-color: #424242;
}

menu {
    border-radius: 4px;
}

menubutton:hover {
    background-color: #424242;
}

/* Notification */

notification {
    background-color: #242424;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

notification .color-strip {
    background-color: #51afef;
}

notification .notification-header {
    border-top-right-radius: 4px;
}

notification .icon label {
    color: #ffffff88;
}

notification .icon:checked label {
    color: #fff;
}

/* Picklist */

/* Popup */

popup {
    outer-shadow: 0 0 8 #00000026;
    opacity: 0%;
    transition: opacity 0.1 0;
}

popup:checked {
    opacity: 100%;
    transition: opacity 0.1 0;
}

/* Progress Bar */

/* Progress Steps */

/* Radio Button */

radiobutton {
    border-width: 2px;
    border-radius: 50%;
    border-color: #888;
    background-color: transparent;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

radiobutton:hover {
    border-color: #51afef;
    transition: border-color 0.1 0;
}

radiobutton:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton:checked {
    border-color: #51afef;
    transition: border-color 0.1 0;
}

radiobutton:checked:hover {
    border-color: #80caff;
    transition: border-color 0.1 0;
}

radiobutton:disabled {
    border-color: #404040;
    transition: border-color 0.1 0;
}

radiobutton .inner {
    border-radius: 50%;
    background-color: #888;
    transition: width 0.15 0;
    transition: height 0.15 0;
    transition: background-color 0.1 0;
}

radiobutton:checked .inner {
    background-color: #51afef;
    transition: width 0.15 0;
    transition: height 0.15 0;
    transition: background-color 0.1 0;
}

radiobutton:hover .inner {
    background-color: #80caff;
    transition: background-color 0.1 0;
}

radiobutton:disabled .inner {
    background-color: #404040;
    transition: width 0.15 0;
    transition: height 0.15 0;
    transition: background-color 0.1 0;
}

/* Searchbox */

/* Scroll View */

/* Scroll Bar */

scrollbar {
    background-color: #181818;
}

scrollbar .thumb {
    background-color: #404040;
}

scrollbar .thumb:hover {
    background-color: #888;
}

scrollbar .thumb:focus {
    background-color: #888;
}

/* Slider */

slider * {
    background-color: #51afef20;
    border-radius: 3px;
}

slider:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
    border-radius: 4px;
}

slider .active {
    background-color: #51afef80;
    border-radius: 2px;
}

slider .thumb {
    background-color: #51afef;
    border-radius: 6px;
}

slider .thumb:hover {
    background-color: #80caff;
}

/* Spinbox */

spinbox {
    background-color: #282828;
    border-radius: 4px;
}

spinbox .spinbox-button {
    color: #888888;
    cursor: hand;
}

spinbox .spinbox-button:hover {
    color: #ffffff;
}

spinbox .spinbox-value {
    color: #ffffff;
}

spinbox textbox.spinbox-value {
    border-width: 0px;
    border-radius: 0px;
}

spinbox dropdown.spinbox-value .title {
    background-color: transparent;
    border-width: 0px;
}

spinbox picklist.spinbox-value .title {
    background-color: transparent;
    border-width: 0px;
    col-between: 4px;
}

/* Stack */

/* Switch */

.switch-handle-bg {
    border-radius: 4px;
    background-color: #343434;
    transition: background-color 0.1 0;
}

.switch-handle {
    background-color: #888888;
    border-radius: 6px;
    transition: background-color 0.1 0;
    transition: left 0.1 0;
}

switch:hover .switch-handle {
    background-color: #c4c4c4;
    transition: background-color 0.1 0;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

switch:checked .switch-handle-bg {
    background-color: #51afef40;
    transition: background-color 0.1 0;
}

switch:checked .switch-handle {
    background-color: #51afef;
    transition: background-color 0.1 0;
    transition: left 0.1 0;
}

switch:checked:hover .switch-handle {
    background-color: #9fd5fb;
    transition: background-color 0.1 0;
}

switch:disabled .switch-handle {
    background-color: #585858;
    transition: background-color 0.1 0;
}

switch:checked:disabled .switch-handle-bg {
    background-color: #343434;
    transition: background-color 0.1 0;
}

switch:checked:disabled .switch-handle {
    background-color: #585858;
    transition: background-color 0.1 0;
}

/* Tab */

tabview {
    background-color: #343434;
    border-radius: 4px;
}

tabheader label {
    color: #888;
}

tabheader:checked label {
    color: #fff;
}

tabheader .indicator {
    background-color: transparent;
}

tabheader:checked .indicator {
    background-color: #51afef;
}

/* tabheader:disabled {
    background-color: transparent;
}

tabheader:disabled label {
    color: #888;
}

.tabview-content-wrapper {
    background-color: #121212;
} */

/* Table */

table {
    border-radius: 4px;
    background-color: #242424;
}

.table-column-title {
    font: "roboto-bold";
}

.table-column-icon {
    font: "icons";
}

.table-row-divisor {
    background-color: #404040;
}

.table-element {
    background-color: transparent;
}

.table-element-colored {
    background-color: #51afef20;
    border-radius: 4px;
    color: #51afef;
}

/* Textbox */

textbox {
    border-width: 1px;
    border-radius: 4px;
    border-color: #282828;
    background-color: #282828;
    transition: border-color 0.1 0;
    transition: background-color 0.1 0;
    /* outer-shadow: 0 0 0 transparent; */
}

textbox textboxlabel {
    color: #fff;
    transition: color 0.1 0;
}

textbox:checked {
    border-width: 1px;
    border-color: #51afef;
    background-color: #1d1d1d;
    outer-shadow: 0 4 4 #00000026;
    transition: border-color 0.1 0;
    transition: outer-shadow 0.1 0;
}

textbox:checked .textbox_content {
    caret-color: #51afef;
    selection-color: #51afef40;
}

textbox:disabled textboxlabel {
    color: #888;
    transition: color 0.1 0;
}

textbox:focus-visible {
    border-color: #51afef80;
    transition: border-color 0.1 0;
}

textbox.error {
    border-color: #ef5151;
    border-width: 2px;
    transition: border-color 0.1 0;
}

/* Time Picker */

timepicker {
    background-color: #343434;
    border-radius: 4px;
}

timepicker .timepicker-dot {
    border-radius: 4px;
    background-color: #282828;
}

/* Radial Time Picker */

radialtimepicker {
    background-color: #343434;
    border-radius: 4px;
}

radialtimepicker .clock-face {
    border-radius: 50%;
    background-color: #484848;
}

radialtimepicker .clock-hand {
    background-color: #51afef;
}

radialtimepicker .center-dot {
    border-radius: 50%;
    background-color: #51afef;
}

radialtimepicker .marker {
    border-radius: 50%;
    cursor: hand;
    background-color: transparent;
}

radialtimepicker .marker:checked {
    background-color: #51afef;
    color: #181818;
}

radialtimepicker .time-selector-wrapper {
    background-color: #343434;
    border-radius: 4px;
    overflow: hidden;
}

radialtimepicker .time-selector-wrapper button {
    border-radius: 0px;
    background-color: transparent;
}

radialtimepicker .time-selector-wrapper button label {
    color: #888;
}

radialtimepicker .time-selector-wrapper button label {
    color: #888;
}

radialtimepicker .time-selector-wrapper button:hover label {
    color: #fff;
}

radialtimepicker .time-selector-wrapper button .indicator {
    background-color: transparent;
    top: 1s;
}

radialtimepicker .time-selector-wrapper button:checked .indicator {
    background-color: #51afef;
}

/* Tooltip */

tooltip .tooltip-wrapper {
    background-color: #51afef;
    border-radius: 4px;
}

tooltip .title {
    font-size: 18px;
}

tooltip .subtitle {
    color: #00000088;
}

tooltip .tooltip-wrapper > label {
    color: #181818;
}

tooltip button {
    border-color: #181818;
}

.tooltip-pointer-wrapper {
    width: 16px;
    height: 12px;
    overflow: hidden;
    left: 4px;
}

.tooltip-pointer {
    width: 12px;
    height: 12px;
    background-color: #51afef;
    border-radius: 2px;
}

/* Tree */

/* Modal */

.modal {
    background-color: #323232;
    border-radius: 4px;
    border-width: 1px;
    border-color: #424242;
}

.modal label {
    color: #888;
}

.modal .title {
    color: #fff;
    font-size: 18px;
}
