/* GENERAL */

/* * {
    border-color: blue;
    border-width: 1px;
} */

:root {
    background-color: #181818;
    color: #fafafa;
}

/* LABEL */

label:disabled {
    color: #585858;
}

/* BACKGROUNDS */

.bg-default {
    background-color: #343434;
}

.bg-lighter {
    background-color: #404040;
}

.bg-darker {
    background-color: #1d1d1d;
}

/* BUTTON  */

button {
    border-radius: 4px;
    background-color: #282828;
    transition: background-color 100ms;
}

button:over {
    background-color: #323232;
    transition: background-color 100ms;
}

button:active {
    background-color: #252525;
}

button:focus-visible {
    outline-width: 2px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

button.accent {
    background-color: #51afef;
    transition: background-color 100ms;
}

button.accent label {
    color: #181818;
}

button.accent:over {
    background-color: #80caff;
    transition: background-color 100ms;
}

button.accent:disabled {
    border-width: 0px;
    background-color: #404040;
    border-color: #404040;
}

button.accent:active {
    background-color: #3995d6;
}

button.outline {
    background-color: transparent;
    border-width: 1px;
    border-color: #51afef;
    transition: background-color 100ms;
}

button.outline label {
    color: #51afef;
}

button.outline:over {
    background-color: #80caff10;
    transition: background-color 100ms;
}

button.outline:active {
    background-color: #3995d610;
}

button.ghost {
    background-color: #80caff00;
    transition: background-color 100ms;
}

button.ghost label {
    color: #51afef;
}

button.ghost:over {
    background-color: #80caff40;
    transition: background-color 100ms;
}

button.ghost:active {
    background-color: #3995d610;
}

button:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

button.outline:disabled {
    background-color: transparent;
    border-width: 1px;
    border-color: #606060;
}

button.ghost:disabled {
    background-color: transparent;
}

button:disabled {
    border-width: 0px;
    background-color: #404040;
    border-color: #404040;
}

button:disabled label {
    color: #888;
}

/* CHECKBOX */

checkbox {
    border-radius: 2px;
    border-width: 1px;
    border-color: #888;
    background-color: transparent;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:hover {
    border-color: #51afef;
    background-color: transparent;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

checkbox:checked {
    background-color: #51afef;
    border-color: #51afef;
    color: #181818;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:disabled {
    border-color: #404040;
    transition: border-color 100ms;
}

checkbox:hover:disabled {
    background-color: transparent;
    transition: border-color 100ms;
}

checkbox:checked:hover {
    background-color: #80caff;
    border-color: #80caff;
    color: #181818;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:checked:disabled {
    background-color: #404040;
    border-color: #404040;
    color: #181818;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox.intermediate {
    background-color: #51afef;
    border-color: #51afef;
    color: #181818;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

/* CHIP */

chip {
    border-radius: 4px;
}

chip .icon {
    scale: 1;
    transition: scale 100ms;
    transition: background-color 100ms;
    border-radius: 50%;
}

chip .icon:hover {
    background-color: #ffffff22;
    scale: 1.2;
    transition: scale 100ms;
    transition: background-color 100ms;
}

chip:disabled .icon {
    background-color: transparent;
    scale: 1;
}

/* DATEPICKER */

datepicker {
    background-color: #343434;
    border-radius: 4px;
}

.datepicker-header textbox {
    background-color: transparent;
}

.datepicker-divisor {
    background-color: #2f2f2f;
}

.datepicker-calendar-day {
    color: #888;
    cursor: hand;
}

.datepicker-calendar-day:checked {
    color: #181818;
    background-color: #51afef;
    border-radius: 4px;
}

.datepicker-calendar-day-disabled {
    color: #585858;
    cursor: arrow;
}

.datepicker-selected-date {
    color: #b0b0b0;
}

.datepicker-cancel {
    border-width: 2px;
    border-color: #ef5151;
    border-radius: 4px;
}

.datepicker-cancel label {
    color: #ef5151;
}

.datepicker-apply {
    border-radius: 4px;
    border-width: 2px;
    border-color: #51afef;
    background-color: #51afef;
}

.datepicker-apply label {
    color: #181818;
}

/* DROPDOWN */

dropdown {
    background-color: #282828;
    border-radius: 4px;
}

dropdown:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
    outline-offset: 3px;
}

dropdown popup {
    background-color: #282828;
    border-radius: 4px;
}

dropdown list label {
    color: #888;
    cursor: hand;
}

dropdown list label:checked {
    color: #fff;
}

dropdown list label:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

dropdown list label:hover {
    background-color: #51afef11;
}

/* KNOB */

knob {
    background-color: #1d1d1d;
}

knob:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

knob .knob-track {
    color: #51afef;
}

knob:disabled .knob-track {
    color: #404040;
}

.knob-head {
    background-color: #343434;
    border-width: 2px;
    border-color: #1d1d1d;
}

knob:disabled .knob-head {
    background-color: #404040;
}

knob .knob-tick {
    background-color: #fff;
    border-radius: 1px;
}

knob:disabled .knob-tick {
    background-color: #c4c4c4;
}

/* MENU */

menubutton {
    background-color: transparent;
    border-radius: 4px;
}

menubutton:focus {
    background-color: #f0f0f0;
}

menubutton:hover {
    background-color: #f0f0f0;
}

menubutton .shortcut {
    color: #c4c4c4;
    font-size: medium;
}

submenu {
    background-color: transparent;
    border-radius: 4px;
    border-width: 1px;
    border-color: #d2d2d2;
}

menubar submenu {
    border-width: 0px;
}

submenu submenu {
    border-width: 0px;
}

submenu:checked {
    background-color: #f0f0f0;
}

submenu:focus {
    background-color: #f0f0f0;
}

submenu:hover {
    background-color: #f0f0f0;
}

submenu > popup {
    border-width: 1px;
    border-color: #d2d2d2;
    background-color: #fdfdfd;
    child-space: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 16px #4f4f4f38;
}

menu-divider {
    height: 9px;
    width: 1s;
    child-top: 1s;
    child-bottom: 1s;
}

menu-divider .line {
    height: 1px;
    background-color: #d2d2d2;
}

/* NOTIFICATION */

notification {
    background-color: #242424;
}

notification .notification-header button {
    background-color: transparent;
}

/* PICKLIST */

/* POPUP */

popup {
    box-shadow: 0px 0px 8px #00000026;
    opacity: 0%;
    transition: opacity 100ms;
}

popup:checked {
    opacity: 100%;
    transition: opacity 100ms;
}

/* PROGRESSBAR */
/* update and add things like disabled */

progressbar {
    background-color: #1d1d1d;
}

progressbar:disabled {
    background-color: #404040;
}

progressbar .progressbar-bar {
    background-color: #51afef;
}

progressbar:disabled .progressbar-bar {
    background-color: #418abb;
}

/* RADIOBUTTON */

radiobutton {
    border-width: 2px;
    border-radius: 50%;
    border-color: #888;
    background-color: transparent;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

radiobutton:hover {
    border-color: #51afef;
    transition: border-color 100ms;
}

radiobutton:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton:checked {
    border-color: #51afef;
    transition: border-color 100ms;
}

radiobutton:checked:hover {
    border-color: #80caff;
    transition: border-color 100ms;
}

radiobutton:checked:disabled,
radiobutton:disabled {
    border-color: #404040;
    transition: border-color 100ms;
}

radiobutton .inner {
    border-radius: 50%;
    background-color: #888;
    scale: 0;
    transition: scale 100ms;
    transition: background-color 100ms;
}

radiobutton:checked .inner {
    background-color: #51afef;
    scale: 1;
    transition: scale 100ms;
    transition: background-color 100ms;
}

radiobutton:hover .inner {
    background-color: #80caff;
    transition: background-color 100ms;
}

radiobutton:disabled .inner {
    background-color: #404040;
    transition: background-color 100ms;
    scale: 1;
    transition: scale 100ms;
}

/* RATING */
rating .icon {
    color: #484848;
    font-size: x-large;
    width: 20px;
    height: 20px;
    cursor: hand;
}

rating .icon:checked {
    color: gold;
}

rating:over .icon:enabled {
    color: #484848;
}

rating:over > .icon.foo:enabled {
    color: gold;
}

rating .icon:hover {
    scale: 1.2;
    transition: scale 100ms;
}

rating .icon:disabled {
    color: #404040;
    scale: 1;
}

rating .icon:checked:disabled {
    color: #3c3826;
}

/* SCROLL BAR */

scrollbar {
    background-color: #181818;
}

scrollbar .thumb {
    background-color: #404040;
}

scrollbar .thumb:hover {
    background-color: #888;
}

scrollbar .thumb:focus {
    background-color: #888;
}

/* SLIDER */

slider {
    background-color: #51afef20;
    border-radius: 3px;
}

slider:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
    border-radius: 4px;
}

slider .active {
    background-color: #51afef80;
    border-radius: 3px;
}

slider .thumb {
    background-color: #51afef;
    border-radius: 50%;
}

slider .thumb:hover {
    background-color: #80caff;
}

slider:disabled {
    background-color: #404040;
}

slider:disabled .active {
    background-color: #404040;
}

slider:disabled .thumb {
    background-color: #404040;
}

/* SPINBOX */

spinbox {
    background-color: #282828;
    border-radius: 4px;
}

spinbox .spinbox-button {
    color: #888888;
    cursor: hand;
}

spinbox .spinbox-button:hover {
    color: #ffffff;
}

spinbox .spinbox-value {
    color: #ffffff;
}

spinbox textbox.spinbox-value {
    background-color: transparent;
    border-width: 0px;
    border-radius: 0px;
}

spinbox picklist.spinbox-value dropdown {
    background-color: transparent;
    border-width: 0px;
}

spinbox picklist.spinbox-value {
    background-color: transparent;
    border-width: 0px;
    col-between: 4px;
}

/* SWITCH */

switch .switch-handle-bg {
    border-radius: 6px;
    background-color: #343434;
    transition: background-color 100ms;
}

switch .switch-handle {
    background-color: #888888;
    border-radius: 50%;
    transition: background-color 100ms;
    transition: left 100ms;
}

switch:hover .switch-handle {
    background-color: #c4c4c4;
    transition: background-color 100ms;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

switch:checked .switch-handle-bg {
    background-color: #51afef40;
    transition: background-color 100ms;
}

switch:checked .switch-handle {
    background-color: #51afef;
    transition: background-color 100ms;
}

switch:checked:hover .switch-handle {
    background-color: #80caff;
    transition: background-color 100ms;
}

switch:disabled * {
    background-color: #404040;
    transition: background-color 100ms;
}

switch:hover:disabled * {
    background-color: #404040;
    transition: background-color 100ms;
}

switch:checked:disabled * {
    background-color: #404040;
    transition: background-color 100ms;
}

switch:checked:hover:disabled * {
    background-color: #404040;
    transition: background-color 100ms;
}
/* TABVIEW */

tabview tabheader label {
    color: #888;
}

tabview tabheader:checked label {
    color: #fff;
}

tabview.vertical tabheader label {
    color: #888;
}

tabview.vertical tabheader:checked label {
    color: #fff;
}

tabview tabheader .indicator {
    background-color: transparent;
    height: 2px;
    width: 1s;
}

tabview.vertical tabheader .indicator {
    background-color: transparent;
    height: 1s;
    width: 2px;
}

tabview tabheader:checked .indicator {
    background-color: #51afef;
}

tabview .tabview-divider {
    background-color: #c4c4c4;
}

/* TEXTBOX */

textbox {
    border-width: 1px;
    border-radius: 4px;
    border-color: #32323200;
    background-color: #323232;
    transition: border-color 100ms;
    transition: background-color 100ms;
}

textbox:checked {
    border-color: #51afef;
    background-color: #323232;
    transition: border-color 100ms;
}

textbox:checked.caret {
    caret-color: #c4c4c4;
}

textbox > label.placeholder {
    caret-color: transparent;
    color: gray;
}

textbox:read-only {
    background-color: transparent;
    border-width: 0px;
}

textbox:disabled {
    color: #585858;
    transition: color 100ms;
}

textbox:focus-visible {
    border-color: #51afef80;
    transition: border-color 100ms;
}

textbox:invalid {
    border-color: #ef5151;
    border-width: 1px;
    transition: border-color 100ms;
    background-color: #3c2c2c;
}

/* TIMEPICKER */

timepicker {
    background-color: #343434;
    border-radius: 4px;
}

/* Digital Time Picker */

digitaltimepicker {
    background-color: #343434;
    border-radius: 4px;
}

digitaltimepicker .digitaltimepicker-dot {
    border-radius: 4px;
    background-color: #282828;
}

digitaltimepicker textbox {
    font-size: 24;
}

/* Radial Time Picker */

analogtimepicker {
    background-color: #343434;
    border-radius: 4px;
    width: 160px;
    height: 160px;
    child-space: 4px;
}

analogtimepicker .clock-face {
    border-radius: 50%;
    background-color: #484848;
    width: 1s;
    height: 1s;
}

analogtimepicker .clock-hand {
    background-color: #51afef;
}

analogtimepicker .center-dot {
    border-radius: 50%;
    background-color: #51afef;
}

analogtimepicker .marker {
    border-radius: 50%;
    cursor: hand;
    background-color: transparent;
}

analogtimepicker .marker:checked {
    background-color: #51afef;
    color: #181818;
}

analogtimepicker .time-selector-wrapper {
    background-color: #343434;
    border-radius: 4px;
    overflow: hidden;
}

analogtimepicker .time-selector-wrapper button {
    border-radius: 0px;
    background-color: transparent;
}

analogtimepicker .time-selector-wrapper button label {
    color: #888;
}

analogtimepicker .time-selector-wrapper button label {
    color: #888;
}

analogtimepicker .time-selector-wrapper button:hover label {
    color: #fff;
}

analogtimepicker .time-selector-wrapper button:checked label {
    color: #fff;
}

analogtimepicker .time-selector-wrapper button .indicator {
    background-color: transparent;
    top: 1s;
}

analogtimepicker .time-selector-wrapper button:checked .indicator {
    background-color: #51afef;
}

/* TOOLTIP */
tooltip {
    child-space: 4px;
    background-color: #fafafa;
    color: #181818;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 100ms 500ms;
}

tooltip.vis {
    opacity: 1;
    transition: opacity 100ms 500ms;
}
