* {
    color: #ffffff;
    border-color: blue;
    /* border-width: 1px; */
}

root {
    background-color: #181818;
    width: 1s;
    height: 1s;
    child-space: 1s;
}

.container {
    width: auto;
    height: auto;
    row-between: 8px;
    col-between: 8px;
}

/* Button  */

button {
    width: auto;
    height: 28px;
    border-radius: 4px;
    child-space: 1s;
    child-left: 10px;
    child-right: 10px;
    border-width: 1px;
    border-color: #424242;
    background-color: #323232;
    overflow: visible;
    transition: background-color 0.1 0;
}

button label {
    color: #fff;
    child-space: 1s;
}

button:over {
    background-color: #424242;
    transition: background-color 0.1 0;
}

button:active {
    background-color: #242424;
}

button.accent {
    border-width: 0px;
    background-color: #51afef;
    transition: background-color 0.1 0;
}

button.accent label {
    color: #181818;
}

button.accent:over {
    background-color: #80caff;
    transition: background-color 0.1 0;
}

button.accent:active {
    background-color: #3995d6;
}

button:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

button:disabled {
    background-color: transparent;
    border-color: #404040;
}

button:disabled label {
    color: #888;
}

checkbox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border-width: 2px;
    border-color: #888;
    background-color: transparent;
    child-space: 1s;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
    font: "icons";
}

checkbox:hover {
    border-color: #51afef;
    background-color: transparent;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

checkbox:checked {
    background-color: #51afef;
    border-color: #51afef;
    color: #181818;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox:disabled {
    border-color: #404040;
}

checkbox:hover:disabled {
    background-color: transparent;
}

checkbox:checked:hover {
    background-color: #80caff;
    border-color: #80caff;
    color: #181818;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox:checked:disabled {
    background-color: #404040;
    border-color: #404040;
    color: #181818;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

dropdown .title {
    width: 1s;
    height: 30px;
    background-color: #242424;
    border-radius: 4px;
    border-width: 1px;
    border-color: #2f2f2f;
    child-space: 1s;
    child-left: 5px;
}

dropdown .title:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

dropdown popup {
    width: 1s;
    background-color: #242424;
    border-radius: 4px;
    border-width: 1px;
    border-color: #2f2f2f;
}

dropdown popup list {
    width: 1s;
}

dropdown list label {
    width: 1s;
    height: 30px;
    child-left: 6px;
    color: #888;
}

dropdown list label:checked {
    color: #fff;
}

dropdown list label:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

dropdown vstack {
    child-space: auto;
}

knob {
    width: 48px;
    height: 48;
    background-color: #242424;
    border-radius: 38px;
    border-width: 2px;
    border-color: #2f2f2f;
}

knob .track {
    background-color: #51afef;
}

knob:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton {
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-radius: 50%;
    border-color: #888;
    background-color: transparent;
    child-space: 1s;
}

radiobutton:hover {
    border-color: #51afef;
}

radiobutton:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton:checked {
    border-color: #51afef;
}

radiobutton:checked:hover {
    border-color: #80caff;
}

radiobutton:disabled {
    border-color: #404040;
}

radiobutton .inner {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #888;
}

radiobutton:checked .inner {
    width: 8px;
    height: 8px;
    background-color: #51afef;
}

radiobutton:hover .inner {
    background-color: #80caff;
}

radiobutton:disabled .inner {
    width: 8px;
    height: 8px;
    background-color: #404040;
}

scrollbar {
    background-color: #181818;
}

scrollbar.horizontal {
    height: 8px;
}

scrollbar.vertical {
    width: 8px;
}

scrollbar .thumb {
    background-color: #404040;
    min-width: 4px;
    min-height: 4px;
}

scrollbar.horizontal .thumb {
    height: 8px;
}

scrollbar.vertical .thumb {
    width: 8px;
}

scrollbar .thumb:hover {
    background-color: #888;
}

scrollbar .thumb:focus {
    background-color: #888;
}

slider * {
    background-color: #51afef20;
    border-radius: 2px;
}

slider:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
    border-radius: 4px;
}

slider .active {
    background-color: #51afef80;
    border-radius: 2px;
}

slider .thumb {
    background-color: #51afef;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    child-space: 1s;
}

slider .thumb:hover {
    background-color: #80caff;
}

spinbox {
    background-color: #242424;
    border-radius: 4px;
    border-width: 1px;
    border-color: #2f2f2f;
    child-space: 1s;
    child-left: 4px;
    child-right: 4px;
}

spinbox.horizontal {
    layout-type: row;
    height: 32px;
}

spinbox.vertical {
    layout-type: column;
    width: 32px;
}

spinbox .container {
    width: auto;
}

spinbox .spinbox-button {
    height: 24px;
    child-space: 1s;
    color: #888888;

    cursor: hand;
}

spinbox.horizontal .spinbox-button {
    width: 24px;
}

spinbox.vertical .spinbox-button {
    width: 1s;
}

spinbox .spinbox-button:hover {
    color: #ffffff;
}

spinbox .spinbox-value {
    width: 1s;

    height: 24px;
    child-space: 1s;
    color: #ffffff;
}

spinbox textbox.spinbox-value {
    width: auto;
    min-width: 24px;
    height: 24px;
    child-space: 1s;
    left: 4px;
    right: 4px;
    border-width: 0px;
    border-radius: 0px;
}

spinbox textbox.spinbox-value textboxcontainer {
    min-width: 32px;
    child-space: 1s;
    width: auto;
}

spinbox textbox.spinbox-value textboxlabel {
    width: auto;
}

spinbox dropdown.spinbox-value .title {
    background-color: transparent;
    border-width: 0px;
}

spinbox picklist.spinbox-value {
    width: 1s;
    child-space: 1s;
}

spinbox picklist.spinbox-value dropdown {
    width: 100%;
}

spinbox picklist.spinbox-value dropdown popup {
    width: 1s;
}

spinbox picklist.spinbox-value .title {
    width: 1s;
    background-color: transparent;
    border-width: 0px;
    col-between: 4px;
}

spinbox picklist.spinbox-value .title label {
    left: 1s;
    right: 1s;
}

switch {
    width: 24px;
    height: 16px;
    border-radius: 8px;
    border-width: 2px;
    border-color: #888888;
    background-color: transparent;
    child-space: 1s;
    transition: border-color 0.1 0;
}

.switch-handle-container {
    left: 2px;
    top: 2px;
    width: 16px;
    height: 8px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.1 0;
}

.switch-handle {
    width: 8px;
    height: 8px;
    background-color: #888888;
    border-radius: 4px;
    transition: background-color 0.1 0;
}

switch:hover .switch-handle-container .switch-handle {
    background-color: #51afef;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
}

switch:active {
    border-color: #404040;
    background-color: #dcdcdc;
}

switch:checked {
    border-color: #51afef;
}

switch:checked .switch-handle-container {
    background-color: #51afef40;
}

switch:checked .switch-handle-container .switch-handle {
    background-color: #51afef;
    left: 8px;
}

switch:checked:hover .switch-handle-container .switch-handle {
    background-color: #80caff;
}

switch:disabled {
    border-color: #404040;
}

switch:disabled .switch-handle-container .switch-handle {
    background-color: #404040;
}

switch:hover:disabled {
    background-color: transparent;
}

switch:hover:disabled .switch-handle-container .switch-handle {
    background-color: #404040;
}

switch:checked:disabled .switch-handle-container {
    background-color: #40404040;
}

switch:checked:disabled .switch-handle-container .switch-handle {
    background-color: #404040;
}

table {
    border-radius: 4px;
    space: 1s;
}

tablecolumn {
    width: 120px;
}

.table-column-header {
    height: 30px;
}

.table-column-title {
    child-left: 5px;
    width: 1s;
    height: 1s;
    font: "roboto-bold";
}

.table-column-icon {
    width: 30px;
    child-space: 1s;
    font: "icons";
}

.table-row-divisor {
    height: 1px;
    background-color: #404040;
}

.table-element {
    child-left: 5px;
    width: 1s;
    height: 32px;
    child-space: 1s;
    child-left: 4px;
    background-color: transparent;
}

.table-element-colored {
    left: 4px;
    top: 1s;
    bottom: 1s;
    background-color: #51afef20;
    child-space: 1s;
    child-left: 8px;
    child-right: 8px;
    child-top: 2px;
    child-bottom: 2px;
    border-radius: 4px;
    color: #51afef;
}

textbox {
    width: auto;
    height: auto;
    border-width: 1px;
    border-color: #2f2f2f;
    border-radius: 4px;
    background-color: #242424;
    child-left: 5px;
    child-right: 5px;
    child-top: 2px;
    child-bottom: 2px;
}

textbox:checked {
    border-color: #51afef;
}
textbox:checked .textbox_content {
    caret-color: #51afef;
    selection-color: #51afef40;
}

textbox:disabled {
    color: #888;
}

textbox:focus-visible {
    border-color: #51afef80;
}

textbox.error {
    border-color: #ef5151;
    border-width: 2px;
}

.modal {
    space: 1s;
    background-color: #323232;
    border-radius: 4px;
    border-width: 1px;
    border-color: #424242;
    overflow: visible;
    child-space: 8px;
    width: 200px;
    row-between: 16px;
}

.modal label {
    width: auto;
    height: auto;
    color: #888;
}

.modal button {
    top: 8px;
}

.modal .title {
    color: #fff;
    font-size: 18px;
    bottom: 4px;
}

.modal .accent {
    left: 1s;
}

tooltip .tooltip-wrapper {
    background-color: #51afef;
    border-radius: 4px;
    child-space: 8px;
}

tooltip .title {
    font-size: 18px;
}

tooltip .subtitle {
    color: #00000088;
}

tooltip label {
    color: #181818;
}

tooltip .tooltip-button-wrapper {
    top: 8px;
    left: 1s;
    width: auto;
    height: auto;
    col-between: 8px;
}

tooltip button {
    border-color: #181818;
}

.tooltip-pointer-wrapper {
    width: 16px;
    height: 12px;
    overflow: hidden;
    left: 4px;
}

.tooltip-pointer {
    width: 12px;
    height: 12px;
    background-color: #51afef;
    border-radius: 2px;
}

timepicker {
    background-color: #242424;
    border-radius: 4px;
    child-space: 8px;
}

timepicker .timepicker-wrapper {
    col-between: 8px;
}

timepicker .timepicker-button-wrapper {
    row-between: 1s;
}

timepicker .timepicker-dots-wrapper {
    width: auto;
    height: 1s;
    child-space: 1s;
    row-between: 8px;
}

timepicker .timepicker-dot {
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background-color: #404040;
}

radial_timepicker {
    background-color: #242424;
    child-space: 1s;
    border-radius: 4px;
}

radial_timepicker .clock-face {
    background-color: #404040;
    width: 230px;
    height: 230px;
}

radial_timepicker .clock-hand {
    background-color: #51afef;
}

radial_timepicker .center-dot {
    background-color: #51afef;
}

radial_timepicker .marker {
    background-color: transparent;
}

radial_timepicker .marker:checked {
    background-color: #51afef;
    color: #181818;
}

radial_timepicker .switch-page-button {
    background-color: #32323200;
    color: #fff;
    cursor: hand;
    transition: background-color 0.1 0;
}

radial_timepicker .switch-page-button:over {
    background-color: #323232;
    transition: background-color 0.1 0;
}

radial_timepicker .switch-page-button:disabled {
    background-color: #32323200;
    color: #888;
    transition: background-color 0.1 0;
}

radial_timepicker .switch-zone-button {
    background-color: #32323200;
    color: #fff;
    cursor: hand;
    transition: background-color 0.1 0;
    transition: color 0.1 0;
}

radial_timepicker .switch-zone-button:over {
    background-color: #323232;
    transition: background-color 0.1 0;
}

radial_timepicker .switch-zone-button:checked {
    background-color: #51afef;
    color: #181818;
    transition: background-color 0.1 0;
    transition: color 0.1 0;
}

datepicker {
    background-color: #242424;
    /* width: 285px; */
    /* width: 250px; */
    width: 252px;
    height: 289px;
    /* height: 324px; */

    border-radius: 4px;

    child-space: 8px;

    row-between: 8px;
}

.datepicker-header {
    width: 1s;
    height: auto;

    col-between: 4px;
}

.datepicker-divisor {
    width: 1s;
    height: 1px;
    background-color: #2f2f2f;
}

.datepicker-calendar {
    width: auto;
    height: auto;
    left: 1s;
    right: 1s;
}

.datepicker-calendar-header {
    child-space: 1s;
    width: 32px;
    height: 32px;
}

.datepicker-calendar-day {
    width: 32px;
    height: 32px;
    color: #888;
    child-space: 1s;
    cursor: hand;
}

.datepicker-calendar-day:checked {
    color: #181818;
    background-color: #51afef;
    border-radius: 4px;
}

.datepicker-calendar-day-disabled {
    width: 32px;
    height: 32px;
    color: #404040;
    child-space: 1s;
    cursor: arrow;
}

.datepicker-selected-date {
    left: 1s;
    right: 1s;
    color: #b0b0b0;
}

.datepicker-actions-container {
    left: 1s;
    right: 1s;
    col-between: 4px;
}

.datepicker-cancel {
    border-width: 2px;
    border-color: #ef5151;
    border-radius: 4px;
    height: auto;
    width: auto;
}

.datepicker-cancel label {
    top: 2px;
    bottom: 2px;
    right: 8px;
    left: 8px;
    color: #ef5151;
}

.datepicker-apply {
    border-width: 2px;
    border-color: #51afef;
    background-color: #51afef;
    border-radius: 4px;
    height: auto;
    width: auto;
}

.datepicker-apply label {
    top: 2px;
    bottom: 2px;
    right: 8px;
    left: 8px;
    color: #181818;
}

popup {
    outer-shadow: 0 2 5 #00000055;
    width: auto;
    height: auto;
    opacity: 0%;
    transition: opacity 0.1 0;
}

popup:checked {
    opacity: 100%;
    transition: opacity 0.1 0;
}

datetimepicker {
    height: 322px;
    width: 252px;
    border-radius: 4px;
    background-color: #242424;
}

datetimepicker tabheader {
    width: 1s;
}

datetimepicker tabheader label {
    width: 1s;
    height: 32px;
    font: "icons";
    child-space: 1s;
}

datetimepicker tabheader:checked label {
    color: #51afef;
}

datetimepicker tabheader .indicator {
    background-color: #2f2f2f;
    height: 1px;
}

datetimepicker tabheader:checked .indicator {
    background-color: #51afef;
}

tabview {
    width: 1s;
    height: 1s;
    /* background-color: #242424; */
}

.tabview-tabheader-wrapper {
    height: auto;
}

tabheader {
    width: auto;
    height: auto;
    color: #fff;
}

/* tabheader label {
    top: 4px;
    bottom: 4px;
    left: 8px;
    right: 8px;
} */

/* tabheader:disabled {
    background-color: transparent;
}

tabheader:disabled label {
    color: #888;
}

.tabview-content-wrapper {
    width: 1s;
    height: 1s;
    background-color: #121212;
} */

chip {
    border-radius: 15px;
    child-left: 8px;
    child-right: 8px;
    child-top: 4px;
    child-bottom: 4px;
    width: auto;
}

notification {
    width: 420px;
    height: auto;
    background-color: #242424;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

notification .color-strip {
    background-color: #51afef;
    width: 2px;
    height: 1s;
}

notification .notification-header {
    width: 1s;
    height: auto;
    child-left: 12px;
    child-right: 4px;
    child-top: 4px;
    child-bottom: 4px;
    col-between: 12px;
    border-top-right-radius: 4px;
}

notification .notification-header label {
    width: 1s;
}

notification .notification-container {
    width: 1s;
    height: auto;
    child-left: 16px;
    child-right: 16px;
    child-top: 8px;
    child-bottom: 8px;
    overflow: visible;
}

notification .notification-container label {
    width: 1s;
    height: auto;
    overflow: visible;
}

notification .icon-container {
    width: auto;
    height: auto;
    col-between: 0px;
}

notification .icon {
    width: 24px;
    height: 24px;
    child-space: 1s;
}

notification .icon label {
    width: auto;
    height: auto;
    color: #ffffff88;
}

notification .icon:checked label {
    color: #fff;
}
