* {
    color: #fafafa;
    /* border-width: 1px;
    border-color: red; */
}

:root {
    background-color: #1d1d1d;
}

/* BUTTON  */

button {
    border-radius: 4px;
    background-color: #484848;
    transition: background-color 100ms;
}

button:over {
    background-color: #666;
    transition: background-color 100ms;
}

button:active {
    background-color: #323232;
    scale: 95%;
    transition: scale 100ms;
}

button:focus-visible {
    outline-width: 2px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

button.accent {
    background-color: #51afef;
    transition: background-color 100ms;
}

button.accent label {
    color: #181818;
}

button.accent:over {
    background-color: #80caff;
    transition: background-color 100ms;
}

button.accent:disabled {
    border-width: 0px;
    background-color: #404040;
    border-color: #404040;
}

button.accent:active {
    background-color: #3995d6;
}

button.outline {
    background-color: transparent;
    border-width: 1px;
    border-color: #51afef;
    transition: background-color 100ms;
}

button.outline label {
    color: #51afef;
}

button.outline:over {
    background-color: #80caff10;
    transition: background-color 100ms;
}

button.outline:active {
    background-color: #3995d610;
}

button.ghost {
    background-color: transparent;
    transition: background-color 100ms;
}

button.ghost label {
    color: #51afef;
}

button.ghost:over {
    background-color: #80caff10;
    transition: background-color 100ms;
}

button.ghost:active {
    background-color: #3995d610;
}

button:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

button.outline:disabled {
    background-color: transparent;
    border-width: 1px;
    border-color: #606060;
}

button.ghost:disabled {
    background-color: transparent;
}

button:disabled {
    border-width: 0px;
    background-color: #404040;
    border-color: #404040;
}

button:disabled label {
    color: #888;
}

/* CHECKBOX */

checkbox {
    border-radius: 2px;
    border-width: 2px;
    border-color: #888;
    background-color: transparent;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:hover {
    border-color: #51afef;
    background-color: transparent;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

checkbox:checked {
    background-color: #51afef;
    border-color: #51afef;
    color: #181818;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:disabled {
    border-color: #404040;
    transition: border-color 100ms;
}

checkbox:hover:disabled {
    background-color: transparent;
    transition: border-color 100ms;
}

checkbox:checked:hover {
    background-color: #80caff;
    border-color: #80caff;
    color: #181818;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:checked:disabled {
    background-color: #404040;
    border-color: #404040;
    color: #181818;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox.intermediate {
    background-color: #51afef;
    border-color: #51afef;
    color: #181818;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

/* LABEL */

label.icon {
    font-family: "tabler-icons", sans-serif;
}

label.h2 {
    font-size: medium;
    font-weight: bold;
}

/* TOOLTIP */
tooltip {
    child-space: 10px;
    border-color: #070707;
    background-color: #353535;
    border-width: 1px;
    opacity: 0;
    transition: opacity 100ms 500ms;
}

tooltip.vis {
    opacity: 1;
    transition: opacity 100ms 500ms;
}
