* {
    color: #ffffff;
    border-color: blue;
}

.main {
    background-color: #181818;
}

spinbox {
    background-color: #242424;
    border-radius: 4px;
    border-width: 1px;
    border-color: #2F2F2F;
}

spinbox.horizontal {
    height: 32px;
}

spinbox.vertical {
    width: 32px;
}

spinbox .spinbox-button {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;

    height: 24px;
    child-space: 1s;
    color: #888888;
}

spinbox.horizontal .spinbox-button {
    width: 24px;
}

spinbox.vertical .spinbox-button {
    width: 1s;
}

spinbox .spinbox-button:hover {
    color: #ffffff;
}

spinbox .spinbox-value {
    top: 4px;
    bottom: 4px;

    height: 24px;
    child-space: 1s;
    color: #ffffff;
}

spinbox.vertical .spinbox-value {
    left: 4px;
    right: 4px;
}

switch {
    width: 24px;
    height: 16px;
    border-radius: 8px;
    border-width: 2px;
    border-color: #888888;
    background-color: transparent;
    child-space: 1s;
    transition: border-color 0.1 0;
}

.switch-handle-container {
    left: 2px;
    top: 2px;
    width: 16px;
    height: 8px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.1 0;
}

.switch-handle {
    width: 8px;
    height: 8px;
    background-color: #888888;
    border-radius: 4px;
    transition: background-color 0.1 0;
}

switch:hover .switch-handle-container .switch-handle {
    background-color: #51AFEF;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51AFEF;
}

switch:active {
    border-color: #404040;
    background-color: #dcdcdc;
}

switch:checked {
    border-color: #51AFEF;
}

switch:checked .switch-handle-container {
    background-color: #51afef40;
}

switch:checked .switch-handle-container .switch-handle {
    background-color: #51AFEF;
    left: 8px;
}

switch:checked:hover .switch-handle-container .switch-handle {
    background-color: #9FD5FB;
}

switch:disabled {
    border-color: #404040;
}

switch:disabled .switch-handle-container .switch-handle {
    background-color: #404040;
}

switch:hover:disabled {
    background-color: transparent;
}

switch:hover:disabled .switch-handle-container .switch-handle {
    background-color: #404040;
}

switch:checked:disabled .switch-handle-container {
    background-color: #40404040;
}

switch:checked:disabled .switch-handle-container .switch-handle {
    background-color: #404040;
}

datepicker {
    background-color: #242424;
    width: 260px;
    height: 324px;

    border-radius: 4px;
    
    child-top: 8px;
    child-bottom: 8px;
    child-left: 16px;
    child-right: 16px;

    row-between: 8px;
}

.datepicker-header {
    width: 1s;
    height: auto;

    col-between: 4px;
}

.datepicker-header spinbox {
    width: auto;
}

.datepicker-divisor {
    width: 1s;
    height: 1px;
    background-color: #2F2F2F;
}

.datepicker-calendar {
    left: 1s;
    right: 1s;
}

.datepicker-calendar-headers {

}

.datepicker-calendar-header {
    child-space: 1s;
    width: 32px;
    height: 32px;
}

.datepicker-calendar-row {

}

.datepicker-calendar-day {
    width: 32px;
    height: 32px;
    color: #888;
    child-space: 1s;
}

.datepicker-calendar-day:checked {
    color: #181818;
    background-color: #51AFEF;
    border-radius: 4px;
}



.datepicker-calendar-day-disabled {
    width: 32px;
    height: 32px;
    color: #404040;
    child-space: 1s;
}