@keyframes tooltip_fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* AVATAR */

avatar {
    size: 50px;
    child-space: 1s;
}

avatar.circle {
    corner-radius: 50%;
}

avatar.square {
    corner-radius: 0px;
}

avatar.rounded {
    corner-radius: 4px;
}

avatar > svg {
    size: 24px;
}

avatar > image {
    size: 100%;
    background-size: cover;
}

avatar.circle > image {
    corner-radius: 50%;
}

avatar.rounded > image {
    corner-radius: 4px;
}

/* BADGE */
badge {
    position-type: self-directed;
    size: 20px;
    corner-radius: 50%;
    child-space: 1s;
}

badge > label {
    font-size: 12;
}

badge > svg {
    space: 0px;
}

/* BUTTON */
button,
toggle-button {
    height: 32px;
    width: auto;
    child-space: 1s;
    cursor: hand;
    child-left: 8px;
    child-right: 8px;
}

button > *,
toggle-button > * {
    width: auto;
    child-space: 1s;
    col-between: 4px;
}

button > svg,
toggle-button > svg {
    size: 1s;
    space: 4px;
}

button > hstack > svg,
toggle-button > hstack > svg {
    size: 20px;
}

/* BUTTON GROUP */
button-group {
    layout-type: row;
    size: auto;
}

button-group.vertical {
    layout-type: column;
}

button-group.vertical > button,
button-group.vertical > toggle-button {
    width: 1s;
}

/* CHECKBOX */

checkbox {
    size: 20px;
    cursor: hand;
}

checkbox > svg {
    size: 1s;
}

/* CHIP */

chip {
    width: auto;
    height: 24px;
    child-left: 8px;
    child-right: 8px;
    child-top: 1s;
    child-bottom: 1s;
    col-between: 4px;
    font-size: small;
}

chip > label {
    height: auto;
    width: auto;
}

chip > .close-icon {
    right: 4px;
}

chip > .close-icon svg {
    space: 0px;
}

/* DATEPICKER */

datepicker {
    width: 300px;
    height: auto;
    child-space: 4px;
    row-between: 4px;
}

.datepicker-header {
    width: 1s;
    height: auto;
    col-between: 4px;
}

.datepicker-header dropdown popup {
    left: 1s;
    right: 1s;
    width: auto;
}

.datepicker-calendar {
    width: auto;
    height: auto;
    left: 1s;
    right: 1s;
}

.datepicker-calendar-headers {
    child-left: 1s;
    child-right: 1s;
    height: auto;
}

.datepicker-calendar-header {
    child-space: 1s;
    width: 32px;
    height: 32px;
}

.datepicker-calendar-day {
    width: 32px;
    height: 32px;
    child-space: 1s;
}

.datepicker-calendar-day-disabled {
    width: 32px;
    height: 32px;
    child-space: 1s;
}

.datepicker-selected-date {
    left: 1s;
    right: 1s;
}

/* DIVIDER */

divider {
    width: 1s;
    height: 1px;
}

divider.horizontal {
    width: 1s;
    height: 1px;
}

divider.vertical {
    height: 1s;
    width: 1px;
}

vstack > divider {
    width: 1s;
    height: 1px;
}

hstack > divider {
    width: 1px;
    height: 1s;
}

/* DROPDOWN */

dropdown,
combobox {
    height: 32px;
}

dropdown {
    width: auto;
}

dropdown > * {
    width: auto;
}

combobox .title {
    width: 1s;
    height: 1s;
    child-left: 8px;
    child-right: 4px;
    child-top: 1s;
    child-bottom: 1s;
    cursor: text;
}

dropdown popup,
combobox popup {
    size: auto;
    min-width: 100%;
    left: 1s;
    right: 1s;
}

dropdown popup list,
combobox popup .list {
    width: 1s;
    min-width: auto;
    height: auto;
    child-top: 4px;
    child-bottom: 4px;
}

dropdown popup scrollview scrollbar.vertical,
combobox popup scrollview scrollbar.vertical {
    top: 4px;
    bottom: 4px;
    right: 2px;
}

dropdown popup scrollview,
combobox popup scrollview {
    width: 1s;
    min-width: auto;
}

dropdown list label,
combobox .list label {
    width: 1s;
    min-width: auto;
    height: 32px;
    child-left: 6px;
    child-right: 6px;
    child-top: 1s;
    child-bottom: 1s;
}

dropdown vstack,
combobox vstack {
    child-space: auto;
}

/* ICON */

svg {
    size: 1s;
}

/* IMAGE */

image {
    size: auto;
}

/* KNOB */

knob {
    size: 32px;
    corner-radius: 50%;
}

.knob-track {
    width: 1s;
    height: 1s;
}

.knob-head {
    width: 1s;
    height: 1s;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    corner-radius: 50%;
}

.knob-tick {
    width: 2px;
    height: 8px;
    left: 1s;
    right: 1s;
    top: 2px;
    bottom: 1s;
}

/* LABEL */

label {
    size: auto;
    text-wrap: false;
}

label.describing {
    cursor: hand;
}

/* LIST */

list {
    size: auto;
}

list > scrollview {
    size: auto;
    min-width: 100%;
}

/* MENU */

menubar {
    size: auto;
}

menubutton {
    height: 32px;
    width: 1s;
    child-left: 8px;
    child-right: 8px;
}

submenu {
    height: 32px;
    width: auto;
    child-left: 8px;
    child-right: 8px;
}

submenu submenu,
dropdown > popup > submenu {
    width: 1s;
}

menubutton label {
    child-top: 1s;
    child-bottom: 1s;
    width: 1s;
    height: 1s;
}

menubutton .icon,
menubutton .shortcut {
    child-space: 1s;
    width: auto;
    height: 1s;
}

menubutton .icon {
    child-right: 4px;
}

menubutton .shortcut {
    child-left: 4px;
    child-right: 4px;
}

submenu label {
    child-top: 1s;
    child-bottom: 1s;
    size: 1s;
}

submenu > label {
    width: auto;
}

submenu submenu label,
dropdown > popup > submenu label {
    child-top: 1s;
    child-bottom: 1s;
    size: 1s;
    width: 1s;
}

submenu > popup {
    top: 100%;
    height: auto;
    width: 160px;
    child-space: 8px;
    left: 1s;
    right: 1s;
}

submenu submenu > popup,
menubar submenu > popup {
    opacity: 0;
    display: none;
}

submenu submenu > popup:checked,
menubar submenu > popup:checked {
    opacity: 1;
    display: flex;
}

submenu submenu > popup,
menubar submenu > popup {
    top: 0px;
    left: 100%;
}

menubar > submenu {
    width: auto;
    child-left: 12px;
    child-right: 12px;
}

menubar > submenu > label {
    width: auto;
}

menubar > submenu > popup {
    left: 0px;
    top: 100%;
}

submenu > .arrow {
    display: none;
}

submenu submenu > .arrow,
menu submenu > .arrow {
    display: flex;
}

submenu > .arrow {
    width: auto;
    height: 1s;
    child-space: 1s;
    /* child-right: 0px; */
}

submenu divider {
    height: 1px;
    width: 1s;
    top: 4px;
    bottom: 4px;
}

/* NOTIFICATION */

notification {
    width: 300px;
    height: auto;
}

notification .notification-header {
    width: 1s;
    height: 32px;
    child-left: 12px;
    child-right: 4px;
    child-top: 1s;
    child-bottom: 1s;
    col-between: 4px;
}

notification .notification-header label {
    width: 1s;
    text-wrap: true;
}

notification .notification-container {
    width: 1s;
    height: auto;
    child-left: 12px;
    child-right: 12px;
    child-top: 12px;
    child-bottom: 12px;
}

notification .notification-container label {
    width: 1s;
    height: auto;
    overflow: visible;
}

notification .icon-container {
    width: auto;
    height: auto;
    col-between: 0px;
}

notification .icon {
    width: 24px;
    height: 24px;
    child-space: 1s;
}

notification .icon label {
    width: auto;
    height: auto;
}

/* PICKLIST */

picklist {
    size: auto;
}

/* POPUP */

popup {
    size: auto;
    position-type: self-directed;
    z-index: 100;
}

/* PROGRESS BAR */

progressbar {
    height: 12px;
    width: 1s;
}

/* RADIOBUTTON */

radiobutton {
    size: 16px;
    child-space: 1s;
    cursor: hand;
}

radiobutton .inner {
    size: 8px;
}

/* RATING */

rating {
    size: auto;
    layout-type: row;
}

/* SCROLLVIEW */

scrollview {
    overflow: hidden;
}

scrollview > scroll-content {
    size: auto;
    min-size: 100%;
}

scrollview > scrollbar.horizontal {
    space: 0px;
    top: 1s;
}

scrollview > scrollbar.vertical {
    space: 0px;
    left: 1s;
}

/* SCROLLBAR */

scrollbar.horizontal {
    width: 1s;
    height: 8px;
}

scrollbar.vertical {
    width: 8px;
    height: 1s;
}

scrollbar .thumb {
    min-width: 4px;
    min-height: 4px;
}

scrollbar.horizontal .thumb {
    height: 1s;
}

scrollbar.vertical .thumb {
    width: 1s;
}

/* SLIDER */

slider {
    height: 5px;
    width: 1s;
    corner-radius: 50%;
}

slider.vertical {
    height: 1s;
    width: 5px;
}

slider .thumb {
    width: 16px;
    height: 16px;
    top: 1s;
    bottom: 1s;
    child-space: 1s;
}

/* SPINBOX */

spinbox {
    child-space: 1s;
}

spinbox.horizontal {
    layout-type: row;
    height: 32px;
    child-left: 4px;
    child-right: 4px;
}

spinbox.vertical {
    layout-type: column;
    width: 32px;
    child-top: 4px;
    child-bottom: 4px;
}

spinbox .spinbox-button {
    size: 24px;
    child-space: 1s;
}

spinbox .spinbox-value {
    width: 1s;
    height: auto;
    child-space: 1s;
}

spinbox picklist.spinbox-value dropdown {
    width: 1s;
    left: 0px;
    right: 0px;
}

/* STACK */

zstack > * {
    position-type: self-directed;
}

/* SWITCH */

switch {
    width: 30px;
    height: 18px;
    cursor: hand;
}

switch .switch-handle {
    left: 0px;
    width: 18px;
    height: 18px;
    transition: left 100ms;
}

switch .switch-handle-bg {
    width: 30px;
    height: 12px;
    top: 1s;
    bottom: 1s;
    transition: background-color 100ms;
}

switch:checked .switch-handle {
    left: 12px;
    transition: left 100ms;
}

/* TABVIEW */

tabview {
    width: 1s;
    height: 1s;
}

tabview > scrollview {
    width: 1s;
    height: auto;
}

tabview.vertical {
    layout-type: row;
}

tabview.vertical > scrollview.vertical {
    width: auto;
    height: 1s;
}

tabview > scrollview > scroll-content {
    layout-type: row;
}

tabview.vertical > scrollview.vertical > scroll-content {
    layout-type: column;
}

tabheader {
    width: auto;
    height: 32px;
    cursor: hand;
}

tabheader label {
    height: 32px;
    child-left: 12px;
    child-right: 12px;
    child-top: 1s;
    child-bottom: 1s;
}

tabheader .indicator {
    height: 2px;
    width: 1s;
}

tabheader.vertical .indicator {
    width: 2px;
    height: 1s;
}

/* TEXTBOX */

textbox {
    overflow: hidden;
    width: auto;
    height: 32px;
    child-left: 10px;
    child-right: 10px;
    child-top: 1s;
    child-bottom: 1s;
    cursor: text;
    caret-color: transparent;
    selection-color: #6464c888;
}

textbox:checked.caret {
    caret-color: #181818;
}

textbox:read-only {
    caret-color: transparent;
}

textbox:checked:read-only.caret {
    caret-color: transparent;
}

textbox > label.placeholder {
    child-left: 10px;
    child-top: 1s;
    child-bottom: 1s;
}

textbox.icon-before {
    child-left: 30px;
}

textbox.icon-before > label.placeholder {
    child-left: 30px;
}

textbox.multiline {
    height: auto;
    child-top: 4px;
    child-bottom: 4px;
}

textbox:disabled {
    cursor: default;
}

/* TOOLTIP */

tooltip {
    position-type: self-directed;
    z-index: 110;
    size: auto;
}

tooltip arrow {
    position-type: self-directed;
}

/* VIRTUAL LIST */
virtual-list label {
    child-top: 1s;
    child-bottom: 1s;
    child-left: 5px;
    width: 1s;
}

/* XY PAD */

xypad {
    size: 50px;
}

xypad .thumb {
    size: 10px;
    child-space: 1s;
}
