button {
    width: auto;
    height: 32px;
    child-left: 8px;
    child-right: 8px;
    child-top: 1s;
    child-bottom: 1s;
}

button label {
    child-space: 1s;
}

button.icon {
    width: 32px;
    height: 32px;
    child-space: 1s;
}

checkbox {
    width: 20px;
    height: 20px;
    child-space: 1s;
    font-family: "tabler-icons", sans-serif;
}

label {
    width: auto;
    height: auto;
    text-wrap: false;
}

label.describing {
    cursor: hand;
}

textbox {
    overflow: hidden;
    width: auto;
    height: 32px;
    child-left: 10px;
    child-right: 10px;
    child-top: 10px;
    child-bottom: 10px;
}

/* label.icon {
    font-family: "tabler-icons", sans-serif;
}

textbox {
    overflow: hidden;
    width: auto;
    height: auto;
    child-top: 1s;
    child-bottom: 1s;
}

label {
    width: auto;
    height: auto;
    child-left: 0px;
    text-wrap: false;
}

checkbox {
    font-family: "Entypo", sans-serif;
}

image {
    width: auto;
    height: auto;
}

zstack > * {
    position-type: self-directed;
}

slider {
    height: 5px;
    width: 1s;
}

slider.vertical {
    top: auto;
    bottom: auto;
    height: 1s;
    width: 5px;
}

slider .thumb {
    top: 1s;
    bottom: 1s;
}

scrollview {
    overflow: hidden;
}

scrollbar > .thumb {
    background-color: #5d5d5d;
}

scrollview > .scroll_content {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position-type: self-directed;
}

scrollview > scrollbar.horizontal {
    left: 0px;
    width: 1s;
    right: 14px;

    top: 1s;
    height: 14px;
    bottom: 0px;
}

scrollview > scrollbar.vertical {
    top: 0px;
    height: 1s;
    bottom: 0px;

    left: 1s;
    width: 14px;
    right: 0px;
}

popup {
    display: none;
    opacity: 0;
}

popup:checked {
    display: flex;
    opacity: 1;
}

menucontroller {
    width: 0px;
    height: 0px;
    overflow: visible;
}

menustack {
    width: auto;
    height: auto;
    overflow: visible;
}

menu {
    overflow: visible;
}

menustack.vertical {
    layout-type: column;
}

menustack.horizontal {
    layout-type: row;
}

menu > menustack {
    position-type: self-directed;
    z-index: 1000;
    display: none;
}

menu:selected > menustack {
    display: flex;
}

menustack.vertical > menu > menustack {
    left: 100%;
}

menustack.horizontal > menu > menustack {
    top: 100%;
}

.menu_arrow {
    display: none;
}

menustack.vertical > menu > hstack > .menu_arrow {
    display: flex;
    font-family: "Material Icons";
    left: 1s;
    top: 1s;
    bottom: 1s;
} */
