window {
    background-color: white;
}

/* AVATAR */

avatar {
    size: 50px;
    child-space: 1s;
}

avatar.circle {
    corner-radius: 50%;
}

avatar.square {
    corner-radius: 0px;
}

avatar.rounded {
    corner-radius: 4px;
}

avatar > icon {
    size: 100%;
    font-size: 24;
}

avatar > image {
    size: 100%;
    background-size: cover;
}

avatar.circle > image {
    corner-radius: 50%;
}

avatar.rounded > image {
    corner-radius: 4px;
}

/* BADGE */
badge {
    position-type: self-directed;
    size: 20px;
    corner-radius: 50%;
    child-space: 1s;
    font-size: 16;
}

badge > label {
    font-size: 12;
}

badge > icon {
    font-size: 24;
}

/* BUTTON */
button {
    width: auto;
    height: 32px;
    child-left: 1s;
    child-right: 1s;
    child-top: 1s;
    child-bottom: 1s;
    cursor: hand;
}

button > .inner {
    width: auto;
    child-space: 1s;
    col-between: 4px;
    min-left: 8px;
    min-right: 8px;
}

button > icon.inner {
    min-left: 0px;
    min-right: 0px;
}

button .inner > svg {
    size: 16px;
}

button.icon {
    size: 32px;
    child-space: 1s;
}

/* BUTTON GROUP */
button-group {
    layout-type: row;
    size: auto;
}

button-group.vertical {
    layout-type: column;
}

button-group.vertical > button,
button-group.vertical > toggle-button {
    width: 1s;
}

/* TOGGLE BUTTON */
toggle-button {
    width: auto;
    height: 32px;
    child-left: 1s;
    child-right: 1s;
    child-top: 1s;
    child-bottom: 1s;
    cursor: hand;
}

toggle-button > .inner {
    size: auto;
    child-space: 1s;
    col-between: 4px;
    min-left: 8px;
    min-right: 8px;
}

toggle-button > icon.inner {
    min-left: 0px;
    min-right: 0px;
    width: 32px;
}

toggle-button.icon {
    size: 32px;
    child-space: 1s;
}

/* CHECKBOX */

checkbox {
    width: 20px;
    height: 20px;
    cursor: hand;
}

/* CHIP */

chip {
    width: auto;
    height: 24px;
    child-left: 8px;
    child-right: 8px;
    child-top: 1s;
    child-bottom: 1s;
    col-between: 4px;
    font-size: small;
}

chip label {
    height: auto;
    width: auto;
}

chip .close-icon {
    right: 4px;
}

/* DATEPICKER */

datepicker {
    width: 280px;
    height: 280px;
    child-space: 4px;
    row-between: 4px;
}

.datepicker-header {
    width: 1s;
    height: auto;
    col-between: 4px;
}

.datepicker-header picklist dropdown popup {
    left: 1s;
    right: 1s;
    width: auto;
}

.datepicker-calendar {
    width: auto;
    height: auto;
    left: 1s;
    right: 1s;
}

.datepicker-calendar-headers {
    child-left: 1s;
    child-right: 1s;
    height: auto;
}

.datepicker-calendar-header {
    child-space: 1s;
    width: 32px;
    height: 32px;
}

.datepicker-calendar-day {
    width: 32px;
    height: 32px;
    child-space: 1s;
}

.datepicker-calendar-day-disabled {
    width: 32px;
    height: 32px;
    child-space: 1s;
}

.datepicker-selected-date {
    left: 1s;
    right: 1s;
}

/* DIVIDER */

divider {
    width: 1s;
    height: 1px;
}

vstack > divider {
    width: 1s;
    height: 1px;
}

hstack > divider {
    width: 1px;
    height: 1s;
}

/* DROPDOWN */

dropdown,
combobox {
    height: 32px;
}

dropdown {
    width: auto;
}

dropdown > * {
    width: 1s;
}

combobox .title {
    width: 1s;
    height: 1s;
    child-left: 8px;
    child-right: 4px;
    child-top: 1s;
    child-bottom: 1s;
    cursor: hand;
}

dropdown popup,
combobox popup {
    width: auto;
    min-width: 100%;
    height: auto;
}

dropdown popup list,
combobox popup .list {
    width: 1s;
    min-width: auto;
    height: auto;
    child-top: 4px;
    child-bottom: 4px;
}

dropdown popup scrollview scrollbar.vertical,
combobox popup scrollview scrollbar.vertical {
    top: 4px;
    bottom: 4px;
    right: 2px;
}

combobox popup scrollview {
    width: 1s;
    min-width: auto;
}

dropdown list label,
combobox .list label {
    width: 1s;
    min-width: auto;
    height: 32px;
    child-left: 6px;
    child-right: 6px;
    child-top: 1s;
    child-bottom: 1s;
}

dropdown vstack,
combobox vstack {
    child-space: auto;
}

/* FORM CONTROL */
form-control {
    layout-type: row;
    size: auto;
    child-top: 1s;
    child-bottom: 1s;
    col-between: 5px;
    row-between: 5px;
}

form-control.vertical {
    layout-type: column;
}

form-control > label:first-child {
    display: flex;
}

form-control > label:last-child {
    display: none;
}

form-control.pos-start > label:first-child {
    display: none;
}

form-control.pos-start > label:last-child {
    display: flex;
}

form-group {
    size: auto;
    row-between: 12px;
}

form-group > .legend {
    bottom: 8px;
}

/* ICON */

icon {
    size: 24px;
    min-size: auto;
    child-space: 1s;
}

icon svg {
    size: 20px;
}

/* IMAGE */

image {
    width: auto;
    height: auto;
}

/* KNOB */

knob {
    width: 32px;
    height: 32px;
    corner-radius: 50%;
}

.knob-track {
    width: 1s;
    height: 1s;
}

.knob-head {
    width: 1s;
    height: 1s;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    corner-radius: 50%;
}

.knob-tick {
    width: 2px;
    height: 8px;
    left: 1s;
    right: 1s;
    top: 2px;
    bottom: 1s;
}

/* LABEL */

label {
    width: auto;
    height: auto;
    text-wrap: false;
}

label.describing {
    cursor: hand;
}

label.icon {
    font-family: "tabler-icons", sans-serif;
}

/* LIST */

list {
    width: auto;
    height: auto;
}

list > scrollview {
    width: auto;
    height: auto;
    min-width: 100%;
}

list list-item {
    height: auto;
    width: auto;
}

list list-item:focus {
    outline-color: rgb(232, 166, 166);
    outline-width: 1px;
    outline-offset: -1px;
}

list list-item:checked {
    background-color: rgb(97, 97, 196);
}

/* MENU */

menubar {
    size: auto;
}

menubutton {
    height: 32px;
    width: 1s;
    child-left: 8px;
    child-right: 8px;
}

submenu {
    height: 32px;
    width: auto;
    child-left: 8px;
    child-right: 8px;
}

submenu submenu,
dropdown > popup > submenu {
    width: 1s;
}

menubutton label {
    child-top: 1s;
    child-bottom: 1s;
    width: 1s;
    height: 1s;
}

menubutton .icon,
menubutton .shortcut {
    child-space: 1s;
    width: auto;
    height: 1s;
}

menubutton .icon {
    child-right: 4px;
}

menubutton .shortcut {
    child-left: 4px;
    child-right: 4px;
}

submenu label {
    child-top: 1s;
    child-bottom: 1s;
    size: 1s;
}

submenu > label {
    width: auto;
}

submenu submenu label,
dropdown > popup > submenu label {
    child-top: 1s;
    child-bottom: 1s;
    size: 1s;
    width: 1s;
}

submenu > popup {
    top: 100%;
    height: auto;
    width: 160px;
    child-space: 8px;
    left: 1s;
    right: 1s;
}

submenu submenu > popup,
menubar submenu > popup {
    opacity: 0;
    display: none;
}

submenu submenu > popup:checked,
menubar submenu > popup:checked {
    opacity: 1;
    display: flex;
}

submenu submenu > popup,
menubar submenu > popup {
    top: 0px;
    left: 100%;
}

menubar > submenu {
    width: auto;
    child-left: 12px;
    child-right: 12px;
}

menubar > submenu > label {
    width: auto;
}

menubar > submenu > popup {
    left: 0px;
    top: 100%;
}

submenu > .arrow {
    display: none;
}

submenu submenu > .arrow,
menu submenu > .arrow {
    display: flex;
}

submenu > .arrow {
    width: auto;
    height: 1s;
    child-space: 1s;
    /* child-right: 0px; */
}

submenu divider {
    height: 1px;
    width: 1s;
    top: 4px;
    bottom: 4px;
}

/* NOTIFICATION */

notification {
    width: 300px;
    height: auto;
}

notification .notification-header {
    width: 1s;
    height: 32px;
    child-left: 12px;
    child-right: 4px;
    child-top: 1s;
    child-bottom: 1s;
    col-between: 4px;
}

notification .notification-header label {
    width: 1s;
    text-wrap: true;
}

notification .notification-container {
    width: 1s;
    height: auto;
    child-left: 12px;
    child-right: 12px;
    child-top: 12px;
    child-bottom: 12px;
}

notification .notification-container label {
    width: 1s;
    height: auto;
    overflow: visible;
}

notification .icon-container {
    width: auto;
    height: auto;
    col-between: 0px;
}

notification .icon {
    width: 24px;
    height: 24px;
    child-space: 1s;
}

notification .icon label {
    width: auto;
    height: auto;
}

/* PICKLIST */

picklist {
    size: auto;
}

/* POPUP */

popup {
    width: auto;
    height: auto;
    position-type: self-directed;
    z-index: 100;
}

/* PROGRESS BAR */

progressbar {
    height: 10px;
    width: 1s;
}

/* RADIOBUTTON */

radiobutton {
    width: 16px;
    height: 16px;
    child-space: 1s;
    cursor: hand;
}

radiobutton .inner {
    width: 8px;
    height: 8px;
}

/* RATING */

rating {
    size: auto;
    child-space: auto;
    layout-type: row;
}

/* SCROLLVIEW */

scrollview {
    overflow: hidden;
}

scrollview > scroll-content {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

scrollview > scrollbar.horizontal {
    width: 1s;
    height: 8px;
    left: 0px;
    right: 0px;
    top: 1s;
    bottom: 0px;
}

scrollview > scrollbar.vertical {
    width: 8px;
    height: 1s;
    left: 1s;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

/* SCROLLBAR */

scrollbar.horizontal {
    height: 8px;
}

scrollbar.vertical {
    width: 8px;
}

scrollbar .thumb {
    min-width: 4px;
    min-height: 4px;
}

scrollbar.horizontal .thumb {
    height: 1s;
}

scrollbar.vertical .thumb {
    width: 1s;
}

/* SLIDER */

slider {
    height: 5px;
    width: 1s;
    corner-radius: 50%;
}

slider.vertical {
    height: 1s;
    width: 5px;
}

slider .thumb {
    width: 16px;
    height: 16px;
    top: 1s;
    bottom: 1s;
    child-space: 1s;
}

/* SPINBOX */

spinbox {
    child-space: 1s;
}

spinbox.horizontal {
    layout-type: row;
    height: 32px;
    child-left: 4px;
    child-right: 4px;
}

spinbox.vertical {
    layout-type: column;
    width: 32px;
    child-top: 4px;
    child-bottom: 4px;
}

spinbox .spinbox-button {
    size: 24px;
    child-space: 1s;
}

spinbox .spinbox-value {
    width: 1s;
    height: auto;
    child-space: 1s;
}

spinbox picklist.spinbox-value dropdown {
    width: 1s;
    left: 0px;
    right: 0px;
}

spinbox picklist.spinbox-value dropdown button {
    width: 1s;
}

spinbox picklist.spinbox-value .dropdown-title {
    width: 1s;
    col-between: 4px;
}

spinbox picklist.spinbox-value .dropdown-title label {
    left: 1s;
    right: 1s;
}

spinbox picklist popup {
    width: 100px;
    left: 1s;
    right: 1s;
}

/* STACK */

zstack > * {
    position-type: self-directed;
}

/* SWITCH */

switch {
    width: 30px;
    height: 18px;
    cursor: hand;
}

switch .switch-handle {
    left: 0px;
    width: 18px;
    height: 18px;
    transition: left 100ms;
}

switch .switch-handle-bg {
    width: 30px;
    height: 12px;
    top: 1s;
    bottom: 1s;
    transition: background-color 100ms;
}

switch:checked .switch-handle {
    left: 12px;
    transition: left 100ms;
}

/* TABVIEW */

tabview {
    width: 1s;
    height: 1s;
}

tabview > scrollview {
    width: 1s;
    height: auto;
}

tabview.vertical {
    layout-type: row;
}

tabview.vertical > scrollview.vertical {
    width: auto;
    height: 1s;
}

tabview > scrollview > scroll-content {
    layout-type: row;
}

tabview.vertical > scrollview.vertical > scroll-content {
    layout-type: column;
}

tabheader {
    width: auto;
    height: 32px;
    cursor: hand;
}

tabheader label {
    height: 32px;
    child-left: 12px;
    child-right: 12px;
    child-top: 1s;
    child-bottom: 1s;
}

tabheader .indicator {
    height: 2px;
    width: 1s;
}

tabheader.vertical .indicator {
    width: 2px;
    height: 1s;
}

.tabview-divider {
    height: 1px;
    width: 1s;
}

.tabview-divider.vertical {
    width: 1px;
    height: 1s;
}

/* TEXTBOX */

textbox {
    overflow: hidden;
    width: auto;
    height: 32px;
    child-left: 10px;
    child-right: 10px;
    child-top: 1s;
    child-bottom: 1s;
    cursor: text;
    caret-color: transparent;
    selection-color: #6464c888;
}

textbox:checked.caret {
    caret-color: #181818;
}

textbox:read-only {
    caret-color: transparent;
}

textbox:checked:read-only.caret {
    caret-color: transparent;
}

textbox > label.placeholder {
    child-left: 10px;
    child-top: 1s;
    child-bottom: 1s;
}

textbox.icon-before {
    child-left: 30px;
}

textbox.icon-before > label.placeholder {
    child-left: 30px;
}

textbox.multiline {
    height: auto;
    child-top: 4px;
    child-bottom: 4px;
}

textbox:disabled {
    cursor: default;
}

/* TOOLTIP */

tooltip {
    position-type: self-directed;
    z-index: 110;
    size: auto;
}

tooltip arrow {
    position-type: self-directed;
}

/* VIRTUAL LIST */
virtual-list label {
    child-top: 1s;
    child-bottom: 1s;
    child-left: 5px;
    width: 1s;
}

/* XY PAD */

xypad {
    height: 50px;
    width: 50px;
}

xypad .thumb {
    width: 10px;
    height: 10px;
    child-space: 1s;
}
