/* * {
    border-width: 1px;
    border-color: red;
} */

button {
    background-color: white;
    width: auto;
    height: 30px;
    border-radius: 3px;
    child-space: 1s;
    child-left: 10px;
    child-right: 10px;
    border-width: 1px;
    border-color: #e5e5e5;
    box-shadow: 0px 1px 1px #00000055;
    overflow: visible;
}

button label {
    color: #1a1a1a;
    background-color: #00000000;
    child-space: 1s;
}

button:over {
    background-color: #f6f6f6;
    transition: background-color 1s;
}

button:active {
    box-shadow: 0px 1px 1px transparent;
}

button:active label {
    color: #5d5d5d;
}

button.accent {
    background-color: #005a9e;
    border-width: 0px;
    border-color: #3076ae;
    box-shadow: 0px 1px 0px #00365f;
}

button.accent label {
    color: white;
}

button.accent:over {
    background-color: #1969a7;
}

button.accent:active {
    background-color: #3178af;
}

button.accent:active label {
    color: #c2d7e7;
}

button:focus-visible {
    outline-width: 2px;
    outline-color: #3c77d2;
    outline-offset: 1px;
}

checkbox {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    border-width: 1px;
    border-color: #666666;
    background-color: transparent;
    child-space: 1s;
}

checkbox:hover {
    background-color: #e5e5e5;
}

checkbox:focus-visible {
    outline-width: 2px;
    outline-color: #3c77d2;
    outline-offset: 1px;
}

checkbox:active {
    border-color: #b6b6b6;
    background-color: #dcdcdc;
}

checkbox:checked {
    background-color: #3c77d2;
    border-color: #3c77d2;
    color: #f5f5f5;
    transition: background-color 0.1s;
}

checkbox:disabled {
    border-color: #bdbdbd;
}

checkbox:hover:disabled {
    background-color: transparent;
}

checkbox:checked:hover {
    background-color: #0082e6;
    border-color: #0082e6;
    color: #f5f5f5;
    transition: background-color 0.1s;
}

checkbox:checked:disabled {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
    color: #f5f5f5;
}

textbox {
    width: auto;
    height: auto;
    color: black;
    border-width: 1px;
    border-color: #e5e5e5;
    background-color: white;
    child-left: 5px;
    child-right: 5px;
    border-radius: 3px;
}

textbox:hover {
    background-color: #f6f6f6;
}

textbox:checked {
    border-color: #4c00ff;
}
textbox:checked {
    caret-color: #ff0000;
    selection-color: #6464c888;
}

textbox:disabled {
    color: gray;
    border-color: gray;
}

label {
    selection-color: #6464c888;
}

label.h1 {
    font-size: 18;
    bottom: 10px;
}

label.describing {
    cursor: hand;
}

label:disabled {
    color: gray;
}

hstack {
    width: 1s;
    height: 1s;
}

vstack {
    width: 1s;
    height: 1s;
}

radiobutton {
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-radius: 50%;
    border-color: #666666;
    background-color: transparent;
    child-space: 1s;
}

radiobutton:hover {
    background-color: #e5e5e5;
}

radiobutton:focus-visible {
    outline-width: 2px;
    outline-color: #3c77d2;
    outline-offset: 1px;
}

radiobutton:checked {
    border-color: #3c77d2;
}

radiobutton:checked:hover {
    border-color: #0082e6;
}

radiobutton:disabled {
    border-color: #bdbdbd;
}

radiobutton:disabled:hover {
    background-color: transparent;
}

radiobutton:checked:hover {
    background-color: transparent;
}

radiobutton .inner {
    width: 12px;
    height: 12px;
    scale: 0 0;
    border-radius: 50%;
    background-color: #666666;
    transition: width 0.2s;
    transition: height 0.2s;
}

radiobutton:checked .inner {
    scale: 1 1;
    background-color: #3c77d2;
    transition: scale 0.1s;
}

radiobutton:hover .inner {
    background-color: #0082e6;
}

radiobutton:disabled .inner {
    width: 12px;
    height: 12px;
    background-color: #bdbdbd;
    transition: width 0.1s;
    transition: height 0.1s;
}

/* dropdown .title {
    child-space: 1s;
    child-left: 5px;
} */

dropdown .title {
    background-color: white;
    width: auto;
    height: 30px;
    border-radius: 3px;
    child-space: 1s;
    child-left: 5px;
    border-width: 1px;
    border-color: #e5e5e5;
    box-shadow: 0px 1px 1px #00000055;
    overflow: visible;
}

dropdown > .title:focus-visible {
    outline-width: 2px;
    outline-color: blue;
}

dropdown > popup {
    box-shadow: 0px 3px 5px #00000055;
}

dropdown > popup > list {
    width: 1s;
}

dropdown list label {
    width: 1s;
    height: 30px;
    child-left: 6px;
}

dropdown list label:focus-visible {
    outline-width: 2px;
    outline-color: blue;
}

dropdown vstack {
    child-space: auto;
}

knob:focus-visible {
    outline-width: 2px;
    outline-offset: 3px;
    outline-color: blue;
}

slider {
    background-color: #868686;
    border-radius: 3px;
}

slider:focus-visible {
    outline-width: 2px;
    outline-color: blue;
    outline-offset: 5px;
    border-radius: 3px;
}

slider .active {
    background-color: #005a9e;
    border-radius: 4.5px;
}

slider .thumb {
    background-color: white;
    border-radius: 14.5px;
    border-color: #cccccc;
    border-width: 2px;
    width: 26px;
    height: 26px;
    child-space: 1s;
}

scrollbar {
    background-color: #9e9e9e;
    border-radius: 7px;
    child-space: 2px;
}

scrollbar > .thumb {
    border-radius: 6px;
    min-width: 12px;
    min-height: 12px;
}

switch {
    width: 24px;
    height: 16px;
    border-radius: 8px;
    border-width: 2px;
    border-color: #888888;
    background-color: transparent;
    child-space: 1s;
    transition: border-color 0.1 0;
}

.switch-handle-container {
    left: 2px;
    top: 2px;
    width: 16px;
    height: 8px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.1 0;
}

.switch-handle {
    width: 8px;
    height: 8px;
    background-color: #888888;
    border-radius: 4px;
    transition: background-color 0.1 0;
}

switch:hover .switch-handle-container .switch-handle {
    background-color: #51AFEF;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51AFEF;
}

switch:active {
    border-color: #b6b6b6;
    background-color: #dcdcdc;
}

switch:checked {
    border-color: #51AFEF;
}

switch:checked .switch-handle-container {
    background-color: #51afef40;
}

switch:checked .switch-handle-container .switch-handle {
    background-color: #51AFEF;
    left: 8px;
}

switch:checked:hover .switch-handle-container .switch-handle {
    background-color: #9FD5FB;
}

switch:disabled {
    border-color: #B6B6B6;
}

switch:disabled .switch-handle-container .switch-handle {
    background-color: #B6B6B6;
}

switch:hover:disabled {
    background-color: transparent;
}

switch:hover:disabled .switch-handle-container .switch-handle {
    background-color: #B6B6B6;
}

switch:checked:disabled .switch-handle-container {
    background-color: #B6B6B640;
}

switch:checked:disabled .switch-handle-container .switch-handle {
    background-color: #B6B6B6;
}

list {
    width: auto;
    height: auto;
}

menustack {
    background-color: #dddddd;
    border-color: #aaaaaa;
    border-width: 1px;
    color: black;
}

menu {
    child-space: 3px;
}

menubutton {
    child-space: 3px;
}

menu:selected {
    background-color: #00264f;
    color: white;
}

menubutton:selected {
    background-color: #00264f;
    color: white;
}

spinbox {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    background-color: #242424;
    border-radius: 4px;
    border-width: 1px;
    border-color: #ffffff0d;
}

spinbox .spinbox-button {
    width: 24px;
    height: 24px;
    child-space: 1s;
    color: #888888;
}

spinbox .spinbox-button:hover {
    color: #ffffff;
}

spinbox .spinbox-value {
    min-width: 24px;
    height: 24px;
    child-space: 1s;
    color: #ffffff;
}