/* Label */

label.icon {
    font-family: "tabler-icons", sans-serif;
}

/* Button */

button {
    width: auto;
    height: 32px;
    child-left: 1s;
    child-right: 1s;
    child-top: 1s;
    child-bottom: 1s;
}

button > .inner {
    size: auto;
    child-space: 1s;
    col-between: 4px;
    min-left: 8px;
    min-right: 8px;
}

button.icon {
    width: 32px;
    height: 32px;
    child-space: 1s;
}

/* Checkbox */

checkbox {
    width: 20px;
    height: 20px;
    child-space: 1s;
    font-family: "tabler-icons", sans-serif;
}

/* Chip */

chip {
    width: auto;
    height: 20px;
    child-left: 8px;
    child-right: 8px;
    child-top: 1s;
    child-bottom: 1s;
    font-size: small;
}

chip label {
    height: auto;
    width: auto;
}

/* Color picker */

/* Datepicker */

datepicker {
    width: 252px;
    height: 289px;
    child-space: 8px;
    row-between: 8px;
}

.datepicker-header {
    width: 1s;
    height: auto;
    col-between: 4px;
}

.datepicker-header picklist dropdown popup {
    left: -28px;
    width: 131px;
}

.datepicker-divisor {
    width: 1s;
    height: 1px;
}

.datepicker-calendar {
    width: auto;
    height: auto;
    left: 1s;
    right: 1s;
}

.datepicker-calendar-headers {
    child-left: 1s;
    child-right: 1s;
    height: auto;
}

.datepicker-calendar-header {
    child-space: 1s;
    width: 32px;
    height: 32px;
}

.datepicker-calendar-day {
    width: 32px;
    height: 32px;
    child-space: 1s;
}

.datepicker-calendar-day-disabled {
    width: 32px;
    height: 32px;
    child-space: 1s;
}

.datepicker-selected-date {
    left: 1s;
    right: 1s;
}

.datepicker-actions-container {
    left: 1s;
    right: 1s;
    col-between: 4px;
}

.datepicker-cancel {
    width: auto;
    height: auto;
}

.datepicker-cancel label {
    top: 2px;
    bottom: 2px;
    right: 8px;
    left: 8px;
}

.datepicker-apply {
    width: auto;
    height: auto;
}

.datepicker-apply label {
    top: 2px;
    bottom: 2px;
    right: 8px;
    left: 8px;
}

/* Date Time Picker */

datetimepicker {
    height: 322px;
    width: 252px;
}

datetimepicker tabheader {
    width: 1s;
}

datetimepicker tabheader label {
    width: 1s;
    height: 32px;
    child-space: 1s;
}

datetimepicker tabheader .indicator {
    height: 1px;
}

/* Dropdown */

dropdown {
    height: 32px;
}

dropdown .title {
    width: 1s;
    height: 1s;
    child-left: 8px;
    child-right: 4px;
    child-top: 1s;
    child-bottom: 1s;
}

dropdown popup {
    width: 100%;
    height: auto;
}

dropdown popup list {
    width: 100%;
    height: auto;
    child-top: 4px;
    child-bottom: 4px;
}

dropdown popup .list {
    width: 100%;
    height: auto;
    child-top: 4px;
    child-bottom: 4px;
}

dropdown popup scrollview scrollbar.vertical {
    top: 4px;
    bottom: 4px;
    right: 2px;
}

dropdown list label {
    width: 100%;
    height: 32px;
    child-left: 6px;
    child-top: 1s;
    child-bottom: 1s;
}

dropdown .list label {
    width: 100%;
    height: 32px;
    child-left: 6px;
    child-top: 1s;
    child-bottom: 1s;
}

dropdown vstack {
    child-space: auto;
}

/* Element */

/* Image */

image {
    width: auto;
    height: auto;
}

/* Knob */

knob {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.knob-track {
    width: 1s;
    height: 1s;
}

.knob-head {
    width: 1s;
    height: 1s;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 50%;
}

.knob-tick {
    width: 2px;
    height: 8px;
    left: 1s;
    right: 1s;
    top: 2px;
    bottom: 1s;
}

/* Label */

label {
    width: auto;
    height: auto;
    text-wrap: false;
}

label.describing {
    cursor: hand;
}

/* List */
list {
    width: auto;
    height: auto;
}

/* Menu */

menubar {
    child-space: 8px;
    height: auto;
}

menubutton {
    height: 32px;
    width: 1s;
    child-left: 8px;
    child-right: 8px;
}

submenu {
    height: 32px;
    width: auto;
    child-left: 8px;
    child-right: 8px;
}

submenu submenu {
    width: 1s;
}

menubutton label {
    child-top: 1s;
    child-bottom: 1s;
    width: 1s;
}

menubutton .icon,
menubutton .shortcut {
    child-space: 1s;
    width: auto;
    height: 1s;
}

menubutton .icon {
    child-right: 4px;
}

menubutton .shortcut {
    child-left: 4px;
    child-right: 4px;
}

submenu label {
    child-top: 1s;
    child-bottom: 1s;
    size: 1s;
}

submenu > label {
    width: auto;
}

submenu submenu label {
    child-top: 1s;
    child-bottom: 1s;
    size: 1s;
    width: 1s;
}

submenu > popup {
    top: 100%;
    height: auto;
    width: 160px;
    child-space: 8px;
    left: 1s;
    right: 1s;
}

submenu submenu > popup {
    opacity: 0;
    /* display: none; */
    /* transition: display 0ms 500ms; */
    transition: opacity 200ms;
}

submenu submenu > popup:checked {
    opacity: 1;
    /* display: flex; */
}

submenu submenu > popup {
    top: 0px;
    left: 100%;
}

menubar > submenu {
    width: auto;
    child-left: 16px;
    child-right: 16px;
}

menubar > submenu > label {
    width: auto;
}

menubar > submenu > popup {
    left: 0px;
    top: 100%;
}

submenu > .arrow {
    display: none;
}

submenu submenu > .arrow {
    display: flex;
}

submenu > .arrow {
    width: auto;
    height: 1s;
    child-space: 1s;
    /* child-right: 0px; */
}

/* Notification */

notification {
    width: 300px;
    height: auto;
}

notification .notification-header {
    width: 1s;
    height: 32px;
    child-left: 12px;
    child-right: 4px;
    child-top: 1s;
    child-bottom: 1s;
    col-between: 4px;
}

notification .notification-header label {
    width: 1s;
    text-wrap: true;
}

notification .notification-container {
    width: 1s;
    height: auto;
    child-left: 12px;
    child-right: 12px;
    child-top: 12px;
    child-bottom: 12px;
}

notification .notification-container label {
    width: 1s;
    height: auto;
    overflow: visible;
}

notification .icon-container {
    width: auto;
    height: auto;
    col-between: 0px;
}

notification .icon {
    width: 24px;
    height: 24px;
    child-space: 1s;
}

notification .icon label {
    width: auto;
    height: auto;
}

/* Picklist */

picklist {
    size: auto;
}

/* Popup */

popup {
    width: auto;
    height: auto;
    /* display: none; */
    opacity: 0;
}

popup:checked {
    /* display: flex; */
    opacity: 1;
}

/* Progress Bar */

/* Progress Steps */

/* Radiobutton */

radiobutton {
    width: 16px;
    height: 16px;
    child-space: 1s;
}

radiobutton .inner {
    width: 8px;
    height: 8px;
}

/* Rating */

rating {
    size: auto;
    child-space: auto;
}

/* Searchbox */

/* Scroll View */

scrollview {
    overflow: hidden;
}

scrollview > .scroll_content {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

scrollview > scrollbar.horizontal {
    width: 1s;
    height: 8px;
    left: 0px;
    right: 0px;
    top: 1s;
    bottom: 0px;
}

scrollview > scrollbar.vertical {
    width: 8px;
    height: 1s;
    left: 1s;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

/* Scroll Bar */

scrollbar.horizontal {
    height: 8px;
}

scrollbar.vertical {
    width: 8px;
}

scrollbar .thumb {
    min-width: 4px;
    min-height: 4px;
}

scrollbar.horizontal .thumb {
    height: 1s;
}

scrollbar.vertical .thumb {
    width: 1s;
}

/* Slider */

slider {
    height: 8px;
    width: 1s;
    border-radius: 2px;
}

slider.vertical {
    top: auto;
    bottom: auto;
    height: 1s;
    width: 8px;
}

slider .thumb {
    width: 16px;
    height: 16px;
    top: 1s;
    bottom: 1s;
    child-space: 1s;
}

/* Named Slider */

namedslider {
    height: 28px;
    child-top: 1s;
    child-bottom: 1s;
    child-space: 2px;
    child-left: 2px;
    child-right: 0px;
    col-between: 4px;
}

namedslider > textbox {
    min-width: 55px;
}

namedslider slider {
    width: 1s;
    height: 1s;
    top: 0px;
    bottom: 0px;
}

namedslider slider label {
    left: 4px;
    top: 1s;
    bottom: 1s;
    right: 4px;
}

/* Spinbox */

spinbox {
    child-space: 1s;
    child-left: 4px;
    child-right: 4px;
}

spinbox.horizontal {
    layout-type: row;
    height: 32px;
    width: 100px;
}

spinbox.vertical {
    layout-type: column;
    width: 32px;
    height: auto;
    child-left: 1s;
    child-right: 1s;
}

spinbox.vertical {
    child-top: 4px;
    child-bottom: 4px;
}

/* spinbox .container {
    width: auto;
} */

spinbox .spinbox-button {
    height: 24px;
    child-space: 1s;
}

spinbox.horizontal .spinbox-button {
    width: 24px;
}

spinbox.vertical .spinbox-button {
    width: 1s;
}

/* spinbox .spinbox-value {
    width: 1s;
    height: 1s;
    child-space: 1s;
} */

spinbox label.spinbox-value {
    width: 1s;
    child-space: 1s;
}

spinbox.vertical textbox.spinbox-value {
    width: 1s;
    height: auto;
    child-space: 1s;
}

spinbox.horizontal textbox.spinbox-value {
    width: 1s;
    height: auto;
    child-space: 1s;
}

/* spinbox textbox.spinbox-value {
    min-width: 32px;
    child-space: 1s;
    width: auto;
}

spinbox textbox.spinbox-value {
    width: auto;
} */

spinbox picklist.spinbox-value {
    width: 1s;
    child-space: 1s;
}

spinbox picklist.spinbox-value dropdown {
    width: 100%;
}

spinbox picklist.spinbox-value .title {
    width: 1s;
    col-between: 4px;
}

spinbox picklist.spinbox-value .title label {
    left: 1s;
    right: 1s;
}

spinbox picklist popup {
    width: 100px;
    left: 1s;
    right: 1s;
}

/* Stack */

zstack > * {
    position-type: self-directed;
}

/* Switch */

switch {
    width: 30px;
    height: 18px;
}

switch .switch-handle {
    left: 0px;
    width: 18px;
    height: 18px;
    transition: left 100ms;
}

switch .switch-handle-bg {
    width: 30px;
    height: 12px;
    top: 1s;
    bottom: 1s;
    transition: background-color 100ms;
}

switch:checked .switch-handle {
    left: 12px;
    transition: left 100ms;
}

/* Tab */

tabview {
    width: 1s;
    height: 1s;
}

tabview.vertical {
    layout-type: row;
}

tabview.vertical tabheader {
    layout-type: row;
}

tabview .tabview-tabheader-wrapper {
    layout-type: row;
}

tabview.vertical .tabview-tabheader-wrapper {
    layout-type: column;
}

.tabview-tabheader-wrapper {
    height: auto;
    col-between: 1px;
}

tabheader {
    width: auto;
    height: 32px;
}

tabheader label {
    height: 1s;
    child-left: 4px;
    child-right: 4px;
    child-top: 1s;
    child-bottom: 1s;
}

tabheader .indicator {
    height: 2px;
}

/* tabheader label {
    top: 4px;
    bottom: 4px;
    left: 8px;
    right: 8px;
} 

.tabview-content-wrapper {
    width: 1s;
    height: 1s;
} */

/* Table */

table {
    child-left: 4px;
    child-top: 4px;
    child-right: 4px;
    child-bottom: 4px;
}

tablecolumn * {
    row-between: 4px;
}

.table-column-header {
    height: 32px;
    bottom: 8px;
}

.table-column-title {
    child-left: 5px;
    width: 1s;
    height: auto;
}

.table-column-icon {
    width: 30px;
    child-space: 1s;
}

.table-row-divisor {
    height: 1px;
}

.table-element {
    width: 1s;
    height: 32px;
    child-space: 1s;
    child-left: 4px;
}

.table-element-colored {
    left: 4px;
    top: 1s;
    bottom: 1s;
    child-space: 1s;
    child-left: 8px;
    child-right: 8px;
    child-top: 2px;
    child-bottom: 2px;
}

/* Textbox */

textbox {
    overflow: hidden;
    width: auto;
    height: 32px;
    child-left: 10px;
    child-right: 10px;
    child-top: 1s;
    child-bottom: 1s;
    cursor: text;
}

textbox.multiline {
    height: auto;
    child-top: 4px;
    child-bottom: 4px;
}

textbox:disabled {
    cursor: default;
}

/* Time Picker */

timepicker digitaltimepicker {
    width: 1s;
}

image {
    width: auto;
    height: auto;
}

zstack > * {
    position-type: self-directed;
}

slider {
    height: 5px;
    width: 1s;
}

timepicker digitaltimepicker .digitaltimepicker-button-wrapper {
    left: 1s;
}

/* Digital Time Picker */

digitaltimepicker {
    height: auto;
    width: auto;
    child-space: 8px;
    col-between: 8px;
}

digitaltimepicker > spinbox {
    width: 120px;
}

digitaltimepicker .digitaltimepicker-button-wrapper {
    child-top: 1s;
    child-bottom: 1s;
    height: 1s;
}

digitaltimepicker .digitaltimepicker-dots-wrapper {
    width: auto;
    height: 1s;
    child-space: 1s;
    row-between: 8px;
}

digitaltimepicker .digitaltimepicker-dot {
    width: 6px;
    height: 6px;
}

/* Radial Time Picker */

analogtimepicker {
    child-space: 8px;
    border-radius: 4px;
}

analogtimepicker .clock-face {
    child-space: 1s;
}

analogtimepicker .clock-hand {
    width: 1px;
    height: 50%;
    translate: 0px -50%;
    transform-origin: bottom center;
}

analogtimepicker .center-dot {
    width: 4px;
    height: 4px;
}

analogtimepicker .marker {
    width: 32px;
    height: 32px;
    /* background-color: blue; */
    transform: translateY(-60px);
    /* translate: 0px -50%; */
    /* transform-origin: bottom center; */
    child-space: 1s;
    /* child-left: 1s; */
    /* child-right: 1s; */
}

/*
analogtimepicker .controls-wrapper {
    top: 1s;
    bottom: 1s;
    right: 1s;
    left: 1s;
    width: auto;
    height: 80px;
    row-between: 1s;
    child-left: 1s;
    child-right: 1s;
}

analogtimepicker .time-selector-wrapper {
    height: auto;
    overflow: hidden;
}

analogtimepicker .time-selector-wrapper button {
    width: 30px;
    child-left: 0px;
    child-right: 0px;
    child-top: 0px;
    child-bottom: 0px;
}

analogtimepicker .time-selector-wrapper button label {
    left: 4px;
    right: 4px;
    top: 1s;
    bottom: 1s;
    width: 1s;
    height: 1s;
    child-space: 1s;
} */

menucontroller {
    width: 0px;
    height: 0px;
    overflow: visible;
}

menustack {
    width: auto;
    height: auto;
    overflow: visible;
}

menu {
    overflow: visible;
}

menustack.vertical {
    layout-type: column;
}

menustack.horizontal {
    layout-type: row;
}

menu > menustack {
    position-type: self-directed;
    z-index: 1000;
    display: none;
}

menu:checked > menustack {
    display: flex;
}

menustack.vertical > menu > menustack {
    left: 100%;
}

menustack.horizontal > menu > menustack {
    top: 100%;
}

.menu_arrow {
    display: none;
}

menustack.vertical > menu > hstack > .menu_arrow {
    display: flex;
    left: 1s;
    top: 1s;
    bottom: 1s;
    width: 1s;
    height: 1s;
    child-space: 1s;
}

analogtimepicker .time-selector-wrapper button .indicator {
    top: 1s;
    width: 100%;
    height: 2px;
}

/* Tooltip */

tooltip {
    height: auto;
}

tooltip .tooltip-wrapper {
    child-space: 8px;
}

tooltip .tooltip-button-wrapper {
    top: 8px;
    left: 1s;
    width: auto;
    height: auto;
    col-between: 8px;
}

.tooltip-pointer-wrapper {
    width: 16px;
    height: 12px;
    overflow: hidden;
    left: 4px;
}

.tooltip-pointer {
    width: 12px;
    height: 12px;
    background-color: #51afef;
    border-radius: 2px;
}

/* Tree */

/* Modal */

.modal {
    width: 200px;
    space: 1s;
    overflow: visible;
    child-space: 8px;
    row-between: 16px;
}

.modal label {
    width: auto;
    height: auto;
}

.modal button {
    top: 8px;
}

.modal .title {
    bottom: 4px;
}

.modal .accent {
    left: 1s;
}

/* XY Pad */

xypad .marker {
    border-radius: 50%;
    size: 10px;
    border-width: 2px;
}
