/* GENERAL */

/* * {
    border-color: blue;
    border-width: 1px;
} */

:root {
    background-color: #fafafa;
    color: #181818;
}

/* LABEL */

label:disabled {
    color: #a0a0a0;
}

label.describing {
    cursor: hand;
}

/* BUTTON  */

button {
    border-radius: 4px;
    border-width: 1px;
    border-color: #d2d2d2;
    background-color: #fdfdfd;
    transition: background-color 100ms;
    color: #181818;
}

button:over {
    background-color: #f9f9f9;
    transition: background-color 100ms;
}

button:active {
    background-color: #fafafa;
    border-color: #ebebeb;
    color: #626262;
}

button:focus-visible {
    outline-width: 2px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

button.accent {
    border-width: 0px;
    background-color: #51afef;
    transition: background-color 100ms;
    color: #181818;
}

button.accent:over {
    background-color: #73bff2;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

button.accent:active {
    /* background-color: #59a4d9; */
    color: #363636;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

button.accent:disabled {
    background-color: #c4c4c4;
    color: white;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

button.outline {
    background-color: transparent;
    border-width: 1px;
    border-color: #51afef;
    color: #51afef;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

button.outline:over {
    background-color: #80caff10;
    transition: background-color 100ms;
}

button.outline:active {
    background-color: #3995d610;
}

button.outline:disabled {
    border-color: #ebebeb;
    color: #626262;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

button.ghost {
    border-width: 0px;
    background-color: #80caff00;
    transition: background-color 100ms;
    color: #51afef;
}

button.ghost:over {
    background-color: #80caff40;
    transition: background-color 100ms;
}

button.ghost:active {
    background-color: #3995d610;
    transition: background-color 100ms;
}

button.ghost:disabled {
    color: #626262;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

button:disabled {
    border-color: #ebebeb;
    color: #626262;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

/* CHECKBOX */

checkbox {
    border-radius: 2px;
    border-width: 1px;
    border-color: #626262;
    background-color: #f4f4f4;
    child-space: 1s;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:hover {
    border-color: #626262;
    background-color: #ebebeb;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:active {
    border-color: #c4c4c4;
    background-color: #e2e2e2;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:disabled {
    border-color: #c4c4c4;
    background-color: #f4f4f400;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
    outline-offset: 3px;
}

checkbox:checked {
    background-color: #51afef;
    border-color: #51afef;
    color: #fff;
    transition: background-color 200ms;
    transition: border-color 100ms;
}

checkbox:checked:hover {
    background-color: #73bff2;
    border-color: #73bff2;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:checked:active {
    background-color: #59a4d9;
    border-color: #59a4d9;
    color: #e0e0e0;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:checked:disabled {
    background-color: #c4c4c4;
    border-color: #c4c4c4;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

/* Chip */

chip {
    border-radius: 4px;
}

chip .icon {
    scale: 1;
    transition: scale 100ms;
    transition: background-color 100ms;
    border-radius: 50%;
}

chip .icon:hover {
    background-color: #00000022;
    scale: 1.2;
    transition: scale 100ms;
    transition: background-color 100ms;
}

chip:disabled .icon {
    background-color: transparent;
    scale: 1;
}

/* Dropdown */

dropdown {
    border-radius: 4px;
    background-color: #fdfdfd;
}

dropdown:over {
    background-color: #f9f9f9;
}

dropdown:active {
    border-color: #ebebeb;
    background-color: #fafafa;
}

dropdown .title {
    border-width: 1px;
    border-color: #d2d2d2;
    border-radius: 4px;
}

dropdown:active .title {
    color: #626262;
}

dropdown .title:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

dropdown popup {
    border-radius: 4px;
    border-width: 1px;
    border-color: #d2d2d2;
    background-color: #fafafa;
}

dropdown list label {
    cursor: hand;
}

dropdown list label:hover {
    background-color: #51afef11;
}

dropdown list label:checked {
    background-color: #5dc4ec;
}

dropdown list label:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

dropdown .list label {
    cursor: hand;
}

/* dropdown .list label:hover {
    background-color: #51afef11;
} */

dropdown .list label.nav {
    background-color: #51b0ef34;
}

dropdown .list label:checked {
    background-color: #5dc4ec;
}

dropdown .list label:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

/* MENU */

menubutton {
    background-color: transparent;
    border-radius: 4px;
}

menubutton:focus {
    background-color: #f0f0f0;
}

menubutton:hover {
    background-color: #f0f0f0;
}

menubutton .shortcut {
    color: #c4c4c4;
    font-size: medium;
}

submenu {
    background-color: transparent;
    border-radius: 4px;
    border-width: 1px;
    border-color: #d2d2d2;
}

menubar submenu {
    border-width: 0px;
}

submenu submenu {
    border-width: 0px;
}

submenu:checked {
    background-color: #f0f0f0;
}

submenu:focus {
    background-color: #f0f0f0;
}

submenu:hover {
    background-color: #f0f0f0;
}

submenu > popup {
    border-width: 1px;
    border-color: #d2d2d2;
    background-color: #fdfdfd;
    child-space: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 16px #4f4f4f38;
}

menu-divider {
    height: 9px;
    width: 1s;
    child-top: 1s;
    child-bottom: 1s;
}

menu-divider .line {
    height: 1px;
    background-color: #d2d2d2;
}

/* Popup */

popup {
    box-shadow: 0px 3px 12px #00000038;
    /* opacity: 0%;
    transition: opacity 100ms; */
}

/* 
popup:checked {
    opacity: 100%;
    transition: opacity 100ms;
} */

/* PROGRESSBAR */

progressbar {
    background-color: #51afef20;
}

progressbar:disabled {
    background-color: #d2d2d2;
}

progressbar .progressbar-bar {
    background-color: #51afef;
}

progressbar:disabled .progressbar-bar {
    background-color: #418abb;
}

/* KNOB */

knob {
    border-width: 2px;
}

knob:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

knob .knob-track {
    color: #51afef;
}

knob:disabled .knob-track {
    color: #ebebeb;
}

knob .knob-head {
    background-color: #fdfdfd;
    border-width: 2px;
    border-color: #d2d2d2;
}

knob:disabled .knob-head {
    border-color: #ebebeb;
}

knob .knob-tick {
    background-color: #d2d2d2;
    border-radius: 1px;
}

/* PiCKLIST */

picklist:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
    outline-offset: 3px;
}

/* RADIOBUTTON */

radiobutton {
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-radius: 50%;
    border-color: #888;
    background-color: transparent;
    child-space: 1s;
}

radiobutton:hover {
    border-color: #51afef;
}

radiobutton:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton:checked {
    border-color: #51afef;
}

radiobutton:checked:hover {
    border-color: #80caff;
}

radiobutton:disabled {
    border-color: #b6b6b6;
}

radiobutton .inner {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #888;
}

radiobutton:checked .inner {
    width: 8px;
    height: 8px;
    background-color: #51afef;
}

radiobutton:hover .inner {
    background-color: #80caff;
}

radiobutton:disabled .inner {
    width: 8px;
    height: 8px;
    background-color: #b6b6b6;
}

/* RATING */

rating:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
    border-radius: 4px;
}

rating .icon {
    color: #c4c4c4;
    font-size: x-large;
    width: 20px;
    height: 20px;
    cursor: hand;
}

rating .icon:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
    border-radius: 4px;
}

rating .icon:checked {
    color: gold;
}

rating:over > .icon:enabled {
    color: #c4c4c4;
}

rating:over > .icon.foo:enabled {
    color: gold;
}

rating .icon:hover {
    scale: 1.2;
    transition: scale 100ms;
}

rating .icon:disabled {
    color: #e5e5e5;
    scale: 1;
}

rating .icon:checked:disabled {
    color: #dacf93;
}

/* SCROLLVIEW */

scrollview > scrollbar {
    display: none;
}

scrollview:checked > scrollbar {
    display: flex;
}

scrollbar {
    background-color: transparent;
}

scrollbar.horizontal {
    height: 8px;
}

scrollbar.vertical {
    width: 8px;
}

scrollbar .thumb {
    background-color: #b6b6b6;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 200ms 0s linear;
}

scrollbar.horizontal .thumb {
    height: 1s;
}

scrollbar.vertical .thumb {
    width: 1s;
}

scrollview:checked > scrollbar:over .thumb {
    background-color: #b6b6b6;
    opacity: 1;
    transition: opacity 200ms 0s linear;
}

scrollview:checked:active scrollbar .thumb {
    background-color: #b6b6b6;
    opacity: 1;
    transition: opacity 200ms 0s linear;
}

scrollview:checked > scrollbar:active .thumb {
    background-color: #b6b6b6;
    opacity: 1;
    transition: opacity 200ms 0s linear;
}

/* SLIDER */

slider * {
    background-color: #51afef20;
    border-radius: 2px;
}

slider:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
    border-radius: 4px;
}

slider .active {
    background-color: #51afef80;
    border-radius: 2px;
}

slider .thumb {
    background-color: #51afef;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    child-space: 1s;
}

/* SPINBOX */

spinbox {
    background-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #e4e4e4;
}

spinbox .spinbox-button {
    cursor: hand;
}

spinbox textbox.spinbox-value {
    background-color: transparent;
    border-width: 0px;
    border-radius: 0px;
}

spinbox picklist.spinbox-value dropdown {
    background-color: transparent;
    border-width: 0px;
}

spinbox picklist.spinbox-value {
    background-color: transparent;
    border-width: 0px;
}

spinbox picklist.spinbox-value .title {
    background-color: transparent;
    border-width: 0px;
}

/* SWITCH */

switch .switch-handle-bg {
    border-radius: 6px;
    background-color: #888;
    transition: background-color 100ms;
}

switch .switch-handle {
    border-width: 1px;
    border-color: #d9d9d9;
    background-color: #ececec;
    border-radius: 50%;
    transition: background-color 100ms;
    transition: left 100ms;
}

switch:hover .switch-handle {
    background-color: #f0f0f0;
    transition: background-color 100ms;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

switch:checked .switch-handle-bg {
    background-color: #51afef40;
    transition: background-color 100ms;
}

switch:checked .switch-handle {
    background-color: #51afef;
    transition: background-color 100ms;
}

switch:checked:hover .switch-handle {
    background-color: #80caff;
    transition: background-color 100ms;
}

switch:disabled * {
    background-color: #cccccc;
    transition: background-color 100ms;
}

switch:hover:disabled * {
    background-color: #cccccc;
    transition: background-color 100ms;
}

switch:checked:disabled * {
    background-color: #cccccc;
    transition: background-color 100ms;
}

switch:checked:hover:disabled * {
    background-color: #cccccc;
    transition: background-color 100ms;
}

/* TEXTBOX */

textbox {
    border-width: 1px;
    border-radius: 4px;
    border-color: #e4e4e4;
    background-color: #fff;
    transition: border-color 100ms;
    transition: background-color 100ms;
}

textbox:checked {
    border-color: #51afef;
    transition: border-color 100ms;
}

textbox:checked.caret {
    caret-color: #181818;
}

textbox > label.placeholder {
    caret-color: transparent;
    color: gray;
}

textbox:read-only {
    background-color: transparent;
    border-width: 0px;
}

textbox:disabled {
    color: #888;
    transition: color 100ms;
}

textbox:focus-visible {
    border-color: #51afef80;
    transition: border-color 100ms;
}

textbox:invalid {
    border-color: #ef5151;
    transition: border-color 100ms;
    border-width: 2px;
}

/* TIMEPICKER */

timepicker {
    background-color: #fff;
    border-radius: 4px;
    child-space: 8px;
}

timepicker .timepicker-wrapper {
    col-between: 8px;
}

timepicker .timepicker-button-wrapper {
    row-between: 1s;
}

timepicker .timepicker-dots-wrapper {
    width: auto;
    height: 1s;
    child-space: 1s;
    row-between: 8px;
}

timepicker .timepicker-dot {
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background-color: #b6b6b6;
}

/* DATEPICKER */

datepicker {
    background-color: #fff;
    border-radius: 4px;
    border-color: #d2d2d2;
    border-width: 1px;
}

.datepicker-header textbox {
    background-color: transparent;
}

.datepicker-divisor {
    background-color: #d2d2d2;
}

.datepicker-calendar-day {
    color: #525252;
    cursor: hand;
}

.datepicker-calendar-day:checked {
    color: #fff;
    background-color: #51afef;
    border-radius: 4px;
}

.datepicker-calendar-day-disabled {
    color: #a0a0a0;
    cursor: arrow;
}

.datepicker-selected-date {
    color: #b0b0b0;
}

.datepicker-cancel {
    border-width: 2px;
    border-color: #ef5151;
    border-radius: 4px;
}

.datepicker-cancel label {
    color: #ef5151;
}

.datepicker-apply {
    border-width: 2px;
    border-color: #51afef;
    background-color: #51afef;
    border-radius: 4px;
}

.datepicker-apply label {
    color: #ffffff;
}

/* TABVIEW */

tabheader:disabled {
    background-color: transparent;
}

tabheader:disabled label {
    color: #888;
}

tabheader:checked .indicator {
    background-color: #51afef;
}

tabview .tabview-divider {
    background-color: #c4c4c4;
}

/* TOOLTIP */

tooltip {
    child-space: 4px;
    background-color: #181818;
    border-radius: 4px;
    color: #fafafa;
    opacity: 0;
    transition: opacity 100ms 500ms;
}

tooltip.vis {
    opacity: 1;
    transition: opacity 100ms 500ms;
}
