/* GENERAL */

:root {
    background-color: #ffffff;
    color: #181818;
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI",
        "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
    font-variation-settings: "wght" 400;
}

*:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
    outline-offset: 3px;
}

/* BACKGROUNDS */

.bg-default {
    background-color: #f4f4f4;
}

.bg-lighter {
    background-color: #fafafa;
}

.bg-darker {
    background-color: #f1f1f1;
}

/* AVATAR */

avatar {
    background-color: #d2d2d2;
    color: white;
}

avatar svg {
    fill: white;
}

/* BADGE */

badge {
    background-color: #0062ff;
    color: #fafafa;
}

badge svg {
    fill: #fafafa;
}

badge.success {
    background-color: #00ab14;
}

badge.warning {
    background-color: #ffaa00;
}

badge.error {
    background-color: #ff2d2d;
}

/* BUTTON  */

button {
    corner-radius: 4px;
    border: 1px #d2d2d2;
    background-color: #fdfdfd;
    transition: background-color 100ms;
}

button:hover {
    background-color: #f9f9f9;
    transition: background-color 100ms;
}

button:active {
    background-color: #eaeaea;
}

button.accent,
button-group.accent > button {
    border-width: 0px;
    background-color: #51afef;
    transition: background-color 100ms;
}

button.accent:hover,
button-group.accent > button:hover {
    background-color: #73bff2;
    transition: background-color 100ms;
}

button.accent:active,
button-group.accent > button:active {
    background-color: #59a4d9;
    transition: background-color 100ms;
}

button.accent:disabled,
button-group.accent:disabled > button {
    background-color: #c4c4c4;
    transition: background-color 100ms;
}

button.outline,
button-group.outline > button {
    background-color: #80caff00;
    border-width: 1px;
    border-color: #51afef;
    color: #51afef;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

button.outline svg,
button-group.outline > button svg {
    fill: #51afef;
}

button.outline:hover,
button-group.outline > button:hover {
    background-color: #80caff40;
    transition: background-color 100ms;
}

button.outline:active,
button-group.outline > button:active {
    background-color: #3995d610;
}

button.outline:disabled,
button-group.outline:disabled > button {
    border-color: #ebebeb;
    background-color: #80caff00;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

button.text,
button-group.text > button {
    border-width: 0px;
    background-color: #80caff00;
    transition: background-color 100ms;
    color: #51afef;
}

button.text svg,
button-group.text > button svg {
    fill: #51afef;
}

button.text:hover,
button-group.text > button:hover {
    background-color: #80caff40;
    transition: background-color 100ms;
}

button.text:active,
button-group.text > button:active {
    background-color: #3995d610;
    transition: background-color 100ms;
}

button.text:disabled,
button-group.text:disabled > button {
    color: #626262;
    background-color: #80caff00;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

button.text:disabled svg,
button-group.text:disabled > button svg {
    fill: #626262;
}

button:disabled {
    border-color: #c4c4c4;
    color: #a0a0a0;
    background-color: #fdfdfd;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

button:disabled svg {
    fill: #a0a0a0;
}

/* BUTTON GROUP */

button-group > button,
button-group > toggle-button,
button-group > textbox {
    corner-radius: 0px;
    right: -1px;
}

button-group.vertical > button,
button-group.vertical > toggle-button,
button-group > textbox {
    corner-radius: 0px;
    right: auto;
    bottom: -1px;
}

button-group > :first-child {
    corner-top-left-radius: 4px;
    corner-bottom-left-radius: 4px;
    right: -1px;
    left: auto;
}

button-group > :last-child {
    corner-top-right-radius: 4px;
    corner-bottom-right-radius: 4px;
    left: -1px;
    right: auto;
}

button-group.vertical > :first-child {
    corner-radius: 0px;
    corner-top-right-radius: 4px;
    corner-top-left-radius: 4px;
    right: auto;
    bottom: -1px;
}

button-group.vertical > :last-child {
    corner-radius: 0px;
    corner-bottom-right-radius: 4px;
    corner-bottom-left-radius: 4px;
    left: auto;
    top: -1px;
}

button-group.accent {
    col-between: 1px;
}

button-group.accent > :first-child {
    right: auto;
}

button-group.accent > :last-child {
    left: auto;
}

/* CHECKBOX */

checkbox {
    corner-radius: 2px;
    border-width: 1px;
    border-color: #d2d2d2;
    background-color: #fdfdfd;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:hover {
    border-color: #d2d2d2;
    background-color: #f9f9f9;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:active {
    border-color: #d2d2d2;
    background-color: #eaeaea;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:disabled {
    border-color: #c4c4c4;
    background-color: #fdfdfd00;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:checked {
    background-color: #51afef;
    border-color: #51afef;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:checked svg {
    fill: #fff;
}

checkbox:checked:hover {
    background-color: #73bff2;
    border-color: #73bff2;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:checked:active {
    background-color: #59a4d9;
    border-color: #59a4d9;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:checked:disabled {
    background-color: #c4c4c4;
    border-color: #c4c4c4;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

/* CHIP */

chip {
    corner-radius: 50%;
    background-color: #d2d2d2;
}

chip.outline {
    border-width: 1px;
    border-color: #d2d2d2;
    background-color: transparent;
}

chip .close-icon {
    background-color: #e0e0e000;
    transition: background-color 100ms;
    corner-radius: 50%;
}

chip .close-icon:hover {
    background-color: #c1c1c1;
    transition: background-color 100ms;
}

chip:disabled .icon {
    background-color: transparent;
}

/* COMBOBOX */

combobox {
    corner-radius: 4px;
    background-color: #fdfdfd;
}

combobox .title {
    border-width: 1px;
    border-color: #d2d2d2;
    corner-radius: 4px;
}

combobox > textbox > label.placeholder {
    color: #181818;
}

combobox popup {
    corner-radius: 4px;
    border-width: 1px;
    border-color: #d2d2d2;
    background-color: #fdfdfd;
}

combobox .list label {
    cursor: hand;
}

combobox .list label.nav {
    background-color: #51afef34;
}

combobox .list label:checked {
    background-color: #51afef;
}

/* DATEPICKER */

datepicker {
    background-color: #fff;
    corner-radius: 4px;
    border-color: #d2d2d2;
    border-width: 1px;
}

.datepicker-header textbox {
    background-color: transparent;
}

.datepicker-calendar-day {
    color: #525252;
    cursor: hand;
    corner-radius: 4px;
}

.datepicker-calendar-day:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
}

.datepicker-calendar-day:checked {
    color: #fff;
    background-color: #51afef;
    corner-radius: 4px;
}

.datepicker-calendar-day-disabled {
    color: #a0a0a0;
    cursor: arrow;
}

.datepicker-selected-date {
    color: #b0b0b0;
}

/* DIVIDER */

divider {
    background-color: #d2d2d2;
}

/* DROPDOWN */

dropdown popup {
    corner-radius: 4px;
    border-width: 1px;
    border-color: #d2d2d2;
    background-color: #fdfdfd;
}

dropdown list label {
    cursor: hand;
}

dropdown list label:hover {
    background-color: #51afef34;
}

dropdown list label:checked {
    background-color: #51afef;
}

/* ICON */
svg:disabled {
    fill: #a0a0a0;
}

/* KNOB */

knob {
    border-width: 2px;
}

knob .knob-track {
    color: #51afef;
}

knob:disabled .knob-track {
    color: #ebebeb;
}

knob .knob-head {
    background-color: #fdfdfd;
    border-width: 2px;
    border-color: #d2d2d2;
}

knob:disabled .knob-head {
    border-color: #c4c4c4;
}

knob .knob-tick {
    background-color: #d2d2d2;
    corner-radius: 1px;
}

knob:disabled .knob-tick {
    background-color: #c4c4c4;
}

/* LABEL */

label:disabled {
    color: #a0a0a0;
}

label.describing {
    cursor: hand;
}

/* LIST */

list label.dark {
    background-color: #00000015;
}

/* MENU */

menubutton {
    background-color: transparent;
    corner-radius: 4px;
}

menubutton:focus {
    background-color: #f0f0f0;
}

menubutton:hover {
    background-color: #f0f0f0;
}

menubutton:disabled {
    background-color: transparent;
}

menubutton .shortcut {
    color: #c4c4c4;
    font-size: medium;
}

submenu {
    background-color: transparent;
    corner-radius: 4px;
    border-width: 1px;
    border-color: #d2d2d2;
}

menubar submenu {
    border-width: 0px;
}

submenu submenu,
dropown > popup > submenu {
    border-width: 0px;
}

submenu:checked {
    background-color: #f0f0f0;
}

submenu:focus {
    background-color: #f0f0f0;
}

submenu:hover {
    background-color: #f0f0f0;
}

submenu:disabled {
    background-color: transparent;
}

submenu > popup {
    border-width: 1px;
    border-color: #d2d2d2;
    background-color: #fdfdfd;
    child-space: 8px;
    corner-radius: 4px;
    shadow: 0px 2px 16px #4f4f4f38;
}

submenu divider {
    top: 4px;
    bottom: 4px;
    background-color: #d2d2d2;
}

menu-divider .line {
    height: 1px;
    background-color: #d2d2d2;
}

/* NOTIFICATION */

notification {
    background-color: #f4f4f4;
}

/* PROGRESSBAR */

progressbar {
    corner-radius: 50%;
    background-color: #f4f4f4;
}

progressbar:disabled {
    background-color: #a0a0a0;
}

progressbar .progressbar-bar {
    corner-radius: 50%;
    background-color: #51afef;
}

progressbar:disabled .progressbar-bar {
    background-color: transparent;
}

/* PICKLIST */

picklist {
    corner-radius: 4px;
}

picklist:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
    outline-offset: 3px;
}

/* POPUP */

popup {
    shadow: 0px 3px 12px #00000038;
}

/* RADIOBUTTON */

radiobutton {
    width: 16px;
    height: 16px;
    border-width: 2px;
    corner-radius: 50%;
    border-color: #d2d2d2;
    child-space: 1s;
}

radiobutton:hover {
    border-color: #51afef;
}

radiobutton:checked {
    border-color: #51afef;
}

radiobutton:disabled {
    border-color: #c4c4c4;
}

radiobutton .inner {
    width: 0px;
    height: 0px;
    corner-radius: 50%;
    background-color: #d2d2d2;
}

radiobutton:checked .inner {
    width: 8px;
    height: 8px;
    background-color: #51afef;
    transition: width 100ms, height 100ms;
}

radiobutton:disabled .inner {
    width: 8px;
    height: 8px;
    background-color: #c4c4c4;
}

/* RATING */

rating:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
    outline-offset: 3px;
    corner-radius: 4px;
}

rating svg {
    cursor: hand;
}

rating svg {
    fill: #c4c4c4;
    width: 20px;
    height: 20px;
}

rating svg:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
    outline-offset: 3px;
    corner-radius: 4px;
}

rating svg:checked {
    fill: gold;
}

rating:over > svg:enabled {
    fill: #c4c4c4;
}

rating:over > svg.foo:enabled {
    fill: gold;
}

rating svg:hover {
    scale: 1.2;
    transition: scale 100ms;
}

rating svg:disabled {
    fill: #e5e5e5;
}

rating svg:checked:disabled {
    fill: #dacf93;
}

/* SCROLLVIEW */

scrollview > scrollbar {
    display: none;
}

scrollview.h-scroll > scrollbar,
scrollview.v-scroll > scrollbar {
    display: flex;
}

scrollbar {
    background-color: transparent;
}

scrollbar .thumb {
    background-color: #d2d2d2;
    corner-radius: 50%;
    opacity: 0;
    transition: opacity 200ms 0s linear;
}

scrollview.h-scroll:hover > scrollbar.horizontal > .thumb,
scrollview.v-scroll:hover > scrollbar.vertical > .thumb {
    background-color: #d2d2d2;
    opacity: 1;
    transition: opacity 200ms 0s linear;
}

scrollview.h-scroll:active > scrollbar.horizontal > .thumb,
scrollview.v-scroll:active > scrollbar.vertical > .thumb {
    background-color: #d2d2d2;
    opacity: 1;
    transition: opacity 200ms 0s linear;
}

scrollview.h-scroll > scrollbar.horizontal:active > .thumb,
scrollview.v-scroll > scrollbar.vertical:active > .thumb {
    background-color: #e0e0e0;
    opacity: 1;
    transition: opacity 200ms 0s linear;
}

/* SLIDER */
slider * {
    background-color: #51afef20;
    corner-radius: 2px;
}

slider:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
    outline-offset: 3px;
    corner-radius: 4px;
}

slider .active {
    background-color: #51afef80;
    corner-radius: 2px;
}

slider .thumb {
    background-color: #51afef;
    corner-radius: 6px;
    width: 12px;
    height: 12px;
    child-space: 1s;
}

/* SPINBOX */
spinbox {
    background-color: #fdfdfd;
    corner-radius: 4px;
    border-width: 1px;
    border-color: #d2d2d2;
}

spinbox .spinbox-button {
    cursor: hand;
    border-width: 0px;
    background-color: transparent;
}

spinbox .spinbox-button:hover {
    background-color: transparent;
}

spinbox .spinbox-button:active {
    background-color: transparent;
}

spinbox .spinbox-button:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
}

spinbox textbox.spinbox-value {
    background-color: transparent;
    border-width: 0px;
    corner-radius: 0px;
}

spinbox picklist.spinbox-value > dropdown > button {
    background-color: transparent;
    border-width: 0px;
}

spinbox picklist.spinbox-value > dropdown > button:hover {
    background-color: transparent;
    border-width: 0px;
}

spinbox picklist.spinbox-value dropdown button:active {
    background-color: transparent;
    border-width: 0px;
}

spinbox picklist.spinbox-value {
    background-color: transparent;
    border-width: 0px;
}

spinbox picklist.spinbox-value .dropdown-title {
    background-color: transparent;
    border-width: 0px;
}

/* SWITCH */
switch {
    corner-radius: 4px;
}

switch .switch-handle-bg {
    corner-radius: 6px;
    background-color: #c4c4c4;
    transition: background-color 100ms;
}

switch .switch-handle {
    border-width: 1px;
    border-color: #d2d2d2;
    background-color: #ececec;
    corner-radius: 50%;
    transition: background-color 100ms;
    transition: left 100ms;
}

switch:hover .switch-handle {
    background-color: #f0f0f0;
    transition: background-color 100ms;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

switch:checked .switch-handle-bg {
    background-color: #51afef40;
    transition: background-color 100ms;
}

switch:checked .switch-handle {
    background-color: #51afef;
    transition: background-color 100ms;
}

switch:checked:hover .switch-handle {
    background-color: #80caff;
    transition: background-color 100ms;
}

switch:disabled * {
    background-color: #cccccc;
    transition: background-color 100ms;
}

switch:hover:disabled * {
    background-color: #cccccc;
    transition: background-color 100ms;
}

switch:checked:disabled * {
    background-color: #cccccc;
    transition: background-color 100ms;
}

switch:checked:hover:disabled * {
    background-color: #cccccc;
    transition: background-color 100ms;
}

/* TABVIEW */
tabheader:disabled {
    background-color: transparent;
}

tabheader:checked .indicator {
    background-color: #51afef;
}

tabview .tabview-divider {
    background-color: #c4c4c4;
}

/* TEXTBOX */
textbox {
    corner-radius: 4px;
    border: 1px #d2d2d2;
    background-color: #fff;
    transition: border-color 100ms;
    transition: background-color 100ms;
}

textbox:checked {
    border-color: #51afef;
    transition: border-color 100ms;
}

textbox:checked.caret {
    caret-color: #181818;
}

textbox > label.placeholder {
    caret-color: transparent;
    color: gray;
}

textbox:read-only {
    background-color: transparent;
    border-width: 0px;
}

textbox:disabled {
    color: #888;
    transition: color 100ms;
}

textbox:focus-visible {
    border-color: #51afef80;
    transition: border-color 100ms;
}

textbox:invalid {
    border-color: #ef5151;
    transition: border-color 100ms;
    border-width: 2px;
}

/* TOGGLE BUTTON */

toggle-button {
    corner-radius: 4px;
    border-width: 1px;
    border-color: #d2d2d2;
    background-color: #fdfdfd;
    transition: background-color 100ms;
}

toggle-button:hover {
    background-color: #f9f9f9;
    transition: background-color 100ms;
}

toggle-button:active {
    background-color: #fafafa;
}

toggle-button:checked {
    background-color: #e0e0e0;
    transition: background-color 100ms;
}

toggle-button:disabled {
    border-color: #ebebeb;
    color: #626262;
    background-color: #fdfdfd;
    transition: background-color 100ms;
    transition: border-color 100ms;
}

/* TOOLTIP */
tooltip {
    child-space: 8px;
    background-color: #181818;
    corner-radius: 4px;
    color: #fafafa;
}

tooltip arrow {
    background-color: #181818;
}

/* VIRTUAL LIST */

virtual-list label.dark {
    background-color: #00000015;
}

/* Window */

window {
    background-color: white;
}

/* XY PAD */

xypad {
    border-color: #000000ff;
}

xypad .thumb {
    border-color: #000000ff;
}
