.main {
    background-color: #ebebeb;
    width: 1s;
    height: 1s;
    child-top: 1s;
    child-bottom: 1s;
    child-left: 1s;
    child-right: 1s;
}

.container {
    col-between: 10px;
    row-between: 10px;
    space: 1s;
    width: auto;
    height: auto;
}

button {
    width: auto;
    height: 28px;
    border-radius: 4px;
    child-space: 1s;
    child-left: 10px;
    child-right: 10px;
    border-width: 2px;
    border-color: #51afef;
    overflow: visible;
}

button label {
    color: #51afef;
    child-space: 1s;
}

button:over {
    border-color: #9fd5fb;
}

button:over label {
    color: #9fd5fb;
}

button:active {
    border-color: #3f8bbd;
}

button:active label {
    color: #3f8bbd;
}

button.accent {
    background-color: #51afef;
    border-width: 0px;
}

button.accent label {
    color: #fff;
}

button.accent:over {
    background-color: #9fd5fb;
}

button.accent:active {
    background-color: #317099;
}

button:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

button:disabled {
    border-color: #888;
}

button:disabled label {
    color: #888;
}

checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border-width: 2px;
    border-color: #888;
    background-color: transparent;
    child-space: 1s;
}

checkbox:hover {
    border-color: #51afef;
    background-color: transparent;
}

checkbox:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
    outline-offset: 3px;
}

checkbox:checked {
    background-color: #51afef;
    border-color: #51afef;
    color: #fff;
}

checkbox:disabled {
    border-color: #b6b6b6;
}

checkbox:hover:disabled {
    background-color: transparent;
}

checkbox:checked:hover {
tooltip .tooltip-wrapper {
    background-color: #51afef;
    border-radius: 4px;
    child-space: 8px;
}

tooltip .title {
    font-size: 18px;
}

tooltip label {
    color: #181818;
}

tooltip button {
    top: 8px;
    left: 1s;
    border-color: #181818;
}

.tooltip-pointer-wrapper {
    width: 16px;
    height: 12px;
    overflow: hidden;
    left: 4px;
}

.tooltip-pointer {
    width: 12px;
    height: 12px;
    background-color: #51afef;
    border-radius: 2px;
}
px;
    border-color: #2f2f2f;
}

knob .track {
    background-color: #51afef;
}

knob:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton {
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-radius: 50%;
    border-color: #888;
    background-color: transparent;
    child-space: 1s;
}

radiobutton:hover {
    border-color: #51afef;
}

radiobutton:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton:checked {
    border-color: #51afef;
}

radiobutton:checked:hover {
    border-color: #9fd5fb;
}

radiobutton:disabled {
    border-color: #b6b6b6;
}

radiobutton .inner {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #888;
}

radiobutton:checked .inner {
    width: 8px;
    height: 8px;
    background-color: #51afef;
}

radiobutton:hover .inner {
    background-color: #9fd5fb;
}

radiobutton:disabled .inner {
    width: 8px;
    height: 8px;
    background-color: #b6b6b6;
}

scrollbar {
    background-color: #f8f8f8;
}

scrollbar.horizontal {
    height: 8px;
}

scrollbar.vertical {
    width: 8px;
}

scrollbar .thumb {
    background-color: #b6b6b6;
    min-width: 4px;
    min-height: 4px;
}

scrollbar.horizontal .thumb {
    height: 8px;
}

scrollbar.vertical .thumb {
    width: 8px;
}

scrollbar .thumb:hover {
    background-color: #888;
}

scrollbar .thumb:focus {
    background-color: #888;
}

slider * {
    background-color: #51afef20;
    border-radius: 2px;
}

slider:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
    border-radius: 4px;
}

slider .active {
    background-color: #51afef80;
    border-radius: 2px;
}

slider .thumb {
    background-color: #51afef;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    child-space: 1s;
}

spinbox {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    background-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #e4e4e4;
    child-space: 1s;
}

spinbox.horizontal {
    height: 32px;
}

spinbox.vertical {
    width: 32px;
}

spinbox .spinbox-button {
    height: 24px;
    child-space: 1s;
    color: #888888;
}

spinbox.horizontal .spinbox-button {
    width: 24px;
}

spinbox.vertical .spinbox-button {
    width: 1s;
}

spinbox .spinbox-button:hover {
    color: #000;
}

spinbox .spinbox-value {
    height: 24px;
    child-space: 1s;
    color: #000;
}

spinbox.vertical .spinbox-value {
    left: 4px;
    right: 4px;
}

switch {
    width: 24px;
    height: 16px;
    border-radius: 8px;
    border-width: 2px;
    border-color: #888888;
    background-color: transparent;
    child-space: 1s;
    transition: border-color 0.1 0;
}

.switch-handle-container {
    left: 2px;
    top: 2px;
    width: 16px;
    height: 8px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.1 0;
}

.switch-handle {
    width: 8px;
    height: 8px;
    background-color: #888888;
    border-radius: 4px;
    transition: background-color 0.1 0;
}

switch:hover .switch-handle-container .switch-handle {
    background-color: #51afef;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
}

switch:active {
    border-color: #b6b6b6;
    background-color: #dcdcdc;
}

switch:checked {
    border-color: #51afef;
}

switch:checked .switch-handle-container {
    background-color: #51afef40;
}

switch:checked .switch-handle-container .switch-handle {
    background-color: #51afef;
    left: 8px;
}

switch:checked:hover .switch-handle-container .switch-handle {
    background-color: #9fd5fb;
}

switch:disabled {
    border-color: #b6b6b6;
}

switch:disabled .switch-handle-container .switch-handle {
    background-color: #b6b6b6;
}

switch:hover:disabled {
    background-color: transparent;
}

switch:hover:disabled .switch-handle-container .switch-handle {
    background-color: #b6b6b6;
}

switch:checked:disabled .switch-handle-container {
    background-color: #b6b6b640;
}

switch:checked:disabled .switch-handle-container .switch-handle {
    background-color: #b6b6b6;
}

table {
    border-radius: 4px;
    space: 1s;
}

tablecolumn {
    width: 120px;
}

.table-column-header {
    height: 30px;
}

.table-column-title {
    child-left: 5px;
    width: 1s;
    height: 1s;
    font: "roboto-bold";
}

.table-column-icon {
    width: 30px;
    child-space: 1s;
    font: "icons";
}

.table-row-divisor {
    height: 1px;
    background-color: #404040;
}

.table-element {
    child-left: 5px;
    width: 1s;
    height: 32px;
    child-space: 1s;
    child-left: 4px;
    background-color: transparent;
}

.table-element-colored {
    left: 4px;
    top: 1s;
    bottom: 1s;
    background-color: #51afef20;
    child-space: 1s;
    child-left: 8px;
    child-right: 8px;
    child-top: 2px;
    child-bottom: 2px;
    border-radius: 4px;
    color: #51afef;
}

textbox {
    width: 280px;
    height: 80px;
    border-width: 1px;
    border-color: #e4e4e4;
    border-radius: 4px;
    background-color: #fff;
    child-left: 5px;
    child-right: 5px;
    child-top: 2px;
    child-bottom: 2px;
}

textbox:checked {
    border-color: #51afef;
}
textbox:checked .textbox_content {
    caret-color: #51afef;
    selection-color: #51afef40;
}

textbox:disabled {
    color: #888;
}

textbox:focus-visible {
    border-color: #51afef80;
}

textbox.error {
    border-color: #ef5151;
    border-width: 2px;
}

.modal {
    space: 1s;
    background-color: #e4e4e4;
    border-radius: 4px;
    border-width: 1px;
    border-color: #b6b6b6;
    overflow: visible;
    child-space: 8px;
    width: 200px;
    row-between: 16px;
}

.modal label {
    width: auto;
    height: auto;
    color: #888;
}

.modal button {
    top: 8px;
}

.modal .title {
    color: #000000;
    font-size: 18px;
    bottom: 4px;
}

.modal .accent {
    left: 1s;
}

tooltip .tooltip-wrapper {
    background-color: #51afef;
    border-radius: 4px;
    child-space: 8px;
}

tooltip .title {
    font-size: 18px;
}

tooltip .subtitle {
    color: #00000088;
}

tooltip label {
    color: #fff;
}

tooltip .tooltip-button-wrapper {
    top: 8px;
    left: 1s;
    width: auto;
    height: auto;
}

tooltip button {
    border-color: #fff;
}

.tooltip-pointer-wrapper {
    width: 16px;
    height: 12px;
    overflow: hidden;
    left: 4px;
}

.tooltip-pointer {
    width: 12px;
    height: 12px;
    background-color: #51afef;
    border-radius: 2px;
}
