.main {
    background-color: #F8F8F8;
    width: 1s;
    height: 1s;
}

.container {
    col-between: 10px;
    row-between: 10px;
    space: 1s;
}

button {
    width: auto;
    height: 28px;
    border-radius: 4px;
    child-space: 1s;
    child-left: 10px;
    child-right: 10px;
    border-width: 2px;
    border-color: #51AFEF;
    overflow: visible;
}

button label {
    color: #51AFEF;
    child-space: 1s;
}

button:over {
    border-color: #9FD5FB;
}

button:over label {
    color: #9FD5FB;
}

button:active {
    border-color: #3f8bbd;
}

button:active label {
    color: #3f8bbd;
}

button.accent {
    background-color: #51AFEF;
    border-width: 0px;
}

button.accent label {
    color: #fff;
}

button.accent:over {
    background-color: #9FD5FB;
}

button.accent:active {
    background-color: #317099;
}

button:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

button:disabled {
    border-color: #888;
}

button:disabled label {
    color: #888;
}

checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border-width: 2px;
    border-color: #888;
    background-color: transparent;
    child-space: 1s;
}

checkbox:hover {
    border-color: #51AFEF;
    background-color: transparent;
}

checkbox:focus-visible {
    outline-width: 1px;
    outline-color: #51AFEF;
    outline-offset: 3px;
}

checkbox:checked {
    background-color: #51AFEF;
    border-color: #51AFEF;
    color: #fff;
}

checkbox:disabled {
    border-color: #B6B6B6;
}

checkbox:hover:disabled {
    background-color: transparent;
}

checkbox:checked:hover {
    background-color: #9FD5FB;
    border-color: #9FD5FB;
    color: #fff;
}

checkbox:checked:disabled {
    background-color: #B6B6B6;
    border-color: #B6B6B6;
    color: #fff;
}

dropdown .title {
    width: auto;
    height: 30px;
    background-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #E4E4E4;
    child-space: 1s;
    child-left: 5px;
    overflow: visible;
}

dropdown .title:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

dropdown popup {
    top: 4px;
    background-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #E4E4E4;
}

dropdown popup list {
    width: 1s;
}

dropdown list label {
    width: 1s;
    height: 30px;
    child-left: 6px;
    color: #888;
}

dropdown list label:checked {
    color: #000;
}

dropdown list label:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

dropdown vstack {
    child-space: auto;
}

knob {
    width: 48px;
    height: 48;
    background-color: #242424;
    border-radius: 38px;
    border-width: 2px;
    border-color: #2F2F2F;
}

knob .track {
    background-color: #51AFEF;
}

knob:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton {
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-radius: 50%;
    border-color: #888;
    background-color: transparent;
    child-space: 1s;
}

radiobutton:hover {
    border-color: #51AFEF;
}

radiobutton:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton:checked {
    border-color: #51AFEF;
}

radiobutton:checked:hover {
    border-color: #9FD5FB;
}

radiobutton:disabled {
    border-color: #B6B6B6;
}

radiobutton .inner {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #888;
}

radiobutton:checked .inner {
    width: 8px;
    height: 8px;
    background-color: #51AFEF;
}

radiobutton:hover .inner {
    background-color: #9FD5FB;
}

radiobutton:disabled .inner {
    width: 8px;
    height: 8px;
    background-color: #B6B6B6;
}

scrollbar {
    background-color: #F8F8F8;
}

scrollbar.horizontal {
    height: 8px;
}

scrollbar.vertical {
    width: 8px;
}

scrollbar .thumb {
    background-color: #B6B6B6;
    min-width: 4px;
    min-height: 4px;
}

scrollbar.horizontal .thumb {
    height: 8px;
}

scrollbar.vertical .thumb {
    width: 8px;
}

scrollbar .thumb:hover {
    background-color: #888;
}

scrollbar .thumb:focus {
    background-color: #888;
}

slider * {
    background-color: #51AFEF20;
    border-radius: 2px;
}

slider:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
    border-radius: 4px;
}

slider .active {
    background-color: #51afef80;
    border-radius: 2px;
}

slider .thumb {
    background-color: #51AFEF;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    child-space: 1s;
}

spinbox {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    background-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #E4E4E4;
    child-space: 1s;
}

spinbox.horizontal {
    height: 32px;
}

spinbox.vertical {
    width: 32px;
}

spinbox .spinbox-button {
    height: 24px;
    child-space: 1s;
    color: #888888;
}

spinbox.horizontal .spinbox-button {
    width: 24px;
}

spinbox.vertical .spinbox-button {
    width: 1s;
}

spinbox .spinbox-button:hover {
    color: #000;
}

spinbox .spinbox-value {
    height: 24px;
    child-space: 1s;
    color: #000;
}

spinbox.vertical .spinbox-value {
    left: 4px;
    right: 4px;
}

switch {
    width: 24px;
    height: 16px;
    border-radius: 8px;
    border-width: 2px;
    border-color: #888888;
    background-color: transparent;
    child-space: 1s;
    transition: border-color 0.1 0;
}

.switch-handle-container {
    left: 2px;
    top: 2px;
    width: 16px;
    height: 8px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.1 0;
}

.switch-handle {
    width: 8px;
    height: 8px;
    background-color: #888888;
    border-radius: 4px;
    transition: background-color 0.1 0;
}

switch:hover .switch-handle-container .switch-handle {
    background-color: #51AFEF;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51AFEF;
}

switch:active {
    border-color: #b6b6b6;
    background-color: #dcdcdc;
}

switch:checked {
    border-color: #51AFEF;
}

switch:checked .switch-handle-container {
    background-color: #51afef40;
}

switch:checked .switch-handle-container .switch-handle {
    background-color: #51AFEF;
    left: 8px;
}

switch:checked:hover .switch-handle-container .switch-handle {
    background-color: #9FD5FB;
}

switch:disabled {
    border-color: #B6B6B6;
}

switch:disabled .switch-handle-container .switch-handle {
    background-color: #B6B6B6;
}

switch:hover:disabled {
    background-color: transparent;
}

switch:hover:disabled .switch-handle-container .switch-handle {
    background-color: #B6B6B6;
}

switch:checked:disabled .switch-handle-container {
    background-color: #B6B6B640;
}

switch:checked:disabled .switch-handle-container .switch-handle {
    background-color: #B6B6B6;
}

table {
    border-radius: 4px;
    space: 1s;
}

tablecolumn {
    width: 120px;
}

.table-column-header {
    height: 30px;
}

.table-column-title {
    child-left: 5px;
    width: 1s;
    height: 1s;
    font: "roboto-bold";
}

.table-column-icon {
    width: 30px;
    child-space: 1s;
    font: "icons";
}

.table-row-divisor {
    height: 1px;
    background-color: #404040;
}

.table-element {
    child-left: 5px;
    width: 1s;
    height: 32px;
    child-space: 1s;
    child-left: 4px;
    background-color: transparent;
}

.table-element-colored {
    left: 4px;
    top: 1s;
    bottom: 1s;
    background-color: #51AFEF20;
    child-space: 1s;
    child-left: 8px;
    child-right: 8px;
    child-top: 2px;
    child-bottom: 2px;
    border-radius: 4px;
    color: #51AFEF;
}