root {
    background-color: #e4e4e4;
    width: 1s;
    height: 1s;
    child-space: 1s;
}

.container {
    width: auto;
    height: auto;
    row-between: 8px;
    col-between: 8px;
}

/* Button  */

button {
    width: auto;
    height: 28px;
    border-radius: 4px;
    child-space: 1s;
    child-left: 10px;
    child-right: 10px;
    border-width: 1px;
    border-color: #d9d9d9;
    background-color: #ececec;
    overflow: visible;
    transition: background-color 0.1 0;
}

button label {
    color: #181818;
    child-space: 1s;
}

button:over {
    background-color: #fff;
    transition: background-color 0.1 0;
}

button:active {
    background-color: #d9d9d9;
}

button.accent {
    border-width: 0px;
    background-color: #51afef;
}

button.accent label {
    color: #181818;
}

button.accent:over {
    background-color: #80caff;
}

button.accent:active {
    background-color: #3995d6;
}

button:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

button:disabled {
    background-color: transparent;
    border-color: #404040;
}

button:disabled label {
    color: #888;
}

checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border-width: 2px;
    border-color: #888;
    background-color: transparent;
    child-space: 1s;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
    font: "icons";
}

checkbox:hover {
    border-color: #51afef;
    background-color: transparent;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
    outline-offset: 3px;
}

checkbox:checked {
    background-color: #51afef;
    border-color: #51afef;
    color: #fff;
    transition: background-color 0.2 0;
    transition: border-color 0.1 0;
}

checkbox:disabled {
    border-color: #b6b6b6;
    transition: border-color 0.1 0;
}

checkbox:hover:disabled {
    background-color: transparent;
    transition: background-color 0.1 0;
}

checkbox:checked:hover {
    background-color: #80caff;
    border-color: #80caff;
    color: #fff;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox:checked:disabled {
    background-color: #b6b6b6;
    border-color: #b6b6b6;
    color: #fff;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

dropdown .title {
    width: auto;
    height: 30px;
    background-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #e4e4e4;
    child-space: 1s;
    child-left: 5px;
    overflow: visible;
}

dropdown .title:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

dropdown popup {
    top: 4px;
    background-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #e4e4e4;
}

dropdown popup list {
    width: 1s;
}

dropdown list label {
    width: 1s;
    height: 30px;
    child-left: 6px;
    color: #888;
}

dropdown list label:checked {
    color: #000;
}

dropdown list label:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

dropdown vstack {
    child-space: auto;
}

knob {
    width: 48px;
    height: 48;
    background-color: #242424;
    border-radius: 38px;
    border-width: 2px;
    border-color: #2f2f2f;
}

knob .track {
    background-color: #51afef;
}

knob:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton {
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-radius: 50%;
    border-color: #888;
    background-color: transparent;
    child-space: 1s;
}

radiobutton:hover {
    border-color: #51afef;
}

radiobutton:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton:checked {
    border-color: #51afef;
}

radiobutton:checked:hover {
    border-color: #80caff;
}

radiobutton:disabled {
    border-color: #b6b6b6;
}

radiobutton .inner {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #888;
}

radiobutton:checked .inner {
    width: 8px;
    height: 8px;
    background-color: #51afef;
}

radiobutton:hover .inner {
    background-color: #80caff;
}

radiobutton:disabled .inner {
    width: 8px;
    height: 8px;
    background-color: #b6b6b6;
}

scrollbar {
    background-color: #f8f8f8;
}

scrollbar.horizontal {
    height: 8px;
}

scrollbar.vertical {
    width: 8px;
}

scrollbar .thumb {
    background-color: #b6b6b6;
    min-width: 4px;
    min-height: 4px;
}

scrollbar.horizontal .thumb {
    height: 8px;
}

scrollbar.vertical .thumb {
    width: 8px;
}

scrollbar .thumb:hover {
    background-color: #888;
}

scrollbar .thumb:focus {
    background-color: #888;
}

slider * {
    background-color: #51afef20;
    border-radius: 2px;
}

slider:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
    border-radius: 4px;
}

slider .active {
    background-color: #51afef80;
    border-radius: 2px;
}

slider .thumb {
    background-color: #51afef;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    child-space: 1s;
}

spinbox {
    background-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #e4e4e4;
    child-space: 1s;
}

spinbox.horizontal {
    layout-type: row;
    height: 32px;
}

spinbox.vertical {
    layout-type: column;
    width: 32px;
}

spinbox .spinbox-button {
    height: 24px;
    child-space: 1s;
    color: #888888;
}

spinbox.horizontal .spinbox-button {
    width: 24px;
}

spinbox.vertical .spinbox-button {
    width: 1s;
}

spinbox .spinbox-button:hover {
    color: #000;
}

spinbox .spinbox-value {
    space: 1s;
    height: 24px;
    child-space: 1s;
    color: #000;
}

switch {
    width: 24px;
    height: 16px;
    border-radius: 8px;
    border-width: 2px;
    border-color: #888888;
    background-color: transparent;
    child-space: 1s;
    transition: border-color 0.1 0;
}

.switch-handle-container {
    left: 2px;
    top: 2px;
    width: 16px;
    height: 8px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.1 0;
}

.switch-handle {
    width: 8px;
    height: 8px;
    background-color: #888888;
    border-radius: 4px;
    transition: background-color 0.1 0;
}

switch:hover .switch-handle-container .switch-handle {
    background-color: #51afef;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
}

switch:active {
    border-color: #b6b6b6;
    background-color: #dcdcdc;
}

switch:checked {
    border-color: #51afef;
}

switch:checked .switch-handle-container {
    background-color: #51afef40;
}

switch:checked .switch-handle-container .switch-handle {
    background-color: #51afef;
    left: 8px;
}

switch:checked:hover .switch-handle-container .switch-handle {
    background-color: #80caff;
}

switch:disabled {
    border-color: #b6b6b6;
}

switch:disabled .switch-handle-container .switch-handle {
    background-color: #b6b6b6;
}

switch:hover:disabled {
    background-color: transparent;
}

switch:hover:disabled .switch-handle-container .switch-handle {
    background-color: #b6b6b6;
}

switch:checked:disabled .switch-handle-container {
    background-color: #b6b6b640;
}

switch:checked:disabled .switch-handle-container .switch-handle {
    background-color: #b6b6b6;
}

table {
    border-radius: 4px;
    space: 1s;
}

tablecolumn {
    width: 120px;
}

.table-column-header {
    height: 30px;
}

.table-column-title {
    child-left: 5px;
    width: 1s;
    height: 1s;
    font: "roboto-bold";
}

.table-column-icon {
    width: 30px;
    child-space: 1s;
    font: "icons";
}

.table-row-divisor {
    height: 1px;
    background-color: #404040;
}

.table-element {
    child-left: 5px;
    width: 1s;
    height: 32px;
    child-space: 1s;
    child-left: 4px;
    background-color: transparent;
}

.table-element-colored {
    left: 4px;
    top: 1s;
    bottom: 1s;
    background-color: #51afef20;
    child-space: 1s;
    child-left: 8px;
    child-right: 8px;
    child-top: 2px;
    child-bottom: 2px;
    border-radius: 4px;
    color: #51afef;
}

textbox {
    width: auto;
    height: auto;
    border-width: 1px;
    border-color: #e4e4e4;
    border-radius: 4px;
    background-color: #fff;
    child-left: 5px;
    child-right: 5px;
    child-top: 2px;
    child-bottom: 2px;
}

textbox:checked {
    border-color: #51afef;
}
textbox:checked .textbox_content {
    caret-color: #51afef;
    selection-color: #51afef40;
}

textbox:disabled {
    color: #888;
}

textbox:focus-visible {
    border-color: #51afef80;
}

textbox.error {
    border-color: #ef5151;
    border-width: 2px;
}

.modal {
    space: 1s;
    background-color: #e4e4e4;
    border-radius: 4px;
    border-width: 1px;
    border-color: #b6b6b6;
    overflow: visible;
    child-space: 8px;
    width: 200px;
    row-between: 16px;
}

.modal label {
    width: auto;
    height: auto;
    color: #888;
}

.modal button {
    top: 8px;
}

.modal .title {
    color: #000000;
    font-size: 18px;
    bottom: 4px;
}

.modal .accent {
    left: 1s;
}

tooltip .tooltip-wrapper {
    background-color: #51afef;
    border-radius: 4px;
    child-space: 8px;
}

tooltip .title {
    font-size: 18px;
}

tooltip label {
    color: #181818;
}

tooltip button {
    top: 8px;
    left: 1s;
    border-color: #181818;
}

.tooltip-pointer-wrapper {
    width: 16px;
    height: 12px;
    overflow: hidden;
    left: 4px;
}

.tooltip-pointer {
    width: 12px;
    height: 12px;
    background-color: #51afef;
    border-radius: 2px;
}

timepicker {
    background-color: #fff;
    border-radius: 4px;
    child-space: 8px;
}

timepicker .timepicker-wrapper {
    col-between: 8px;
}

timepicker .timepicker-button-wrapper {
    row-between: 1s;
}

timepicker .timepicker-dots-wrapper {
    width: auto;
    height: 1s;
    child-space: 1s;
    row-between: 8px;
}

timepicker .timepicker-dot {
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background-color: #b6b6b6;
}

datepicker {
    background-color: #fff;
    width: 285px;
    /* height: 324px; */
    height: auto;

    border-radius: 4px;

    child-top: 8px;
    child-bottom: 8px;
    child-left: 16px;
    child-right: 16px;

    row-between: 8px;
}

.datepicker-header {
    width: 1s;
    height: auto;

    col-between: 4px;
}

.datepicker-header spinbox {
    width: auto;
}

.datepicker-divisor {
    width: 1s;
    height: 1px;
    background-color: #2f2f2f;
}

.datepicker-calendar {
    left: 1s;
    right: 1s;
}

.datepicker-calendar-header {
    child-space: 1s;
    width: 32px;
    height: 32px;
}

.datepicker-calendar-day {
    width: 32px;
    height: 32px;
    color: #888;
    child-space: 1s;

    cursor: hand;
}

.datepicker-calendar-day:checked {
    color: #fff;
    background-color: #51afef;
    border-radius: 4px;
}

.datepicker-calendar-day-disabled {
    width: 32px;
    height: 32px;
    color: #d9d9d9;
    child-space: 1s;

    cursor: arrow;
}

.datepicker-selected-date {
    left: 1s;
    right: 1s;
    color: #b0b0b0;
}

.datepicker-actions-container {
    left: 1s;
    right: 1s;
    col-between: 4px;
}

.datepicker-cancel {
    border-width: 2px;
    border-color: #ef5151;
    border-radius: 4px;
    height: auto;
    width: auto;
}

.datepicker-cancel label {
    top: 2px;
    bottom: 2px;
    right: 8px;
    left: 8px;
    color: #ef5151;
}

.datepicker-apply {
    border-width: 2px;
    border-color: #51afef;
    background-color: #51afef;
    border-radius: 4px;
    height: auto;
    width: auto;
}

.datepicker-apply label {
    top: 2px;
    bottom: 2px;
    right: 8px;
    left: 8px;
    color: #ffffff;
}

tabview {
    width: 1s;
    height: 1s;
    background-color: #fff;
}

.tabview-tabheader-wrapper {
    height: 32px;
    child-space: 4px;
    col-between: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #e4e4e4;
}

tabheader {
    width: auto;
    height: 32px;
    border-radius: 4px;
    color: #000;
    background-color: #e4e4e4;
}

tabheader label {
    top: 4px;
    bottom: 4px;
    left: 8px;
    right: 8px;
}

tabheader:disabled {
    background-color: transparent;
}

tabheader:disabled label {
    color: #888;
}

.tabview-content-wrapper {
    width: 1s;
    height: 1s;
    background-color: #fff;
}
