/* General */

* {
    color: #484848;
}

root {
    background-color: #dddddd;
}

.container {
    width: auto;
    height: auto;
    row-between: 8px;
    col-between: 8px;
}

/* Backgrounds */

.bg-default {
    background-color: #eeeeee;
}

.bg-side-pannel {
    background-color: #eee;
}

.bg-secondary {
    background-color: #ddd;
}

.bg-main {
    background-color: #fff;
}

/* Button  */

button {
    border-radius: 4px;
    background-color: #c4c4c4;
    transition: background-color 0.1 0;
}

button label {
    color: #484848;
    child-space: 1s;
}

button:over {
    background-color: #ddd;
    transition: background-color 0.1 0;
}

button:active {
    background-color: #c4c4c488;
}

button.accent {
    background-color: #51afef;
    transition: background-color 0.1 0;
}

button.accent:over {
    background-color: #80caff;
    transition: background-color 0.1 0;
}

button.accent:active {
    background-color: #3995d6;
}

button.outline {
    background-color: #80caff00;
    border-width: 1px;
    border-color: #51afef;
    transition: background-color 0.1 0;
}

button.outline label {
    color: #51afef;
}

button.outline:over {
    background-color: #80caff44;
    transition: background-color 0.1 0;
}

button.outline:active {
    background-color: #3995d644;
}

button.ghost {
    background-color: #80caff00;
    transition: background-color 0.1 0;
}

button.ghost label {
    color: #51afef;
}

button.ghost:over {
    background-color: #80caff44;
    transition: background-color 0.1 0;
}

button.ghost:active {
    background-color: #3995d644;
}

button:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

button:disabled {
    border-width: 0px;
    background-color: #00000022;
    border-color: #00000022;
}

button.outline:disabled {
    background-color: transparent;
    border-width: 1px;
    border-color: #00000022;
}

button.ghost:disabled {
    background-color: transparent;
}

button:disabled label {
    color: #484848;
}

/* Checkbox */

checkbox {
    border-radius: 4px;
    border-width: 2px;
    border-color: #48484888;
    background-color: #51afef00;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
    font-family: "Entypo";
}

checkbox:hover {
    border-color: #51afef;
    background-color: #51afef00;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

checkbox:checked {
    background-color: #51afef;
    border-color: #51afef;
    color: #fff;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox:disabled {
    border-color: #48484844;
    transition: border-color 0.1 0;
}

checkbox:hover:disabled {
    background-color: transparent;
    transition: border-color 0.1 0;
}

checkbox:checked:hover {
    background-color: #80caff;
    border-color: #80caff;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox:checked:disabled {
    background-color: #48484844;
    border-color: #48484844;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

checkbox.intermediate {
    background-color: #51afef;
    border-color: #51afef;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

/* Chip */

chip {
    border-radius: 16px;
}

/* Color Picker */

/* Datepicker */

datepicker {
    background-color: #ffffff;
    border-radius: 4px;
}

.datepicker-calendar-day {
    color: #48484888;
    cursor: hand;
}

.datepicker-calendar-day:checked {
    color: #ffffff;
    background-color: #51afef;
    border-radius: 4px;
}

.datepicker-calendar-day:checked:disabled {
    background-color: #48484888;
}

.datepicker-calendar-day-disabled {
    color: #48484850;
    cursor: arrow;
}

/* Date Time Picker */

datetimepicker {
    border-radius: 4px;
    background-color: #fff;
}

datetimepicker tabview {
    border-radius: 4px;
}

datetimepicker tabheader:checked label {
    color: #51afef;
}

datetimepicker tabheader .indicator {
    background-color: #2f2f2f;
}

datetimepicker tabheader:checked .indicator {
    background-color: #51afef;
}

/* Dropdown */

dropdown {
    border-width: 1px;
    border-color: #c4c4c4;
    background-color: #eee;
    border-radius: 4px;
}

dropdown:focus-visible {
    outline-width: 1px;
    outline-color: #51afef;
    outline-offset: 3px;
}

dropdown:disabled .title {
    color: #48484888;
}

dropdown popup {
    background-color: #eee;
    border-radius: 4px;
}

dropdown list label {
    color: #48484888;
    cursor: hand;
}

dropdown list label:checked {
    color: #484848;
}

dropdown list label:focus-visible {
    outline-width: 1px;
    outline-color: #51afef88;
    outline-offset: 3px;
}

dropdown list label:hover {
    background-color: #51afef22;
}

/* Element */

/* Image */

/* Knob */

knob {
    background-color: #eee;
    border-radius: 100px;
}

knob .knob-track {
    background-color: #51afef;
}

knob:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

.knob-head {
    background-color: #ffffff;
    border-width: 2px;
    border-color: #eee;
    border-radius: 100px;
    /* outer-shadow: 0 4 4 #484848; BUGGY */
}

.knob-tick {
    background-color: #484848;
    border-radius: 1px;
}

/* Label */

label.text-disabled {
    color: #484848;
}

/* List */

/* Menu */

menucontroller {
    background-color: #fff;
}

menustack {
    border-radius: 4px;
    background-color: #fff;
}

menustack.vertical {
    border-top-left-radius: 0px;
    border-width: 1px;
    border-color: #c4c4c4;
}

menu {
    border-radius: 4px;
}

menubutton:hover {
    background-color: #c4c4c4;
}

/* Notification */

notification {
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

notification .color-strip {
    background-color: #51afef;
}

notification .notification-header {
    border-top-right-radius: 4px;
}

notification .icon label {
    color: #484848;
}

notification .icon:checked label {
    color: #484848;
}

/* Picklist */

/* Popup */

popup {
    outer-shadow: 0 0 8 #00000026;
    opacity: 0%;
    transition: opacity 0.1 0;
}

popup:checked {
    opacity: 100%;
    transition: opacity 0.1 0;
}

/* Progress Bar */

/* Progress Steps */

/* Radio Button */

radiobutton {
    border-width: 2px;
    border-radius: 50%;
    border-color: #48484888;
    background-color: transparent;
    transition: background-color 0.1 0;
    transition: border-color 0.1 0;
}

radiobutton:hover {
    border-color: #51afef;
    transition: border-color 0.1 0;
}

radiobutton:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
}

radiobutton:checked {
    border-color: #51afef;
    transition: border-color 0.1 0;
}

radiobutton:checked:hover {
    border-color: #80caff;
    transition: border-color 0.1 0;
}

radiobutton:disabled {
    border-color: #48484844;
    transition: border-color 0.1 0;
}

radiobutton .inner {
    border-radius: 50%;
    background-color: #48484800;
    transition: width 0.15 0;
    transition: height 0.15 0;
    transition: background-color 0.1 0;
}

radiobutton:checked .inner {
    background-color: #51afef;
    transition: width 0.15 0;
    transition: height 0.15 0;
    transition: background-color 0.1 0;
}

radiobutton:hover .inner {
    background-color: #80caff;
    transition: background-color 0.1 0;
}

radiobutton:disabled .inner {
    background-color: #48484800;
    transition: background-color 0.1 0;
}

radiobutton:checked:disabled .inner {
    background-color: #48484844;
    transition: background-color 0.1 0;
}

/* Searchbox */

/* Scroll View */

/* Scroll Bar */

scrollbar {
    background-color: #ccc;
}

scrollbar .thumb {
    background-color: #48484844;
}

scrollbar .thumb:hover {
    background-color: #48484888;
}

scrollbar .thumb:focus {
    background-color: #48484888;
}

/* Slider */

slider {
    background-color: #51afef20;
    border-radius: 3px;
}

slider:focus-visible {
    outline-width: 1px;
    outline-color: #51afef80;
    outline-offset: 3px;
    border-radius: 4px;
}

slider .active {
    background-color: #51afef80;
    border-radius: 3px;
}

slider .thumb {
    background-color: #51afef;
    border-radius: 50%;
}

slider .thumb:hover {
    background-color: #80caff;
}

slider:disabled {
    background-color: #48484844;
}

slider:disabled .active {
    background-color: #48484844;
}

slider:disabled .thumb {
    background-color: #48484844;
}

/* Named Slider */

namedslider {
    background-color: #eee;
    border-radius: 4px;
}

namedslider > textbox {
    color: #48484888;
}

namedslider slider label {
    background-color: transparent;
}

/* Spinbox */

spinbox {
    border-width: 1px;
    border-color: #c4c4c4;
    background-color: #eee;
    border-radius: 4px;
}

spinbox .spinbox-button {
    color: #48484888;
    cursor: hand;
}

spinbox .spinbox-button:hover {
    color: #484848;
}

spinbox .spinbox-value {
    color: #484848;
}

spinbox textbox.spinbox-value {
    border-width: 0px;
    border-radius: 0px;
}

spinbox dropdown.spinbox-value {
    border-width: 0px;
}

spinbox picklist.spinbox-value dropdown {
    background-color: transparent;
    border-width: 0px;
    border-radius: 0px;
    col-between: 4px;
}

/* Stack */

/* Switch */

switch .switch-handle {
    border-radius: 50%;
    background-color: #eee;
    transition: background-color 0.1 0;
    transition: left 0.1 0;
}

switch .switch-handle-bg {
    border-radius: 6px;
    background-color: #c4c4c4;
    transition: background-color 0.1 0;
}

switch:hover .switch-handle {
    background-color: #fff;
    transition: background-color 0.1 0;
}

switch:focus-visible {
    outline-width: 1px;
    outline-color: #51afef88;
    outline-offset: 3px;
}

switch:checked .switch-handle-bg {
    background-color: #a7bfcf;
    transition: background-color 0.1 0;
}

switch:checked .switch-handle {
    background-color: #51afef;
    transition: background-color 0.1 0;
}

switch:checked:hover .switch-handle {
    background-color: #90d0fc;
    transition: background-color 0.1 0;
}

switch:disabled .switch-handle {
    background-color: #aaaaaa;
    transition: background-color 0.1 0;
}

switch:hover:disabled .switch-handle {
    background-color: #aaaaaa;
    transition: background-color 0.1 0;
}

switch:checked:disabled .switch-handle {
    background-color: #aaaaaa;
    transition: background-color 0.1 0;
}

switch:checked:disabled .switch-handle-bg {
    background-color: #c4c4c4;
    transition: background-color 0.1 0;
}

switch:checked:hover:disabled .switch-handle {
    background-color: #aaaaaa;
    transition: background-color 0.1 0;
}
/* Tab */

tabview {
    background-color: #eee;
    layout-type: column;
}

tabview tabheader label {
    color: #48484888;
}

tabview tabheader:checked label {
    color: #484848;
}

tabview.vertical tabheader label {
    color: #48484888;
}

tabview.vertical tabheader:checked label {
    color: #484848;
}

tabview tabheader .indicator {
    background-color: transparent;
    height: 2px;
    width: 1s;
}

tabview.vertical tabheader .indicator {
    background-color: transparent;
    height: 1s;
    width: 2px;
}

tabview tabheader:checked .indicator {
    background-color: #51afef;
}

/* Table */

table {
    border-radius: 4px;
    background-color: #ffffff;
}

.table-column-title {
    font-weight: 600;
}

.table-column-icon {
    font-family: "Entypo";
}

.table-row-divisor {
    background-color: #48484844;
}

.table-element {
    background-color: transparent;
}

.table-element-colored {
    background-color: #51afef20;
    border-radius: 4px;
    color: #51afef;
}

/* Textbox */

textbox {
    border-width: 1px;
    border-radius: 4px;
    border-color: #c4c4c4;
    background-color: #eee;
    transition: border-color 0.1 0;
    transition: background-color 0.1 0;
    /* outer-shadow: 0 0 0 transparent; */
}

textbox textboxlabel {
    color: #484848;
    transition: color 0.1 0;
}

textbox:checked {
    border-width: 1px;
    border-color: #51afef;
    background-color: #fff;
    outer-shadow: 0 4 4 #00000026;
    transition: border-color 0.1 0;
    transition: outer-shadow 0.1 0;
}

textbox:checked .textbox_content {
    caret-color: #51afef;
    selection-color: #51afef88;
}

textbox:disabled textboxlabel {
    color: #48484888;
    transition: color 0.1 0;
}

textbox:focus-visible {
    border-color: #51afef88;
    transition: border-color 0.1 0;
}

textbox.error {
    border-color: #ef5151;
    border-width: 1px;
    transition: border-color 0.1 0;
    background-color: #efd7d7;
}

textbox.error:checked {
    background-color: #fdeaea;
}

/* Time Picker */

timepicker {
    background-color: #ffffff;
    border-radius: 4px;
}

/* Digital Time Picker */

digitaltimepicker {
    background-color: #ffffff;
    border-radius: 4px;
}

digitaltimepicker .digitaltimepicker-dot {
    border-radius: 4px;
    background-color: #c4c4c4;
}

digitaltimepicker textbox {
    font-size: 24px;
}

/* Radial Time Picker */

analogtimepicker {
    background-color: #ffffff;
    border-radius: 4px;
}

analogtimepicker .clock-face {
    border-radius: 50%;
    background-color: #eee;
}

analogtimepicker .clock-hand {
    background-color: #51afef;
}

analogtimepicker .center-dot {
    border-radius: 50%;
    background-color: #51afef;
}

analogtimepicker .marker {
    border-radius: 50%;
    cursor: hand;
    background-color: transparent;
}

analogtimepicker .marker:checked {
    background-color: #51afef;
    color: #fff;
}

analogtimepicker .time-selector-wrapper {
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
}

analogtimepicker .time-selector-wrapper button {
    border-radius: 0px;
    background-color: transparent;
}

analogtimepicker .time-selector-wrapper button label {
    color: #48484888;
}

analogtimepicker .time-selector-wrapper button label {
    color: #48484888;
}

analogtimepicker .time-selector-wrapper button:hover label {
    color: #484848;
}

analogtimepicker .time-selector-wrapper button:checked label {
    color: #484848;
}

analogtimepicker .time-selector-wrapper button .indicator {
    background-color: transparent;
    top: 1s;
}

analogtimepicker .time-selector-wrapper button:checked .indicator {
    background-color: #51afef;
}

/* Tooltip */

tooltip .tooltip-wrapper {
    background-color: #51afef;
    border-radius: 4px;
}

tooltip .title {
    font-weight: 600;
    font-size: 18px;
}

tooltip .subtitle {
    color: #484848;
}

tooltip .tooltip-wrapper > label {
    color: #181818;
}

tooltip button {
    border-color: #181818;
}

.tooltip-pointer-wrapper {
    width: 16px;
    height: 12px;
    overflow: hidden;
    left: 4px;
}

.tooltip-pointer {
    width: 12px;
    height: 12px;
    background-color: #51afef;
    border-radius: 2px;
}

/* Tree */

/* Modal */

.modal {
    background-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-color: #c4c4c4;
}

.modal label {
    color: #48484888;
}

.modal .title {
    color: #484848;
    font-size: 18px;
}
