/* * {
    border: 1px red;
} */

markdown {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16;
    child-space: 20px;
}

markdown .h1,
markdown .h2,
markdown .h3,
markdown .h4,
markdown .h5,
markdown .h6 {
    width: 1s;
    top: 24px;
    bottom: 16px;
    font-weight: 600;
}

markdown .h1 {
    font-size: 32;
}

markdown .h2 {
    child-bottom: 4px;
    font-size: 24;
}

markdown .h3 {
    font-size: 20;
}

markdown .h4 {
    font-size: 16;
}

markdown .h5 {
    font-size: 14;
}

markdown .h6 {
    font-size: 13.5;
    color: #636c76;
}

markdown .p {
    top: 0;
    bottom: 16px;
    text-wrap: true;
    width: 1s;
}

markdown .emph {
    font-slant: italic;
}

markdown .strong {
    font-weight: 600;
}

markdown .strikethrough {
    text-decoration-line: strikethrough;
}

markdown .code {
    font-family: monospace;
    background-color: #afb8c133;
    child-space: 12px;
    width: 1s;
    min-width: auto;
}

markdown .link {
    color: blue;
    text-decoration-line: underline;
}

markdown .li .h1,
markdown .li .h2,
markdown .li .h3,
markdown .li .h4,
markdown .li .h5,
markdown .li .h6 {
    space: 0px;
    child-space: 0px;
}

.testy {
    space: 20px;
}

.testy .span {
    font-weight: normal;
}

.testy .span:hover {
    font-weight: bold;
}
