:root {
    background-color: var(--background);
    color: var(--foreground);
    font-family:
        -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Noto Sans",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-variation-settings: "wght" 400;
    font-size: 14px;

    --gray-50: #ffffff;
    --gray-75: #fdfdfd;
    --gray-100: #f8f8f8;
    --gray-200: #e6e6e6;
    --gray-300: #d5d5d5;
    --gray-400: #b1b1b1;
    --gray-500: #909090;
    --gray-600: #6c6c6c;
    --gray-700: #464646;
    --gray-800: #222222;
    --gray-900: #000000;

    --background: var(--gray-50);
    --foreground: var(--gray-800);
    --card: var(--gray-75);
    --card-foreground: var(--gray-800);
    --popover: var(--gray-50);
    --popover-foreground: var(--gray-800);
    --primary: var(--gray-800);
    --primary-foreground: var(--gray-75);
    --secondary: var(--gray-200);
    --secondary-foreground: var(--gray-800);
    --muted: var(--gray-200);
    --muted-foreground: var(--gray-500);
    --accent: var(--gray-200);
    --accent-foreground: var(--gray-800);
    --destructive: oklch(0.577 0.245 27.325);
    --border: var(--gray-400);
    --input: oklch(0.922 0 0);
    --ring: var(--gray-500);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --gray-50: #000000;
    --gray-75: #0e0e0e;
    --gray-100: #1d1d1d;
    --gray-200: #303030;
    --gray-300: #4b4b4b;
    --gray-400: #6a6a6a;
    --gray-500: #8d8d8d;
    --gray-600: #b0b0b0;
    --gray-700: #d0d0d0;
    --gray-800: #ebebeb;
    --gray-900: #ffffff;
}

*:focus-visible {
    outline-width: 3px;
    outline-color: var(--ring);
    outline-offset: 0px;
}

/* BUTTON  */

button {
    corner-radius: 4px;
    background-color: var(--primary);
    color: var(--primary-foreground);
    fill: var(--primary-foreground);
    transition: background-color 100ms;
}

button:hover {
    background-color: var(--gray-700);
    transition: background-color 100ms;
}

button:active {
    background-color: var(--gray-600);
    transition: background-color 100ms;
}

button.secondary,
button-group.secondary > button {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    fill: var(--secondary-foreground);
    transition: background-color 100ms;
    transition: color 100ms;
    transition: fill 100ms;
}

button.secondary:hover,
button-group.secondary > button:hover {
    background-color: var(--secondary);
    transition: background-color 100ms;
    transition: color 100ms;
    transition: fill 100ms;
}

button.secondary:active,
button-group.secondary > button:active {
    background-color: var(--secondary);
    transition: background-color 100ms;
    transition: color 100ms;
    transition: fill 100ms;
}

button.outline,
button-group.outline > button {
    background-color: var(--background);
    border-width: 1px;
    border-color: var(--border);
    color: var(--foreground);
    fill: var(--foreground);
    transition: background-color 100ms;
    transition: border-color 100ms;
    transition: color 100ms;
    transition: fill 100ms;
}

button.outline:hover,
button-group.outline > button:hover {
    background-color: var(--gray-200);
    transition: background-color 100ms;
    transition: border-color 100ms;
    transition: color 100ms;
    transition: fill 100ms;
}

button.outline:active,
button-group.outline > button:active {
    background-color: var(--gray-300);
    transition: background-color 100ms;
    transition: border-color 100ms;
    transition: color 100ms;
    transition: fill 100ms;
}

button.text,
button-group.text > button {
    background-color: var(--background);
    color: var(--foreground);
    fill: var(--foreground);
    transition: background-color 100ms;
    transition: color 100ms;
    transition: fill 100ms;
}

button.text:hover,
button-group.text > button:hover {
    background-color: var(--gray-200);
    transition: background-color 100ms;
    transition: color 100ms;
    transition: fill 100ms;
}

button.text:active,
button-group.text > button:active {
    background-color: var(--gray-300);
    transition: background-color 100ms;
    transition: color 100ms;
    transition: fill 100ms;
}

button:disabled {
    color: var(--muted-foreground);
    fill: var(--muted-foreground);
    transition: background-color 100ms;
    transition: color 100ms;
    transition: fill 100ms;
}

/* BUTTON GROUP */

button-group {
    gap: 1px;
}

button-group:has(toggle-button) {
    gap: -1px;
}

button-group.secondary {
    gap: 1px;
}

button-group.outline {
    gap: -1px;
}

button-group > button,
button-group > toggle-button,
button-group > textbox {
    corner-radius: 0px;
}

button-group.vertical > button,
button-group.vertical > toggle-button,
button-group > textbox {
    corner-radius: 0px;
}

button-group > :first-child {
    corner-top-left-radius: 4px;
    corner-bottom-left-radius: 4px;
}

button-group > :last-child {
    corner-top-right-radius: 4px;
    corner-bottom-right-radius: 4px;
}

button-group.vertical > :first-child {
    corner-radius: 0px;
    corner-top-right-radius: 4px;
    corner-top-left-radius: 4px;
}

button-group.vertical > :last-child {
    corner-radius: 0px;
    corner-bottom-right-radius: 4px;
    corner-bottom-left-radius: 4px;
}

/* CHECKBOX */

checkbox {
    corner-radius: 2px;
    border-width: 1px;
    border-color: var(--border);
    background-color: var(--background);
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:hover {
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:active {
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:disabled {
    border-color: var(--muted);
    background-color: var(--muted);
    transition: background-color 100ms;
    transition: border-color 100ms;
}

checkbox:checked {
    background-color: var(--primary);
    border-color: var(--primary);
    fill: var(--primary-foreground);
    transition: background-color 100ms;
    transition: border-color 100ms;
    transition: fill 100ms;
}

checkbox:checked:hover {
    transition: background-color 100ms;
    transition: border-color 100ms;
    transition: fill 100ms;
}

checkbox:checked:active {
    transition: background-color 100ms;
    transition: border-color 100ms;
    transition: fill 100ms;
}

checkbox:checked:disabled {
    background-color: var(--muted);
    border-color: var(--muted);
    fill: var(--muted-foreground);
    transition: background-color 100ms;
    transition: border-color 100ms;
    transition: fill 100ms;
}

/* LIST */

list label.dark,
virtual-list label.dark {
    background-color: #00000015;
}

list.selectable list-item,
virtual-list.selectable list-item {
    background-color: transparent;
}

list.selectable list-item.focused,
virtual-list.selectable list-item.focused {
    background-color: #a3a3a3;
}

list.selectable list-item:hover,
virtual-list.selectable list-item:hover {
    background-color: #7b7bff;
}

list.selectable list-item:checked,
virtual-list.selectable list-item:checked {
    background-color: #51afef;
}

/* PICKLIST */

picklist {
    corner-radius: 4px;
}

picklist list.selectable list-item:checked {
    background-color: transparent;
}

picklist list.selectable list-item .checkmark {
    fill: var(--primary);
    visibility: hidden;
}

picklist list.selectable list-item:checked .checkmark {
    visibility: visible;
}

picklist list.selectable list-item:hover {
    background-color: var(--accent);
}

picklist list.selectable list-item:focus-visible {
    background-color: var(--accent);
    outline-color: transparent;
}

/* POPUP */

popup {
    background-color: var(--popover);
    corner-radius: 4px;
    border-width: 1px;
    border-color: var(--border);
    padding: 1px;
    shadow: 0px 3px 12px #00000038;
}

/* TOGGLE BUTTON */

toggle-button {
    corner-radius: 4px;
    border-width: 1px;
    border-color: var(--border);
    background-color: var(--background);
    transition: background-color 100ms;
}

toggle-button:hover {
    background-color: var(--gray-200);
    transition: background-color 100ms;
}

toggle-button:active {
    background-color: var(--gray-300);
}

toggle-button:checked {
    background-color: var(--gray-200);
    transition: background-color 100ms;
}

toggle-button:disabled {
    border-color: var(--border);
    color: var(--muted-foreground);
    background-color: var(--muted);
    transition: background-color 100ms;
    transition: border-color 100ms;
}
