button {
    background-color: white;
    width: auto;
    height: 30px;
    border-radius: 3px;
    child-space: 1s;
    child-left: 5px;
    child-right: 5px;
    border-width: 1px;
    border-color: #e5e5e5;
    outer-shadow: 0 1 1 #00000055;
    overflow: visible;
}

button label {
    color: #1a1a1a;
    background-color: #00000000;
    child-space: 1s;
}

button:over {
    background-color: #f6f6f6;
}

button:active {
    /* outer-shadow: 0 0 0 #00000055; */
    overflow: hidden;
}

button:active label {
    color: #5d5d5d;
}

button.accent {
    background-color: #005a9e;
    border-width: 0px;
    /* border-color: #3076ae */
    border-color: #3076ae;
    outer-shadow: 0 1 0 #00365f;
}

button.accent label {
    color: white;
}

button.accent:over {
    background-color: #1969a7;
}

button.accent:active {
    background-color: #3178af;
}

button.accent:active label {
    color: #c2d7e7;
}

checkbox {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border-color: #838383;
}

checkbox:hover {
    background-color: #e5e5e5;
}

checkbox:active {
    border-color: #b6b6b6;
    background-color: #dcdcdc;
}