.container {
    child-space: 1s;
    row-between: 10px;
}

list {
    row-between: 5px;
}

list label {
    width: 100px;
    height: 30px;
    border-color: black;
    border-width: 1px;
    background-color: white;
}

list label:focus-visible {
    outline-width: 2px;
    outline-color: blue;
}

list label:checked {
    background-color: blue;
    color: white;
}
