list {
    row-between: 5px;
    width: auto;
    height: auto;
}

list label {
    width: 100px;
    height: 30px;
    child-space: 1s;
    border-color: #595959;
    border-width: 1px;
    child-space: 1s;
}

list label:focus-visible {
    outline-width: 2px;
    outline-color: blue;
}

list label:checked {
    background-color: blue;
    color: white;
}
