.foo {
    background-color: blue;
    border-color: green;
    border-width: thick;
    space: 100px;
    size: 200px;
    left: 50%;
    height: 1s;
}

.foo:hover {
    background-color: red;
    border-color: black;
    transition: background-color 2s, border-color 4s;
}
