list {
    vertical-gap: 5px;
    width: auto;
    height: auto;
}

list label {
    width: 100px;
    height: 30px;
    padding: 1s;
    border-color: #595959;
    border-width: 1px;
    padding: 1s;
}

list label:focus-visible {
    outline-width: 2px;
    outline-color: blue;
}

list label:checked {
    background-color: blue;
    color: white;
}

vstack.container {
    padding: 1s;
    vertical-gap: 5px;
    size: auto;
    space: 1s;
    top: 100px;
}
