

.top-bar {
    height: 40px;
}

.headings {
    height: 30px;
    col-between: 16px;
    child-left: 8px;
    child-right: 8px;
    child-top: 1s;
    child-bottom: 1s;
}

.symbol {
    width: 40px;
    height: 40px;
    font-size: 32.0;
    child-space: 1s;
}

.symbol-list {
    child-space: 8px;
}

.symbol-label {
    width: 40px;
    child-space: 1s;
}

.name-label {
    width: 200px;
}

.unicode-label {
    width: 80px;
}

.list-row {
    height: 40px;
    width: 1s;
    col-between: 16px;
    child-left: 8px;
    child-right: 8px;
    child-top: 1s;
    child-bottom: 1s;
}

.list-row.odd {
    background-color: rgb(34, 34, 34);
    border-radius: 4px;
}

scrollview .scroll_content {
    /* Change this to min-width: 100% once that works */
    width: 1s;
    right: 10px;
    height: auto;
}
