

button {
    background-color: #808080;
    width: 100px;
    height: 30px;
}

button:hover {
    background-color: #AAAAAA;
}

hstack {
    width: 1s;
    height: 1s;
}

vstack {
    width: 1s;
    height: 1s;
}