

button {
    background-color: #808080;
    width: 100px;
    height: 30px;
    color: black;
}

button:hover {
    background-color: #AAAAAA;
}

label {
    width: 100px;
    height: 30px;
    child-space: 1s;
    child-left: 5px;
}

hstack {
    width: 1s;
    height: 1s;
}

vstack {
    width: 1s;
    height: 1s;
}

zstack>* {
    position-type: self-directed;
}

checkbox {
    border-width: 1px;
    border-color: black;
    font: icons;
    child-space: 1s;
}

checkbox:checked {
    
}