[package]
name = "vizia_core"
version = "0.1.0"
authors = ["George Atkinson"]
license = "MIT"
repository = "https://github.com/vizia/vizia"
edition = "2021"
description = "Core components of vizia"
rust-version = "1.60"

[features]
clipboard = ["copypasta"]
x11 = ["copypasta?/x11"]
wayland = ["copypasta?/wayland"]
embedded_fonts = []

[dependencies]
vizia_derive = { path = "../vizia_derive" }
vizia_storage = { path = "../vizia_storage" }
vizia_id = { path = "../vizia_id" }
vizia_input = { path = "../vizia_input" }
vizia_window = { path = "../vizia_window" }
vizia_style = { path = "../vizia_style"}
accesskit = "0.9.0"

femtovg = "0.6.0"
# femtovg = { git = "https://github.com/rhelmot/femtovg", rev = "09f4837fff4d2cd58ddc4674d0d7e1296a4123aa", default-features = false, features = ["image-loading"] }
#femtovg = { path = "../../../femtovg", default-features = false, features = ["image-loading"] }
image = { version = "0.24.0", default-features = false, features = ["png"] } # inherited from femtovg
morphorm = {path = "../../../morphorm" }
# morphorm = {git = "https://github.com/vizia/morphorm", features = ["rounding"], rev = "3d74358fe976249738f58724854270aa2f0fdb4a" }
#morphorm = { path = "../../../morphorm", features = ["rounding"] }
bitflags = "1.3.2"
fnv = "1.0.7"
fluent-bundle = "0.15.2"
fluent-langneg = "0.13"
fluent-syntax = "0.11.0"
unic-langid = "0.9"
sys-locale = "0.2.0"
cssparser = "0.27.2"
unicode-segmentation = "1.8.0"
unicode-bidi = "0.3.7"
copypasta = {version = "0.8.1", optional = true, default-features = false }
instant = "0.1.12"
serde = { version = "1.0", optional = true, features = ["derive"] }
ouroboros = "^0.15"
#cosmic-text = "^0.6"
cosmic-text = { git = "https://github.com/pop-os/cosmic-text", rev = "e788c175ec31094b04dcacbc0537dba4433afcfc" }
# cosmic-text = { git = "https://github.com/rhelmot/cosmic-text", rev = "45fbf25958437706e4f5c07b5169eee8079d774d" }
#cosmic-text = { path = "../../../cosmic-text" }
swash = "^0.1"
replace_with = "0.1.7"

# Required so that doc tests will compile
[dev-dependencies]
vizia_winit = {version = "0.1.0", path = "../vizia_winit" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
web_sys = { version = "0.3", package = "web-sys", features = ["console"] }
