name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        backend: [winit, baseview]
        wasm: [""]
        include:
          - os: ubuntu-latest
            backend: winit
            wasm: "--target wasm32-unknown-unknown"
    env:
      RUSTFLAGS: '-D warnings'
    steps:
    - uses: actions/checkout@v2
    - name: Install XCB and GL dependencies
      run: |
        sudo apt update
        # baseview dependencies
        sudo apt install libx11-xcb-dev libxcb-dri2-0-dev libgl1-mesa-dev libxcb-icccm4-dev libxcursor-dev libxcb-{render,shape,xfixes}0-dev
      if: contains(matrix.os, 'ubuntu')
    - name: Install rust stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - name: Install wasm toolchain
      if: "matrix.wasm != ''"
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: wasm32-unknown-unknown
    - name: Check Format
      run: cargo fmt -- --check
    - name: Build
      run: cargo build --verbose --all-targets ${{ matrix.wasm }} --no-default-features --features clipboard,${{ matrix.backend }} --workspace
    - name: Run Tests
      if: "matrix.wasm == ''"
      run: cargo test --verbose --no-default-features --features clipboard,${{ matrix.backend }} --workspace
